$steps-text-color: #FFFFFF;
$steps-background: #43c900;
$steps-background-active: #16ac07;

.l-cart {

	&-steps {
		margin-left: -$block-indent-size;
		margin-right: -$block-indent-size;
		margin-bottom: ($block-indent-size + $block-indent-size);
		background: $steps-background;
		color: $steps-text-color;
		font-size: 1.2em;
		text-transform: uppercase;
		display: flex;
		white-space: nowrap;
		flex-direction: column;

		@media #{$media-sm} {
			flex-direction: row;
			padding: 0 $block-indent-size;
		}

		span {
			width: 100%;
			text-align: center;
			padding: 18px;
			display: block;

			@media #{$media-md} {
				width: 50%;
			}
		}

		.is-active {
			background: $steps-background-active;
		}
	}

	&-total {
		margin-top: 15px;
		margin-bottom: 55px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		width: 100%;
		margin-left: auto;
		max-width: 556px;
		align-items: center;

		@media #{$media-sm} {
			flex-direction: row;
		}

		&-word {
			margin-bottom: auto;

			@media #{$media-sm} {
				margin-right: auto;
				flex-shrink: 0;
			}
		}

		&-price {
			margin: $block-indent-size 0;
			padding: 0 $block-indent-size;

			@media #{$media-sm} {
				width: 100%;
			}

			@media #{$media-sm} {
				margin: 0;
				text-align: center;
				min-width: 220px;
			}

			@media #{$media-md} {
				margin: 0;
				min-width: 248px;
			}

			&-money, &-desc {
				display: block;
				line-height: 1;
			}

			&-money {
				font-size: 2em;
				font-weight: 500;
				&:after {
					content: ' *';
					color: #fa3c7a;
				}
			}

			&-desc {
				font-size: 60%;
				color: #fa3c7a;
			}
		}

		.btn {
			padding: 16px 30px;
			flex-shrink: 0;
			min-width: 230px;
		}
	}

	&-login {
		display: flex;
		margin-bottom: 55px;
		justify-content: center;

		@media #{$media-md} {
			justify-content: flex-end;
		}
	}

}

.l-cart-list {

	&-header {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		@media #{$media-md} {
			flex-direction: row;
			flex-wrap: nowrap;
		}

		@media #{$media-md} {
			font-size: 100%;
		}

		> span {
			width: 100%;
			border: 1px solid #D4D4D4;
			padding: 5px $block-indent-size;
			background: #d9d9d9;
			font-size: 90%;
			display: flex;
			justify-content: center;
			align-items: center;

			@media #{$media-md} {
				width: auto;
				padding: 10px $block-indent-size;
			}
		}

		.l-cart-list-item-name {
			text-align: center;
			width: 100%;

			@media #{$media-md} {
				width: 20%;
			}
		}

		.l-cart-list-item-desc {
			text-align: center;
			width: 100%;

			@media #{$media-md} {
				justify-content: flex-start;
				width: 40%;
			}
		}

		.l-cart-list-item-price {
			width: 33.3333%;
			@media #{$media-md} {
				width: 10%;
			}
		}

		.l-cart-list-item-amount {
			width: 33.3333%;
			@media #{$media-sm} {
				min-width: 100px;
			}
			@media #{$media-md} {
				width: 10%;
			}
		}

		.l-cart-list-item-total {
			width: 33.3333%;
			@media #{$media-md} {
				width: 10%;
			}
		}

		.l-cart-list-item-remove {
			display: none;
			@media #{$media-md} {
				width: 10%;
				max-width: 50px;
				display: block;
			}
		}

	}

	&-body {
		display: flex;
		flex-direction: column;
	}

	&-item {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		border-bottom: solid 1px #D4D4D4;
		padding: 5px 0;

		@media #{$media-md} {
			flex-direction: row;
			flex-wrap: nowrap;
		}

		&-info {
			border: none;
			span {
				width: 50% !important;
			}
		}

		> span {
			padding: 5px 15px;
		}

		&-name {
			width: 100%;
			text-align: center;

			@media #{$media-md} {
				width: 20%;
			}
		}

		&-desc {
			flex-grow: 3;
			width: 100%;
			text-align: center;

			@media #{$media-md} {
				width: 40%;
				text-align: left;
			}

			a {
				color: #43c900;
				text-decoration: underline;
				display: inline-block;
				margin-bottom: 5px;
				font-weight: 500;
				&:hover {
					color: #16ac07;
				}
			}
		}

		&-price {
			width: 40%;
			text-align: center;
			font-size: 1.4em;

			@media #{$media-md} {
				font-size: 1em;
				width: 10%;
			}
		}

		&-amount {
			width: 20%;
			text-align: center;

			@media #{$media-sm} {
				min-width: 90px;
			}

			@media #{$media-md} {
				width: 10%;
			}

			.form-control {
				width: 100% !important;
				min-width: 55px !important;
			}
		}

		&-total {
			text-align: center;
			width: 40%;
			font-size: 1.4em;

			@media #{$media-md} {
				width: 10%;
				font-size: 1em;
			}
		}

		&-remove {
			width: 100%;
			text-align: center;
			font-size: 2em;

			@media #{$media-md} {
				width: 10%;
				max-width: 50px;
				font-size: 1em;
			}

			button {
				font-size: 150%;
				transition: color 0.3s;
				background: none;
				border: none;
				position: relative;
				top: 2px;
				line-height: 0;
				cursor: pointer;

				&:after {
					@include mi('close');
				}


				&:hover {
					color: #fa3c7a;
				}
				&:active, &:focus {
					left: 1px;
				}
			}
		}
	}

}

#cart-section {
	.empty {
		text-align: center;
	}
}