.l-category {
	border-bottom: solid 1px #e1e1e1;
	margin-bottom: ($block-indent-size + $block-indent-size);

	&:last-child {
		border: none;
		margin-bottom: 0;
	}

	.title {
		margin-bottom: 20px;

		@media #{$media-lg} {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
		}

		.title-group {
			padding-top: 10px;

			h3 {
				font-size: 18px;
				margin-bottom: 0;
			}

			.title-description {

			}
		}
	}

	.title-btn {
		min-width: 190px;
		text-align: right;

		@media #{$media-md} {
			margin-left: auto;
		}

		.btn {
			margin-top: $block-indent-size;
			white-space: nowrap;
			background: #faa741;
			border: solid 1px #ec9026;
			padding: 10px 12px 8px 12px;
			font-weight: 500;
			font-size: 70%;
			text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.5);

			&:hover {
				background: darken(#faa741, 10%);
			}

			&:focus, &:active {
				color: #FFFFFF;
				background: darken(#faa741, 15%);
			}
		}
	}

	//select[name='filter[order]'] {
	//	width: 210px;
	//}

	.filter select {
		font-size: 16px;
	}
}