.l-checkout {

	&-payment-payments {
		&:after {
			content: ' ';
			display: block;
			margin-left: 45px;
			background: url(../img/payments-min.png) no-repeat;
			background-size: contain;
			width: 235px;
			height: 30px;

			@media #{$media-sm} {
				width: 295px;
				height: 37px;
			}
		}
	}

	&-payment-paypal {
		&:after {
			content: ' ';
			width: 44px;
			height: 28px;
			display: block;
			margin-left: 45px;
			margin-top: 5px;
			background: url(../img/paypal.png) no-repeat;
		}
	}

	&-payment_system {
		.control-label {
			margin-right: $block-indent-size;
			width: auto !important;

			&:not(:last-child) {
				margin-bottom: $block-indent-size;
			}
		}
	}

	.title {
		margin-bottom: $block-indent-size;
	}

	&-payment {
		flex-direction: row;
		align-items: flex-start;

		.control-label {
			width: auto !important;
			margin-bottom: 35px;

			&:first-child {
				margin-right: $block-indent-size + $block-indent-size;
			}
		}
	}

	.form-group {

		.btn {
			padding: 9px 28px;
			margin-top: $block-indent-size;
			margin-bottom: 0;

			@media #{$media-sm}{
				margin-left: $block-indent-size;
			}
		}

	}

	.help-block {
		@media #{$media-sm}{
			padding-left: 205px;
		}
	}

	a {
		color: #d80047;
		&:hover {
			color: #fa3c7a;
		}
	}

	input[name='checkout[discount_code]']{
		max-width: 100% !important;
		@media #{$media-sm}{
			min-width: 336px !important;
			margin-right: 15px;
		}
	}

}

.coupon-toggle {

	&.hidden {
		display: none;
	}
}

