.l-feedback {
  background: #ffffff;
  margin: 0 auto;
  border: none;
  //padding: 15px 15px 5px;

  @media #{$media-md} {
    max-width: 485px;
  }

  &-block {

    .wrap {
      padding: 10px 0;

      @media #{$media-md} {
        display: flex;
        justify-content: space-around;
      }
    }

    .half {
      @media #{$media-md} {
        max-width: 350px;
        width: 100%;
      }
    }
  }

  .title {
    text-align: center;
    margin-bottom: 30px;
  }

  .form-group {
    //display: block;

    //@media #{$media-sm}{
    //  display: flex;
    //}

    label {
      width: 200px;
      display: inline-block;
      vertical-align: top;

      &:after {
        color: #fa3c7a;
      }
    }

    .input-group {

      .btn {
        display: block;
        margin: 0 auto;
      }
    }
  }

  & + .mfp-close {
    color: grey;
    position: fixed;

    @media #{$media-sm} {
      color: #fff;

    }
  }
}

