.l-footer {
	font-size: 90%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: -$block-indent-size;
	margin-right: -$block-indent-size;
	margin-bottom: -$block-indent-size;
	padding: $block-indent-size;
	background: url(../img/footer-bg.jpg) no-repeat;
	background-size: cover;
	text-align: center;

	/* Retina fix */
	@media (min-width : 450px) {
		flex-direction: row;
		flex-wrap: wrap;
	}

	@media #{$media-sm} {
		flex-direction: row;
		flex-wrap: wrap;
	}

	@media #{$media-xl} {
		flex-direction: row;
		text-align: left;
		padding: 45px;
	}

	@media #{$media-lg} {
		text-align: left;
		padding: 45px;
		flex-direction: column;
	}

	@media #{$media-xl} {
		flex-direction: row;
		flex-wrap: nowrap;
	}

	&-container {
		//flex-grow: 2;
		//padding-right: $block-indent-size;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
		width: 100%;

		@media #{$media-sm} {
			flex-wrap: wrap;
			flex-direction: row;
			align-items: stretch;
		}

		.payments-methods {
			width: 100%;
			margin-top: 15px;
			background: url(../img/payments.png) no-repeat;
			background-size: 100%;
			height: 70px;


			/* Retina fix */
			@media (min-width : 450px) {
				margin-bottom: $block-indent-size;
			}

			@media #{$media-sm} {
				background-size: auto;
				background-position: center;
			}

			@media #{$media-lg} {
				background-position: left;
				margin-bottom: 0;
			}
		}

	}

	.mb-5 {
		margin-bottom: 5px;
	}

	&-block {
		margin-bottom: 10px;
		width: 100%;
	}

	&-tels {
		display: inline-block;
		columns: 2;

		a {
			display: block;
			margin-bottom: 5px;
		}
	}

	a {
		border: none;
	}

	&-nav {
		flex-grow: 1;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: $block-indent-size;

		/* Retina fix */
		@media (min-width : 450px) {
			width: 50%;
		}

		@media #{$media-md} {
			width: auto;
		}

		@media #{$media-lg} {
			align-items: baseline;
			margin-bottom: 0;
		}

		&-title {
			display: block;
			margin-bottom: 10px;
			font-weight: bold;
		}

		a {
			display: block;
			text-decoration: underline;
			color: #555555;
			margin-bottom: 5px;

			&:hover {
				text-decoration: none;
				color: darken(#555555, 25%);
			}
		}
	}

	&-designed {
		width: 100%;
		text-align: center;

		@media #{$media-lg} {
			text-align: right;
			padding-top: 25px;
		}

		img {
			width: 100px;
		}
	}
}