.grid-products {
	display: flex;
	flex-wrap: wrap;

	.product-short {
		width: 100%;
		margin-bottom: 25px;

		@media #{$media-sm} {
			width: 50%;
		}

		//@media #{$media-lg} {
		//	width: 33.3333%;
		//}

		@media #{$media-lg} {
			width: 25%;
		}
	}

	.empty {
		text-align: center;
		width: 100%;
	}
}