$header-color-primary: #3f9913;

.l-header {
	margin-top: -$block-indent-size;
	margin-left: -$block-indent-size;
	margin-right: -$block-indent-size;
	min-height: 120px;
	display: none;
	text-align: center;
	justify-content: center;
	padding: 0 $block-indent-size;

	@media #{$media-sm} {
		flex-flow: row wrap;
		padding: $block-indent-size;
	}

	@media #{$media-lg} {
		display: flex;
		//flex-direction: column;
		align-items: center;
	}

	@media #{$media-xl} {
		flex-flow: row nowrap;
	}

	> div {
		width: 100%;
	}

	.l-header-logo {
		width: 300px;
		min-width: 300px;
		order: 1;
		margin-top: 5px;

		img {
			width: 100%;
		}

		> a {
			display: block;
			border: none;
		}

		&-link {
			color: #16ac07;
			font-weight: 400;

			&:hover {
				color: darken(#16ac07, 10%);
			}
		}

		@media #{$media-sm} {
			width: 50%;
			min-width: initial;
			margin-top: 0;
		}

		@media #{$media-xl} {
			width: 300px;
			min-width: 300px;
		}
	}

	.l-header-search {
		width: 220px;
		min-width: 220px;
		margin: 0 $block-indent-size;
		position: relative;
		order: 2;

		@media #{$media-sm} {
			width: 50%;
			min-width: initial;
			margin: 0;
			padding-left: $block-indent-size;
		}

		@media #{$media-xl} {
			margin: 0 $block-indent-size;
			padding-left: 0;
			width: 220px;
			min-width: 220px;
		}

		input[type=search] {
			width: 100%;
			border: solid 1px #7e7e7e;
			padding: 5px 10px;
			background: #f7f7f7;
			box-sizing: border-box;
			max-width: 320px;
			display: block;
			margin-left: auto;
		}

		button[type=submit] {
			transition: color 0.3s;
			width: 25px;
			height: 25px;
			border: none;
			background: none;
			position: absolute;
			top: 5px;
			right: 5px;
			&:hover {
				color: $header-color-primary;
			}
			&:after {
				@include mi('search');
				font-size: 1.5em;
			}
		}
	}

	.l-header-nav {
		width: 100%;
		list-style-type: none;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 90%;
		margin: $block-indent-size 0;
		order: 3;

		@media #{$media-sm} {
			order: 3;
			margin: 0;
			width: 60%;
			justify-content: flex-start;
		}

		@media #{$media-xl} {
			justify-content: flex-start;
			margin: 0;
			font-size: 100%;
		}

		li {
			@media #{$media-sm} {
				margin-right: $block-indent-size;
				&:last-child {
					margin-right: 0;
				}
			}

			a {
				display: flex;
				align-items: center;
				color: #555555;
				text-transform: uppercase;
				font-size: 90%;
				border: none;
				white-space: nowrap;

				span[class*="icon-"] {
					width: 40px;
					height: 36px;
					display: inline-block;
					margin-right: 5px;
					font-size: 2.5em;
					color: $header-color-primary;

					/* fix icon */
					&.icon-support {
						font-size: 2.3em;
						padding-top: 1px;
					}
				}

				&:hover {
					color: $header-color-primary;
				}
			}
		}
	}

	.cart-mini {
		width: 100%;
		margin-left: $block-indent-size;
		margin-bottom: $block-indent-size;
		order: 4;
		display: none;

		@media #{$media-sm} {
			margin: 0;
			order: 4;
			width: 40%;
			justify-content: flex-end;
			display: flex;
		}

		@media #{$media-xl} {
			width: 220px;
			min-width: 220px;
			margin-bottom: 0;
			order: 4;
		}

		a {
			width: auto;
			.cart-icon {
				margin: 0 0 0 $block-indent-size;
			}

			&:hover {
				color: #555555;

				.cart-icon {
					color: #fa3c7a;
				}
				.cart-mini-info-count-products {
					color: #fa3c7a;
				}
			}

			@media #{$media-sm} {
				margin: 0;
				order: 4;
				// width: 40%;
				justify-content: flex-end;
				display: flex;
			}

			@media #{$media-xl} {
				width: 220px;
				min-width: 220px;
				margin-bottom: 0;
				order: 4;
			}
		}
	}
}