.l-mobile-menu {
	width: 250px;
	height: calc(100% + 100px);
	position: fixed;
	z-index: 998;
	/*left: -250px;*/
	top: 0;
	background: rgba(24, 42, 56, 0.8);
	color: #FFFFFF;
	transform: translate(-100%,0);
	transition: transform .3s;
	padding: 40px 0 0 0;
	display: block !important;

	&-wrapper {
		height: calc(100% - 100px);
		overflow: auto;
		padding: $block-indent-size;
	}

	&-title {
		margin: 0 0 5px 0;
		padding: 0;
		font-size: 1.2em;
	}

	&.is-open {
		transform: translate(0,0);
	}

	a {
		color: #ffffff;
		font-size: 100%;

		&:hover {
			color: #43c900 !important;
		}
	}

	&-search {
		position: relative;
		padding-bottom: $block-indent-size;
		border-bottom: solid 1px #FFFFFF;

		input[type=search] {
			width: 100%;
			border: solid 1px #7e7e7e;
			padding: 5px 10px;
			background: #f7f7f7;
			box-sizing: border-box;
			color: #555555;
		}

		button[type=submit] {
			transition: color 0.3s;
			width: 25px;
			height: 25px;
			border: none;
			background: none;
			position: absolute;
			top: 6px;
			right: 5px;
			color: #555555;
			&:hover {
				color: #43c900;
			}
			&:after {
				@include mi('search');
				font-size: 1.5em;
			}
		}
	}

	.cart-mini {
		margin: $body-font-size 0;
		justify-content: flex-start;
		padding-bottom: $block-indent-size;
		border-bottom: solid 1px #FFFFFF;

		.cart-icon {
			color: #FFFFFF;
		}
		&-info {
			b {
				display: block;
				font-weight: bold;
			}
			a {
				color: #FFFFFF;
				border: none;
				&:hover {
					text-decoration: underline;
				}
			}
			&-count-products {
				color: #FFFFFF;
			}
		}
	}

	&-nav {
		list-style-type: none;
		border-bottom: solid 1px #FFFFFF;
		margin-bottom: $block-indent-size;

		a {
			text-transform: uppercase;
			border: none;
			color: #FFFFFF;
			white-space: nowrap;
			margin-bottom: $block-indent-size;

			span[class*="icon-"] {
				width: 25px;
				height: 30px;
				display: inline-block;
				margin-right: 15px;
				font-size: 2em;
				color: #FFFFFF;
				vertical-align: middle;

				+ span {
					position: relative;
					top: 3px;
				}
			}
		}
	}

	.nav-top-list {
		display: block;
		height: auto;
		padding-bottom: $block-indent-size;
		margin-bottom: $block-indent-size;
		border-bottom: solid 1px #FFFFFF;

		a {
			color: #ffffff;
			padding: 5px 0;
		}

		li {
			float: none;
		}
	}

	.nav-horizontal {
		display: flex;
		flex-direction: column;
		height: auto;
		background: none !important;
		margin: auto;
		align-items: flex-start;
		margin-bottom: $block-indent-size;
		padding-left: $block-indent-size;
		padding-bottom: $block-indent-size;
		border-bottom: solid 1px #FFFFFF;

		@media #{$media-sm} {
			//display: none;
		}

		> li {
			display: block;
			padding: 0;

			> a {
				font-size: 16px;
				display: block;
				text-align: left;
			}

			&:hover {
				background: none;
			}

			.dropdown {
				position: static;
				opacity: 1;
				visibility: visible;
				padding: 5px 0;
				display: none;
				margin: 0 0 5px;

				li {
					background: none;
					padding: 0 15px;

					a {
						font-size: 13px;
					}
				}
			}
		}

		a {
			font-size: 100%;
			text-transform: initial;
			width: 100%;
			padding: 5px 0;
			height: auto;
			justify-content: flex-start;
			background: none !important;
			border: none !important;
		}

		&.is-large {
			min-width: 100%;
		}

		&-warning a {
			border: none;
		}
	}
}