.l-photoDeliveries {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  a {
    width: 100%;
    @media #{$media-sm}{
      width: auto;
    }
  }

  .item {
    width: 100%;
    height: 200px;
    background-color: lightgray;
    margin-bottom: 25px;
    margin-right: 12px;
    margin-left: 12px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

    @media #{$media-sm}{
      width: 268px;
      height: 200px;
    }

  }

  .empty {
    text-align: center;
    width: 100%;
  }

}