.l-product {
	
	&-present {
		display: flex;
		margin-bottom: $block-indent-size + $block-indent-size;
		flex-direction: column;

		@media #{$media-md} {
			flex-direction: row;
		}

		&-view {
			min-width: 100%;
			max-width: 100%;

			@media #{$media-sm} {
				min-width: 360px;
				max-width: 360px;
				margin-right: $block-indent-size;
			}

			@media #{$media-lg} {
				margin-right: 70px;
			}

			.swiper-container {
				width: 100%;
				max-width: 270px;
				overflow: hidden;
				margin: 0 0 $block-indent-size 0;

				@media #{$media-sm} {
					width: 100%;
					max-width: 100%;
				}

				@media #{$media-md} {
					margin: 0;
				}

				.swiper-slide {
					height: 70px;
					border: solid 2px #e8e8e8;
					background-position: center center;
					background-size: contain;
					background-repeat: no-repeat;

					&.is-active {
						border: solid 2px #43c900;
					}
				}
			}
		}

		&-image {
			border: solid 2px #fa3c7a;
			margin-bottom: $block-indent-size;
			width: 270px;
			height: 280px;
			background-position: center center;
			background-size: contain;
			background-repeat: no-repeat;
			cursor: pointer;

			@media #{$media-sm} {
				width: 360px;
				height: 380px;
			}
		}

		&-info {
			width: 100%;
		}

		&-title {
			font-weight: 500;
			font-size: 1.4em;
			line-height: 1.2;
			color: #fa3c7a;
			margin: 0;

			@media #{$media-sm} {
				font-size: 2em;
				line-height: 1;
			}
		}

		&-rating {
			margin-left: $block-indent-size;
			float: right;
			width: 100px;
			height: 18px;
			text-align: right;
		}

		&-code {
			color: #212121;
			font-size: 90%;
		}

		&-description {
			margin-top: $block-indent-size;
		}

		&-price {
			color: #43c900;
			font-size: 3.2em;
			font-weight: 500;
			padding: $block-indent-size 0;
			text-align: center;

			@media #{$media-sm} {
				text-align: left;
			}

			@media #{$media-md} {
				text-align: center;
			}

			@media #{$media-lg} {
				text-align: left;
			}
		}
	}

	&-description {
		margin-bottom: 55px;

		&-title {
			font-size: 1em;
		}

		&.empty {
			text-align: center;
		}

		ul {
			margin-left: 15px;
			margin-bottom: 15px;
		}
	}

	&-recommended {
		&-title {
			margin: $block-indent-size 0 0 0;
			padding: 0;
			font-weight: 500;
			font-size: 1.8em;
			line-height: 1;
		}
		&-description {
			color: #797979;
		}
		.grid-products {
			margin-top: $block-indent-size;
		}
	}

	&-block {

		&-auth {
			text-align: center;
			padding-bottom: 20px;

			a {
				color: #43c900;
				border-bottom: 1px dashed #43c900;

				&:hover {
					color: #fa3c7a;
					border-color: transparent;
				}
			}
		}
	}
}