
.l-profile {

  &-steps {
    margin-left: -$block-indent-size;
    margin-right: -$block-indent-size;
    margin-bottom: ($block-indent-size + $block-indent-size);
    background: $steps-background;
    color: $steps-text-color;
    font-size: 1.2em;
    text-transform: uppercase;
    display: flex;
    white-space: nowrap;
    flex-direction: column;

    @media #{$media-sm} {
      flex-direction: row;
      padding: 0 $block-indent-size;
    }

    a {
      width: 100%;
      text-align: center;
      padding: 18px;
      display: block;
      color: #fff;

      @media #{$media-md} {
        width: 50%;
      }
    }

    .is-active {
      background: $steps-background-active;
    }
  }

  form {
    @media #{$media-sm} {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }

  .title {
    margin-top: $block-indent-size;
    margin-bottom: $block-indent-size;
  }


  h3 {
    width: 100%;
  }

  nav {
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #B0BEC5;
    padding-bottom: $block-indent-size;
    margin-bottom: $block-indent-size;


    a {
      display: block;
      text-decoration: underline;
      color: #555555;
      margin-bottom: 5px;

      &:hover {
        text-decoration: none;
        color: darken(#555555, 25%);
      }

    }

  }

  &-myprofile {
    flex-grow: 1;
    max-width: 490px;
    padding-left: 0;
    margin-bottom: $block-indent-size;

    @media #{$media-md} {
      max-width: 665px;
    }

    @media #{$media-lg} {
      padding-left: $block-indent-size;
      max-width: 690px;
    }

    .control-label {
      width: 200px;
    }

  }

  .order-history {
    width: 100%;


    &-list {
      display: flex;
      flex-direction: column;
      font-size: 80%;

      @media #{$media-md} {
        font-size: 100%;
      }

      &-header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        @media #{$media-sm} {
          flex-direction: row;
          flex-wrap: nowrap;
        }

        @media #{$media-md} {
          font-size: 100%;
        }

        > span {
          border: 1px solid #D4D4D4;
          display: block;;
          padding: 5px $block-indent-size;
          background: #d9d9d9;
          font-size: 90%;

          @media #{$media-sm} {
            padding: 10px $block-indent-size;
          }

          &.order-history-cart-list-item-code {
            span {
              display: none;
            }

            &:after {
              content: '№';
            }

            @media #{$media-sm} {
              min-width: 120px;

              span {
                display: inline-block;
              }

              &:after {
                content: '';
              }
            }

          }
        }
      }

      .order-history-list-item-code,
      .order-history-list-item-date {
        white-space: nowrap;
        width: 25%;
        @media #{$media-sm} {
          min-width: 120px;
          width: 20%;
        }
      }

      .order-history-list-item-code,
      .order-history-list-item-date {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @media #{$media-sm} {
          width: 70%;
        }
      }

      .order-history-list-item-quantity {
        white-space: nowrap;
        width: 50%;
        @media #{$media-sm} {
          width: 25%;
        }
      }

      .order-history-list-item-price {
        white-space: nowrap;
        width: 50%;
        text-align: right;

        @media #{$media-sm} {
          width: 150px;
          min-width: 150px;
          text-align: left;
        }

        @media #{$media-md} {
          width: 250px;
          min-width: 250px;
        }
      }

      .order-history-list-body-item {
        &:hover {
          background-color: #f5f5f5;
        }
      }


      &-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .order-history-list-body-item-info {
          display: flex;
          flex-direction: column;

          .order-history-list-body-item:not(:first-child) {
            border: none;
          }
          
          .order-history-list-body-item:last-child {
            margin-top: $body-font-size;
          }
        }

        &-item, &-item-info {
          display: flex;
          flex-wrap: wrap;
          border-bottom: solid 1px #D4D4D4;
          padding: 5px 0;

          @media #{$media-sm} {
            flex-direction: row;
            flex-wrap: nowrap;
          }

          &-info {
            border: none;
            span {
              width: 50% !important;
            }

            .order-history-list-item-code {
              width: 50% !important;

              @media #{$media-sm} {
                width: 100% !important;
              }
            }

            .order-history-list-item-price {
              width: 50% !important;

              @media #{$media-sm} {
                width: 150px !important;
              }

              @media #{$media-md} {
                width: 250px !important;
              }
            }
          }

          > span {
            width: 100%;
            padding: 5px 15px;
          }

          .order-history-list-item-price {
            color: #fa3c7a;

            &-discount {
              color: #43c900;
            }
            &-total {
              font-size: 2em;
              overflow: hidden;

              @media #{$media-sm} {
                font-size: 1.4em;
              }

              @media #{$media-md} {
                font-size: 2em;
              }
            }
          }
        }
      }
    }
  }

  .help-block {
    margin-top: 5px;
    font-size: 0.7em;

    @media #{$media-sm}{
      padding-left: 205px;
    }
  }

}