.l-registration-form {

  //@media #{$media-sm} {
  //  max-width: 485px;
  //}
  //
  //@media #{$media-md} {
  //  max-width: 655px;
  //}

  .title {
    margin-bottom: $block-indent-size;
  }

  .registration-form-subbmit {
  	label {
  		display: flex;
  		align-items: center;

  		span {
  			margin-left: -7px;
  			min-width: 35px;
  		}
  	}
  }

}