@mixin _review_swiper-container {
	margin-top: -25px;
	padding: 0 45px;

	.swiper-wrapper {
		position: relative;
		.swiper-slide {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 25px 0;
		}
	}

	.swiper-button-next, .swiper-button-prev {
		transition: color 0.3s;
		width: 35px;
		height: 35px;
		border: solid 2px #fa3c7a;
		color: #fa3c7a;
		border-radius: 50%;
		background: none;
		font-size: 28px;
		text-align: center;
		line-height: 1.5;
		&:after {
			@include mi('keyboard_arrow_left');
		}

		&:hover {
			color: #d80047;
			border: solid 2px #d80047;
		}
	}

	.swiper-button-next {
		right: 0;
		&:after {
			content: 'keyboard_arrow_right';
		}
	}

	.swiper-button-prev {
		left: 0;
	}
}


.l-review {
	position: relative;

	.swiper-container {
		@include _review_swiper-container;
	}

	&-image {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background-size: cover;
		background-position: center center;
	}

	&-name {
		margin: $block-indent-size 0;
		margin-bottom: $block-indent-size + 10px; /* fix */
		text-transform: capitalize;
		font-weight: bold;

		@media #{$media-lg} {
			margin: $block-indent-size 0;
		}
	}

	&-text {
		width: 100%;
		font-size: 80%;
		text-align: center;
		position: relative;

		&:before, &:after {
			position: absolute;
			font-size: 8em;
			line-height: 1;
			color: #c7c7c7;
			font-style: italic;
			z-index: 7;
		}

		&:before {
			content: '“';
			top: -35px;
			z-index: 7;
			left: -9px;
		}

		&:after {
			content: '”';
			right: 5px;
			margin-top: 10px;
		}
	}

	&-auth {
		text-align: center;
		padding-bottom: 20px;

		a {
			color: #43c900;
			border-bottom: 1px dashed #43c900;

			&:hover {
				color: #fa3c7a;
				border-color: transparent;
			}
		}
	}
}
