.l-seo-text {
	font-size: 90%;
	margin-left: -$block-indent-size;
	margin-right: -$block-indent-size;
	margin-top: 35px;
	display: flex;
	flex-direction: column;
	padding: $block-indent-size;
	background: url(../img/flower-bg.jpg) no-repeat center center;
	background-size: cover;
	color: #000000;

	@media #{$media-md} {
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: nowrap;
		align-items: stretch;
		padding: 25px 50px;
	}

	@media #{$media-lg} {
		padding: 50px 100px;
	}

	&-content {
		width: 100%;
		margin-bottom: $block-indent-size;

		@media #{$media-md} {
			margin-bottom: 0;
			padding-right: $block-indent-size;

			&:last-child {
				padding-left: $block-indent-size;
				padding-right: 0;
			}
		}

		h1 {
			font-size: 1.6em;
		}
	}

	&-wrapper {
		text-align: justify;
		margin-bottom: 15px;
		* {
			display: inline;
			font-weight: normal;
			font-size: 1em;
		}
	}
}