* {
	box-sizing: border-box;
	outline: 0 none !important;
	padding: 0;
	margin: 0;
}

*::-moz-focus-inner {
	border: 0;
}

::-moz-selection {
	background: #81D4FA;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: #81D4FA;
	color: #fff;
	text-shadow: none;
}

::-webkit-scrollbar {
	width: 10px;
	height: 7px;
	background: #CCC;
	border-left: 1px solid #B0BEC5;
}

::-webkit-scrollbar-track {
	background: #FFFFFF;
	border-left: 1px solid #B0BEC5;
}

::-webkit-scrollbar-thumb {
	background: #B0BEC5;
}

::-webkit-scrollbar-thumb:hover {
	-webkit-box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:active {
	background: #888;
	-webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
}

body, html {
	width: 100%;
	height: 100%;
}

body {
	@include font400(16px);
	line-height: 1.42857;
	min-width: 320px;
}

a {
	@include font400();
	transition: color 0.3s, background 0.3s;
	color: #555555;
	display: inline-block;
	text-decoration: none;
	&:hover {
		color: darken(#555555, 60%);
	}
}

strong {
	@include font400();
}

.clearfix {
	&:after {
		content: " "; /* Older browser do not support empty content */
		visibility: hidden;
		display: block;
		height: 0;
		clear: both;
	}
}

p {
	margin-bottom: $block-indent-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	display: block;
	margin: 0 0 $block-indent-size 0;
	position: relative;
	z-index: 1;
}

h1 {
	font-size: 2.2em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.8em;
}

h4 {
	font-size: 1.6em;
}

h5 {
	font-size: 1.4em;
}

h6 {
	font-size: 1.2em;
}

img {
	pointer-events: none;
	max-width: 100%;
	height: auto;
}

ol, ul {
	list-style-position: inside;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-justify {
	text-align: justify;
}

b, strong {
	font-weight: bold;
}

.color-default {
	color: #43c900;
}

.color-warning {
	color: #fa3c7a;

	a {
		color: #fa3c7a;
		font-weight: bold;

		&:hover {
		   color: #bf003f;
		}
	}
}

.loading {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: rgba(0, 0, 0, 0.3);
	overflow: hidden;

	.loader {
		width: 63px;
		height: 13px;
		background: url("../img/loader.gif") center no-repeat;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}
}

.no-scroll {
	overflow: hidden;

	#container {
		pointer-events: none;
	}
}