@mixin font100($size: 1em) {
	font: 100 $size 'Roboto', sans-serif;
}

@mixin font300($size: 1em) {
	font: 300 $size 'Roboto', sans-serif;
}

@mixin font300i($size: 1em) {
	font: 300 $size 'Roboto', sans-serif;
	font-style: italic;
}

@mixin font400($size: 1em) {
	font: 400 $size 'Roboto', sans-serif;
}

@mixin font700($size: 1em) {
	font: 700 $size 'Roboto', sans-serif;
}

@mixin mi($content) {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	width: 1em;
	height: 1em;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	/* Support for IE. */
	font-feature-settings: 'liga';
	content: $content;
}