@charset "UTF-8";

// ----------------------
// == Site settings
// ----------------------

$body-font-size: 15px;
$block-indent-size: 15px;



// ----------------------
// == Mobile First Method
// ----------------------

$media-sm: "(min-width : 544px)";

$media-md: "(min-width : 768px)";

$media-lg: "(min-width : 992px)";

$media-xl: "(min-width : 1200px)";