body {
	background: url('../img/background.jpg');
	color: #555555;
	padding-top: 40px;

	@media #{$media-lg} {
		padding-top: 0;
	}
}

.container {
	padding: $block-indent-size;
	position: relative;
	box-shadow: 0 0 65px -30px #6D6D6D;
	max-width: 1200px;
	margin: auto;
	background: #FFFFFF;

	&.base {
		box-shadow: none;
		background: transparent;
		padding: 0;
	}

	section {
		margin-bottom: 35px;
	}
}

.content {
	padding: $block-indent-size 0;
	min-height: 500px;

	.title {
		margin-bottom: 20px;
	}
}

.icon-home {
	&:after {
		@include mi('home');
	}
}

.icon-user {
	&:after {
		@include mi('perm_identity');
	}
}

.icon-support {
	&:after {
		@include mi('local_phone');
	}
}






.pika-button:hover {
	background: #43c900;
}

.is-today .pika-button {
	color: #fa3c7a;
}

.is-selected .pika-button {
	background: #fa3c7a;
	box-shadow: inset 0 1px 3px #fa3c7a;
}

.order-completed {

	.form-group {
		display: flex;
		align-items: center;
	}

	.section {
		padding: $block-indent-size 0;
		margin: 0;
	}

	label.control-label {
		width: 200px;
	}

	.checkout-cart-list-body-item-info {
		flex-flow: row wrap;
		width: 100%;

		.checkout-cart-list-body-item {
			width: 100%;
		}

		.checkout-cart-list-item-price {
			text-align: right;

			@media #{$media-lg} {
				text-align: left;
			}
		}

		@media #{$media-lg} {
			flex-flow: row nowrap;

		}

	}
}


.close {
	float: right;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity=20);
	opacity: .2;
}

button.close {
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0;
}
span[data-notify='message']{
	padding: 15px 10px;
}

.empty {
	padding: 50px 0;
	margin: 0;
	text-align: center;
}

.hidden-text {
	display: none;

	&-btn {
		border: none;
		background: none;
		color: #fa3c7a;
		border-bottom: 1px dotted #fa3c7a;
		margin-left: 13px;
		position: relative;
		cursor: pointer;

		&:after {
			content: '';
			display: block;
			position: absolute;
			right: 100%;
			top: 3px;
			margin-right: 4px;
			width: 5px;
			height: 5px;
			border-bottom: 2px solid #fa3c7a;
			border-right: 2px solid #fa3c7a;
			transform: rotate(45deg);
		}

		&.is-active {

			&:after {
				top: 6px;
				transform: rotate(-135deg);
			}
		}
	}
}