.alert-info,
.alert-success,
.alert-warning,
.alert-danger {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}
.alert-info {
  color: #fff;
  background-color: rgba(67, 201, 0, 0.80);
}
.alert-success {
  color: #270;
  background-color: #DFF2BF;
}
.alert-warning {
  color: #9F6000;
  background-color: #FEEFB3;
}
.alert-danger {
  color: #fff;
  background: rgba(250, 60, 122, 0.80);
}

.notify {
    position: fixed;
    right: 10px;
}