.breadcrumbs {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	list-style-type: none;
	margin-top: $block-indent-size;
	font-size: 16px;

	/* Retina fix */
	@media (min-width : 450px) {
		flex-direction: row;
	}

	li {
		padding: 0 2px;

		&:after {
			padding-left: 2px;

			@media (min-width : 450px) {
				content: ' / '
			}
		}

		&:last-child {
			&:after {
				content: ''
			}
		}
	}


	a {
		border: none;
		color: #555555;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}



}

