$btn-default-color: #43c900;
$btn-default-color-hover: #16ac07;

$btn-warning-color: #fa3c7a;
$btn-warning-color-hover: #d80047;

$btn-info-color: #dcedc8;

.btn {
	transition: color 0.3s, border 0.3s, background 0.3s;
	letter-spacing: .25px;
	font-size: 0.88em;
	font-weight: normal;
	padding: 13px 16px;
	border-radius: 0;
	color: #FFFFFF;
	border: solid 3px $btn-default-color;
	background: $btn-default-color;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	user-select: none;
	text-shadow: none;
	line-height: 1;
	white-space: nowrap;

	&:hover {
		color: #FFFFFF;
		background: $btn-default-color-hover;
		border: solid 3px $btn-default-color-hover;
	}

	&:active, &:focus {
		box-shadow: inset 0 0 12px -7px rgba(0,0,0,0.6) !important;
	}

	&:after, &:before {
		content: none;
	}

	@media (max-width: 768px) {
		margin-bottom: 15px;
	}

	&.btn-present {
		box-shadow: 0 4px 5px 0 rgba(3, 155, 229, 0.26);
		padding: 15px 25px;
		border-radius: 30px;
		border: none !important;

		&:hover {
			border: none;
		}
	}

	&.btn-light {
		border-width: 2px !important;
		background: none !important;
		color: $btn-default-color;

		&:hover {
			color: $btn-default-color-hover
		}

		&.btn-warning {
			color: $btn-warning-color;

			&:hover {
				color: $btn-warning-color-hover
			}
		}

		&.btn-info {
			color: #445d27;

			&:hover {
				color: darken($btn-info-color, 10%)
			}
		}
	}

	&.btn-warning {
		background: $btn-warning-color;
		border: solid 3px $btn-warning-color;

		&:hover {
			background: $btn-warning-color-hover;
			border: solid 3px $btn-warning-color-hover;
		}
	}

	&.btn-info {
		border: solid 3px $btn-info-color;
		background-color: $btn-info-color;
		color: #445d27;

		&:hover {
			border: solid 3px darken($btn-info-color, 10%);
			background-color: darken($btn-info-color, 10%);
		}

		&:focus, &:active {
			border: solid 3px darken($btn-info-color, 25%);
			background-color: darken($btn-info-color, 25%);
		}
	}
}

