.pagination {
	margin: $body-font-size 0;
	text-align: center;
	display: flex;

	@media (min-width: 544px) {
		text-align: left;
	}

	li {
		display: inline-block;
		margin: 2px 3px;

		&.prev a:before, &.next a:before {
			@include mi('keyboard_arrow_left');
			position: relative;
			top: 1px;
			font-weight: bold;
		}
		&.next a:before {
			content: 'keyboard_arrow_right';
		}

		a, span {
			transition: color 0.3s, background 0.3s;
			position: relative;
			// width: 32px;
			height: 32px;
			text-decoration: none;
			color: #676767;
			font-size: 15px;
			font-weight: bold;
			display: flex;
			align-items: center;
			justify-content: center;
			border: solid 1px #cacaca;
			background: #f0f0f0;
			box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
			padding: 0 10px;
		}
	}
	li a, li span {
		&:hover, &:focus {
			z-index: 2;
			background-color: #686868;
			color: #FFFFFF;
		}
	}
	.active a, .active span {
		&, &:hover, &:focus {
			z-index: 3;
			color: #ffffff;
			cursor: default;
			box-shadow: none;
			background-color: #686868;
			border: solid 1px #555555;
		}
	}
	.disabled {
		display: none;
	}
}

.grid-products {
	.ajax-pagination {
		width: 100%;
		margin-bottom: 25px;
		height: 434px;

		@media #{$media-sm} {
			width: 50%;
			height: 428px;
		}

		@media #{$media-md} {
			height: 413px;
		}

		@media #{$media-lg} {
			width: 25%;
		}

		@media #{$media-xl} {
			height: 419px;
		}
	}
}

.ajax-pagination {
	transition: border 0.3s, box-shadow 0.3s;
	font-size: 1em;
	border: solid 1px transparent;
	padding: $block-indent-size;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	cursor: pointer;

	& img.preloader {
		background-image: url('../img/ajax-loader.png');
		background-repeat: no-repeat;
		width: 137px;
		height: 138px;

		@keyframes spin{
			from{
				transform: rotate(0deg);
			}to{
				transform: rotate(360deg);
			}
		}

		&.ajax-loading{
			-webkit-animation-name: spin;
			-webkit-animation-duration: 2000ms;
			-webkit-animation-iteration-count: infinite;
			-webkit-animation-timing-function: linear;
			-moz-animation-name: spin;
			-moz-animation-duration: 2000ms;
			-moz-animation-iteration-count: infinite;
			-moz-animation-timing-function: linear;
			-ms-animation-name: spin;
			-ms-animation-duration: 2000ms;
			-ms-animation-iteration-count: infinite;
			-ms-animation-timing-function: linear;
			animation-name: spin;
			animation-duration: 2000ms;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
		}
	}

	& a {
		white-space: nowrap;
		text-align: center;
		overflow: hidden;
		text-overflow: ellipsis;
		padding: 0 $block-indent-size;
		font-size: 140%;
		font-weight: 300;
		margin-top: 10px;
	}

	&:hover {
		border: solid 1px #e1e1e1;
		box-shadow: 0 1px 5px 0 rgba(50, 50, 50, 0.2);
	}
}