.table {
	border-collapse: separate;
	width: 100%;
	margin-bottom: 30px;
	background-color: #fff;

	thead tr {
		background: #d9d9d9;

		td, th {
			padding: 10px 15px;
			border-right: 1px solid #D4D4D4;
			text-align: left;
			vertical-align: middle;
			font-weight: 500;
			font-size: 80%;

			&:last-child {
				border-right: 0;
			}
		}
	}

	tbody tr {
		/*&:nth-child(even) {
			background: #eeeeee;
		}*/

		td {
			text-align: left;
			padding: 15px;
			border-bottom: 1px solid #e0e0e0;
			vertical-align: middle;

			&:last-child {
				border-right: 0;
			}
		}
	}

	&.table-hover {
		tr th {
			background: #e9e9e9;
		}

		tr:hover {
			transition: background 0.5s;
			background: rgba(238, 238, 238, 0.5);

			&:nth-child(even) {
				background: rgba(238, 238, 238, 0.5);
			}
		}
	}

	&.not-even {
		tbody tr {
			td {
				border-bottom: 1px solid #E9E9E9;
			}

			&:nth-child(even) {
				background: none;
			}
		}
	}

	.form-group {
		margin: 0;
	}
}



.table-rwd {
	margin: 1em 0;

	tr {
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
	}

	th {
		@media (max-width: 520px) {
			display: none;
		}
	}

	td {
		display: block;
		@media (max-width: 520px) {
			padding-bottom: 5px;

			&:first-child {
				/* padding-top: .5em;*/
				border-top: 2px solid #e0e0e0;
			}

			&:last-child {
				/*padding-bottom: .5em;*/
				border-right: 1px solid #e0e0e0;
				border-bottom: 2px solid #e0e0e0;
				padding-bottom: 15px;
			}
		}

		&:before {
			content: attr(data-th) ": ";
			font-weight: bold;
			display: none;
			width: 6.5em;

			@media (max-width: 520px) {
				display: block;
				width: 100%;
				margin-bottom: 5px;
			}
		}
	}

	td {
		text-align: left;
		display: table-cell;

		@media (max-width: 520px) {
			display: block;
		}
	}
}