.reviews {
    color: #797979;
    font-size: 13px;
    font-family: sans-serif;
}

.tabs_controls {
    border-bottom: 1px solid #ddd;
}

.tab-caption {
    border: 1px solid #ddd;
    border-radius: 3px 3px 0 0;
    padding: 5px 10px;
    display: inline-block;
    border-bottom: none;
    margin-bottom: -1px;
    background: #fff;
    font-size: 16px;
}

.reviews .reviews-stats {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 0;
    width: 100%;
}

.reviews-stats-item:nth-child(1) {
    width: 160px;
}

.reviews-stats-item:nth-child(2) {
    width: calc(50% - 80px);
}

.reviews .reviews-stats .rating-static {
    font-size: 20px;
    margin: 10px 0 5px;
    display: inline-block;
}

.reviews .rating-value {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}

.reviews .text-muted {
    color: #a1a1a1;
}

.review__rating-list {
    margin-right: 20px;
}

.rating-list li {
    display: flex;
    align-items: center;
    width: 100%;
}

.rating-list li .item-count {
    width: 65px;
}

.rating-list li .item-scale-box {
    width: 130px;
    padding-top: 3px;
}

.rating-list li .item-scale {
    position: relative;
    background: #f0f2f7;
    height: 8px;
    border-radius: 4px;
}

.rating-list li .item-scale .item-value {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: 4px;
    background: #43c900;
    border-bottom: 1px solid #628221;
}

.rating-list li .item-count-value {
    padding-left: 5px;
    width: 35px;
}

.reviews .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.reviews .btn:hover {
    text-decoration: none;
    opacity: .75;
    color: #fff;
}

.reviews .btn-success {
    background-color: #43c900;
    border-color: #43c900;
    color: #fff;
}

.write-review-btn_disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .65;
}

.review-form-btn {
    display: flex;
    align-items: center;
}

.review-form__cancel {
    margin-left: 10px;
}

/*REVIEW LIST*/
.reviews-list {
    border-top: 1px solid #ddd;
    margin-top: 15px;
}

.review-item {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.review-info {
    display: flex;
    justify-content: space-between;
}

.review-info__badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    border-radius: 10px;
    background-color: #43c900;
    border-color: #43c900;
    margin-right: 5px;
}

.review-text {
    margin: 1em 0;
}

/*REVIEW LIST*/

.review-form {
    display: none;
    margin-top: 20px;
}

.review-form__caption {
    font-size: 18px;
    margin-bottom: 10px;
}

.review-form form {
    background: #fcf8e3;
    padding: 10px;
}

.review-form__group {
    margin-bottom: 20px;
}

.review-form__label {
    font-size: 14px;
    display: block;
    font-weight: 700;
    margin-bottom: 8px;
}

.review-form__group textarea {
    height: 70px;
    outline: none;
    resize: none;
}

.review-form__group textarea, .review-form__group input {
    display: block;
    width: 100%;
    background-color: #fff;
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    color: #6e6e6e;
    padding: 8px;
    vertical-align: middle;
    font-size: 14px;
    -webkit-transition: border .2s linear;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.review-answer {
    background: #f6f6f6;
    padding: 10px;
    margin: 0 0 20px 15px;
}
.review-item-author {
    color: #739927;
}
.review-item-date {
    margin-top: 10px;
}

@media (max-width: 560px) {
    .reviews-stats-item, .reviews-stats-item:nth-child(1), .reviews-stats-item:nth-child(2) {
        width: 100%;
    }
    .reviews-stats-item:not(:last-child) {
        margin-bottom: 30px;
    }
}

/*STAR RATING*/
.star-rating {
    position: relative;
    display: inline-block;
    margin: 10px 0 5px;
}

.star-rating__item {
    font-size: 20px;
    letter-spacing: 5px;
    -webkit-text-stroke: 2px #fe6600;
}
.star-rating__item:before {
    content: '\e800 \e800 \e800 \e800 \e800';
    font-family: "fontello";
}

.star-rating__item_default {
    color: #ffffff;
}

.star-rating__positive {
    position: absolute;
    top: 0;
    left: 0;
    color: #ff6600;
    overflow: hidden;
}
/*STAR RATING*/

