<!-- @include layouts/start-page.html -->

<!-- @include layouts/nav-top.html -->

<div class="container" id="container">

    <!-- @include layouts/header.html -->

    <!-- @include layouts/nav-top-1.html -->

    <!-- @include layouts/breadcrumbs.html -->


    <main class="content">

        <h3 class="title title-indent-min">Оформление заказа</h3>

        <div class="l-cart">

            <div class="l-cart-steps">
                <span class="is-active">Корзина товаров</span>
                <span>Оплата</span>
            </div>

            <div class="l-cart-list">
                <div class="l-cart-list-header">
                    <span class="l-cart-list-item-name">Наименование товара</span>
                    <span class="l-cart-list-item-desc">Описание</span>
                    <span class="l-cart-list-item-price">Цена</span>
                    <span class="l-cart-list-item-amount">Количество</span>
                    <span class="l-cart-list-item-total">Сумма</span>
                    <span class="l-cart-list-item-remove"></span>
                </div>
                <div class="l-cart-list-body">
                    <div class="l-cart-list-item">
                        <span class="l-cart-list-item-name"><img src="img/products/item-1.jpg" alt=""/></span>
                            <span class="l-cart-list-item-desc">
                                <a href="">Букет из 25 розовых роз, 70 см</a>
                                <div class="l-cart-list-item-desc-text">
                                    Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает
                                    сосредоточиться.
                                </div>
                            </span>
                        <span class="l-cart-list-item-price">$65</span>
                            <span class="l-cart-list-item-amount">
                                <input type="number" min="1" value="1" step="1" class="form-control"/>
                            </span>
                        <span class="l-cart-list-item-total">$65</span>
                        <span class="l-cart-list-item-remove"><button></button></span>
                    </div>
                    <div class="l-cart-list-item">
                        <span class="l-cart-list-item-name"><img src="img/products/item-1.jpg" alt=""/></span>
                            <span class="l-cart-list-item-desc">
                                <a href="">Букет из 25 розовых роз, 70 см</a>
                                <div class="l-cart-list-item-desc-text">
                                    Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает
                                    сосредоточиться.
                                </div>
                            </span>
                        <span class="l-cart-list-item-price">$59</span>
                            <span class="l-cart-list-item-amount">
                                <input type="number" min="1" value="1" step="1" class="form-control"/>
                            </span>
                        <span class="l-cart-list-item-total">$59</span>
                        <span class="l-cart-list-item-remove"><button></button></span>
                    </div>
                </div>
            </div>
            <div class="l-cart-total">
                <span class="l-cart-total-word">Итого:</span>

                <div class="l-cart-total-price">
                    <span class="l-cart-total-price-money">$130</span>
                    <span class="l-cart-total-price-desc">Стоимость указана без <br> учета доставки.</span>
                </div>
                <!--<button class="btn btn-warning">Оформить как гость</button>-->
                <a href="checkout.html" class="btn btn-warning">Оформить как гость</a>
            </div>

            <div class="l-cart-login">
                <div class="fast-login">
                    <h4 class="fast-login-title">Уже зарегистрированы? Затем войдите здесь:</h4>

                    <form action="cart.html" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label">Логин</label>
                            <input type="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Пароль</label>
                            <input type="email" class="form-control">
                        </div>
                        <div class="fast-login-settings">
                            <div class="fast-login-settings-list">
                                <a href="">Зарегистрироваться</a>
                                <a href="">Забыли пароль?</a>
                            </div>
                            <button type="submit" class="btn btn-light">Логин и оформить заказ</button>
                        </div>
                    </form>
                </div>
            </div>


        </div>

    </main>

    <!-- @include layouts/footer.html -->

</div>

<!-- @include layouts/end-page.html -->


