<!-- @include layouts/start-page.html -->

<!-- @include layouts/nav-top.html -->

<div class="container" id="container">

    <!-- @include layouts/header.html -->

    <!-- @include layouts/nav-top-1.html -->

    <!-- @include layouts/breadcrumbs.html -->

    <main class="content">

        <div class="l-category">

            <div class="title">
                <div class="title-group">
                    <h2 class="color-warning">Розы</h2>
                    <span class="title-description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.</span>
                </div>
                <div class="title-btn">
                    <a href="products.html" class="btn">Открыть категорию</a>
                </div>
            </div>

            <div class="grid-products">
                <!-- @include layouts/products/1.html -->
                <!-- @include layouts/products/2.html -->
                <!-- @include layouts/products/3.html -->
                <!-- @include layouts/products/4.html -->
            </div>
        </div>

        <div class="l-category">
            <div class="title">
                <div class="title-group">
                    <h2 class="color-warning">Тюльпаны</h2>
                    <span class="title-description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.</span>
                </div>
                <div class="title-btn">
                    <a href="products.html" class="btn">Открыть категорию</a>
                </div>
            </div>

            <div class="grid-products">
                <!-- @include layouts/products/1.html -->
                <!-- @include layouts/products/2.html -->
                <!-- @include layouts/products/3.html -->
                <!-- @include layouts/products/4.html -->
            </div>
        </div>

        <div class="l-category">
            <div class="title">
                <div class="title-group">
                    <h2 class="color-warning">Эксклюзивные подарки</h2>
                    <span class="title-description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.</span>
                </div>
                <div class="title-btn">
                    <a href="products.html" class="btn">Открыть категорию</a>
                </div>
            </div>
            <div class="grid-products">
                <!-- @include layouts/products/1.html -->
                <!-- @include layouts/products/2.html -->
                <!-- @include layouts/products/3.html -->
                <!-- @include layouts/products/4.html -->
            </div>
        </div>

    </main>

    <!-- @include layouts/footer.html -->

</div>

<!-- @include layouts/end-page.html -->