<!-- @include layouts/start-page.html -->

<!-- @include layouts/nav-top.html -->

<div class="container" id="container">

    <!-- @include layouts/header.html -->

    <!-- @include layouts/nav-top-1.html -->

    <!-- @include layouts/breadcrumbs.html -->


    <main class="content">

        <div class="l-checkout">

            <h3 class="title">Оформление заказа</h3>

            <form action="/checkout.html" class="form-horizontal">

                <div class="section">
                    <div class="section-title">Bill to <span>(enter sender's information)</span></div>

                    <div class="form-group required">
                        <label class="control-label">First Name</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="form-group required">
                        <label class="control-label">Last Name</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="form-group required">
                        <label class="control-label">Email</label>
                        <input type="email" class="form-control">
                    </div>

                    <div class="form-group">
                        <label class="control-label">Address</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="form-group required">
                        <label class="control-label">Phone / Mobile phone</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="form-group">
                        <label class="control-label">Country</label>
                        <select name="country" class="form-control">
                            <option>Россия</option>
                            <option>США</option>
                            <option>Франция</option>
                            <option>Германия</option>
                        </select>
                    </div>

                </div>

                <div class="section">
                    <div class="section-title">Deliver to <span>(enter recipient's information)</span></div>

                    <div class="form-group required">
                        <label class="control-label">First Name</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="form-group required">
                        <label class="control-label">Last Name</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="form-group">
                        <label class="control-label">Address</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="form-group required">
                        <label class="control-label">Phone / Mobile phone</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="form-group required">
                        <label class="control-label">Country</label>
                        <select name="country" class="form-control">
                            <option>Россия</option>
                            <option>США</option>
                            <option>Франция</option>
                            <option>Германия</option>
                        </select>
                    </div>

                    <div class="form-group required">
                        <label class="control-label">City of delivery</label>
                        <select name="city" class="form-control">
                            <option>Одесса</option>
                            <option>Киев</option>
                            <option>Париж</option>
                            <option>Берлин</option>
                            <option>Нью-Йорк</option>
                        </select>
                    </div>

                    <p><br></p>

                    <div class="form-group required">
                        <label class="control-label">Date</label>
                        <input type="text" placeholder="2016.07.07" readonly="readonly" id="datepicker" class="form-control">
                    </div>

                    <div class="form-group required">
                        <label class="control-label">
                            Enter your message to recipient
                            <span>(Will be printed on the card)</span>
                        </label>
                        <textarea class="form-control"></textarea>
                    </div>

                    <div class="form-group required">
                        <label class="control-label">
                            Your instructions to Kievdelivery
                        </label>
                        <textarea class="form-control"></textarea>
                    </div>

                </div>

                <div class="section section-padding">
                    <div class="section-title">Shipment</div>
                    <label class="control-label">
                        <input type="checkbox" class="form-control" name="shipment" value=""/> Regional Courier Delivery ($22.00)
                    </label>
                </div>

                <div class="section section-padding">
                    <div class="section-title">Payment</div>
                    <div class="form-group l-checkout-payment">
                        <label class="control-label l-checkout-payment-payments">
                            <input class="form-control" type="radio" name="payment" value="card"> Pay by Credit Card (Visa, Mastercard, AMEX)</label>
                        <label class="control-label l-checkout-payment-paypal">
                            <input class="form-control" type="radio" name="payment" value="paypal"> Pay by PayPal
                        </label>
                    </div>
                </div>

            </form>

            <div class="section section-padding">
                <div class="section-title">Coupon discount</div>
                <div class="form-group">
                    <form action="/checkout.html" class="l-checkout-coupon-discount">
                        <input type="text" value="" class="form-control" placeholder="Enter your Coupon code">
                        <button class="btn btn-light">Save</button>
                    </form>
                </div>
            </div>

            <div class="checkout-cart">
                <div class="section-title">Shopping cart</div>

                <div class="checkout-cart-list">

                    <div class="checkout-cart-list-header">
                        <span class="checkout-cart-list-item-code"><span>Product code</span></span>
                        <span class="checkout-cart-list-item-name">Name</span>
                        <span class="checkout-cart-list-item-quantity">Quantity</span>
                        <span class="checkout-cart-list-item-price">Total</span>
                    </div>
                    <div class="checkout-cart-list-body">

                        <div class="checkout-cart-list-body-item">
                            <span class="checkout-cart-list-item-code">123</span>
                            <span class="checkout-cart-list-item-name">9 Premium Pink Roses:</span>
                            <span class="checkout-cart-list-item-quantity">1</span>
                            <span class="checkout-cart-list-item-price">$22.00</span>
                        </div>

                        <div class="checkout-cart-list-body-item">
                            <span class="checkout-cart-list-item-code">67</span>
                            <span class="checkout-cart-list-item-name">21 Premium Pink Roses:</span>
                            <span class="checkout-cart-list-item-quantity">1</span>
                            <span class="checkout-cart-list-item-price">$22.00</span>
                        </div>

                        <div class="checkout-cart-list-body-item">
                            <span class="checkout-cart-list-item-code">78</span>
                            <span class="checkout-cart-list-item-name">Courier Delivery:</span>
                            <span class="checkout-cart-list-item-quantity">1</span>
                            <span class="checkout-cart-list-item-price">$22.00</span>
                        </div>

                        <div class="checkout-cart-list-body-item-info">
                            <div class="checkout-cart-list-body-item">
                                <span class="checkout-cart-list-item-name">Pay by Credit Card</span>
                                <span class="checkout-cart-list-item-price">$11.95</span>
                            </div>
                            <div class="checkout-cart-list-body-item">
                                <span class="checkout-cart-list-item-name">Your discount</span>
                                <span class="checkout-cart-list-item-price checkout-cart-list-item-price-discount">$-2.00</span>
                            </div>
                            <div class="checkout-cart-list-body-item">
                                <span class="checkout-cart-list-item-name">Total for Order</span>
                                <span class="checkout-cart-list-item-price checkout-cart-list-item-price-total">$31.95</span>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="checkout-cart-total-pay">
                    <label class="control-label">
                        <input type="checkbox" value=""/>
                        I have read and accept the Terms of Service and Delivery
                    </label>
                    <button class="btn btn-warning">Click to pay</button>
                </div>

            </div>
        </div>

        </main>

        <!-- @include layouts/footer.html -->

    </div>

    <!-- @include layouts/end-page.html -->