<!-- @include layouts/start-page.html -->

<!-- @include layouts/nav-top.html -->

<div class="container" id="container">

    <!-- @include layouts/header.html -->

    <!-- @include layouts/nav-top-1.html -->

    <!-- @include layouts/breadcrumbs.html -->


    <main class="content">

        <h3 class="title">Скидки и купоны</h3>

        <div class="l-discounts">

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At blanditiis cupiditate dolore laborum
                provident quibusdam sit sunt tenetur vitae voluptate. Asperiores, doloribus eos maxime molestias
                officiis placeat totam voluptatibus? Autem est iure natus necessitatibus officia quas, rerum? Amet
                asperiores earum molestiae non officiis voluptatem voluptatum. At et exercitationem fugit itaque!</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci distinctio fugiat molestias provident
                quasi quibusdam sequi! Accusamus ad adipisci aliquid asperiores at aut consequatur corporis dicta fuga
                illo illum in ipsam iste maxime minima molestias, optio praesentium quam quasi quia quibusdam, quisquam
                rerum sequi similique suscipit totam vel? Aperiam consequuntur distinctio esse, eveniet excepturi
                exercitationem id iure maiores necessitatibus nemo nisi nostrum officiis quas saepe vel veritatis,
                voluptas. Consectetur delectus dolor ducimus eaque hic nulla perspiciatis similique suscipit, tempora
                ut? Ad atque aut dolore ea enim error itaque modi nulla quidem soluta? A asperiores assumenda
                blanditiis, maxime minus nulla sed?</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, velit.</p>

        </div>

    </main>

    <!-- @include layouts/footer.html -->

</div>

<!-- @include layouts/end-page.html -->




