<!-- @include layouts/start-page.html -->

<!-- @include layouts/nav-top.html -->

<div class="container" id="container">

    <!-- @include layouts/header.html -->

    <!-- @include layouts/nav-top-1.html -->

    <!-- @include layouts/breadcrumbs.html -->


    <main class="content">

        <h3 class="title">Связаться с нами</h3>

        <div class="l-feedback">

            <div class="form-group required">
                <label class="control-label">First Name</label>
                <input type="text" class="form-control">
            </div>

            <div class="form-group required">
                <label class="control-label">Email</label>
                <input type="email" class="form-control">
            </div>

            <div class="form-group required">
                <label class="control-label">
                    Enter your message to recipient
                </label>
                <textarea class="form-control"></textarea>
            </div>

            <button class="btn btn-warning">Click to send</button>

        </div>



    </main>

    <!-- @include layouts/footer.html -->

</div>

<!-- @include layouts/end-page.html -->




