<!-- @include layouts/start-page.html -->

<!-- @include layouts/nav-top.html -->

<div class="container" id="container">

    <!-- @include layouts/header.html -->

    <!-- @include layouts/nav-top-1.html -->

    <!-- @include layouts/slider.html -->

    <!-- @include layouts/nav-top-2.html -->

    <main class="content">

        <section>
            <h3 class="title-separator"><span>Рекомендуем</span></h3>

            <div class="grid-products">
                <!-- @include layouts/products/1.html -->
                <!-- @include layouts/products/2.html -->
                <!-- @include layouts/products/3.html -->
                <!-- @include layouts/products/4.html -->

                <!-- @include layouts/products/1.html -->
                <!-- @include layouts/products/2.html -->
                <!-- @include layouts/products/3.html -->
                <!-- @include layouts/products/4.html -->
            </div>
        </section>

        <section>
            <h3 class="title-separator"><span>Мы в соц. сетях</span></h3>
            <ul class="social-networks-present">
                <li><a href="" class="twitter">&nbsp;</a></li>
                <li><a href="" class="instagram">&nbsp;</a></li>
                <li><a href="" class="facebook">&nbsp;</a></li>
            </ul>
            <!-- @include layouts/seo-text.html -->
        </section>

        <section>
            <h3 class="title-separator"><span>Новинки</span></h3>

            <div class="grid-products">
                <!-- @include layouts/products/1.html -->
                <!-- @include layouts/products/2.html -->
                <!-- @include layouts/products/3.html -->
                <!-- @include layouts/products/4.html -->
            </div>
        </section>

    </main>

    <!-- @include layouts/footer.html -->

</div>

<!-- @include layouts/end-page.html -->