<!-- @include layouts/start-page.html -->

<!-- @include layouts/nav-top.html -->

<div class="container" id="container">

    <!-- @include layouts/header.html -->

    <!-- @include layouts/nav-top-1.html -->

    <!-- @include layouts/breadcrumbs.html -->


    <main class="content">


        <div id="loader-test"></div>

        Демонстрация лоадера


    </main>

    <!-- @include layouts/footer.html -->

</div>

<!-- @include layouts/end-page.html -->