<!-- @include layouts/start-page.html -->

<!-- @include layouts/nav-top.html -->

<div class="container" id="container">

    <!-- @include layouts/header.html -->

    <!-- @include layouts/nav-top-1.html -->

    <!-- @include layouts/breadcrumbs.html -->

    <div class="l-login-form">
        <div class="fast-login">
            <h4 class="fast-login-title">Уже зарегистрированы? Затем войдите здесь:</h4>

            <form action="cart.html" class="form-horizontal">
                <div class="form-group">
                    <label class="control-label">Логин</label>
                    <input type="email" class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">Пароль</label>
                    <input type="email" class="form-control">
                </div>
                <div class="fast-login-settings">
                    <div class="fast-login-settings-list">
                        <a href="registration.html">Зарегистрироваться</a>
                        <a href="">Забыли пароль?</a>
                    </div>
                    <button type="submit" class="btn btn-light">Войти в кабинет</button>
                </div>
            </form>
        </div>
    </div>

    <!-- @include layouts/footer.html -->

</div>

<!-- @include layouts/end-page.html -->