<!-- @include layouts/start-page.html -->

<!-- @include layouts/nav-top.html -->

<div class="container" id="container">

    <!-- @include layouts/header.html -->

    <!-- @include layouts/nav-top-1.html -->

    <!-- @include layouts/breadcrumbs.html -->


    <main class="content">

        <h3 class="title">Последние новости</h3>

        <div class="grid-news">

            <!-- @include layouts/news/1.html -->
            <!-- @include layouts/news/2.html -->
            <!-- @include layouts/news/3.html -->

        </div>

        <ul class="pagination">
            <li class="prev"><a href=""></a></li>
            <li class="active"><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="">4</a></li>
            <li><a href="">5</a></li>
            <li class="next"><a href=""></a></li>
        </ul>

    </main>

    <!-- @include layouts/footer.html -->

</div>

<!-- @include layouts/end-page.html -->