<!-- @include layouts/start-page.html -->

<!-- @include layouts/nav-top.html -->

<div class="container" id="container">

    <!-- @include layouts/header.html -->

    <!-- @include layouts/nav-top-1.html -->

    <!-- @include layouts/breadcrumbs.html -->

    <main class="content order-completed">

        <h3>Заказ №4324 от 21.01.2016</h3>

        <div class="l-cart-list">
            <div class="l-cart-list-header">
                <span class="l-cart-list-item-name">Наименование товара</span>
                <span class="l-cart-list-item-desc">Описание</span>
                <span class="l-cart-list-item-price">Цена</span>
                <span class="l-cart-list-item-amount">Количество</span>
                <span class="l-cart-list-item-total">Сумма</span>
            </div>
            <div class="l-cart-list-body">
                <div class="l-cart-list-item">
                    <span class="l-cart-list-item-name"><img src="img/products/item-1.jpg" alt=""/></span>
                            <span class="l-cart-list-item-desc">
                                <a href="">Букет из 25 розовых роз, 70 см</a>
                                <div class="l-cart-list-item-desc-text">
                                    Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает
                                    сосредоточиться.
                                </div>
                            </span>
                    <span class="l-cart-list-item-price">$18</span>
                            <span class="l-cart-list-item-amount">
                                1
                            </span>
                    <span class="l-cart-list-item-total">$18</span>

                </div>
                <div class="l-cart-list-item">
                    <span class="l-cart-list-item-name"><img src="img/products/item-1.jpg" alt=""/></span>
                            <span class="l-cart-list-item-desc">
                                <a href="">Букет из 25 розовых роз, 70 см</a>
                                <div class="l-cart-list-item-desc-text">
                                    Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает
                                    сосредоточиться.
                                </div>
                            </span>
                    <span class="l-cart-list-item-price">$18</span>
                            <span class="l-cart-list-item-amount">
                                1
                            </span>
                    <span class="l-cart-list-item-total">$18</span>

                </div>

            </div>
        </div>

        <div class="checkout-cart-list-body-item-info">
            <div class="checkout-cart-list-body-item">
                <span class="checkout-cart-list-item-name">Pay by Credit Card</span>
                <span class="checkout-cart-list-item-price">$11.95</span>
            </div>
            <div class="checkout-cart-list-body-item">
                <span class="checkout-cart-list-item-name">Your discount</span>
                <span class="checkout-cart-list-item-price checkout-cart-list-item-price-discount">$-2.00</span>
            </div>
            <div class="checkout-cart-list-body-item">
                <span class="checkout-cart-list-item-name">Total for Order</span>
                <span class="checkout-cart-list-item-price checkout-cart-list-item-price-total">$34</span>
            </div>
        </div>


        <div class="section">
            <div class="section-title">Deliver to <span>(enter recipient's information)</span></div>

            <div class="form-group required">
                <label class="control-label">First Name</label>
                <input type="text" class="form-control" value="Irina" disabled>
            </div>

            <div class="form-group required">
                <label class="control-label">Last Name</label>
                <input type="text" class="form-control" value="Ivanova" disabled>
            </div>

            <div class="form-group">
                <label class="control-label">Address</label>
                <input type="text" class="form-control" value="West Olympic Boulevard" disabled>
            </div>

            <div class="form-group required">
                <label class="control-label">Phone / Mobile phone</label>
                <input type="text" class="form-control" value="+380675442323" disabled>
            </div>

            <div class="form-group required">
                <label class="control-label">Country</label>
                <select name="country" class="form-control" disabled>
                    <option>Россия</option>
                    <option selected>США</option>
                    <option>Франция</option>
                    <option>Германия</option>
                </select>
            </div>

            <div class="form-group required">
                <label class="control-label">City of delivery</label>
                <select name="city" class="form-control" disabled>
                    <option selected>Одесса</option>
                    <option>Киев</option>
                    <option>Париж</option>
                    <option>Берлин</option>
                    <option>Нью-Йорк</option>
                </select>
            </div>

            <p><br></p>

            <div class="form-group required">
                <label class="control-label">Date</label>
                <input type="text" placeholder="21.01.2016" readonly="readonly" id="datepicker" class="form-control" disabled>
            </div>

            <div class="form-group required">
                <label class="control-label">
                    Enter your message to recipient
                    <span>(Will be printed on the card)</span>
                </label>
                <textarea class="form-control" disabled>Happy birthday!</textarea>
            </div>

            <div class="form-group required">
                <label class="control-label">
                    Your instructions to Kievdelivery
                </label>
                <textarea class="form-control" disabled>Orange building, 2nd floor</textarea>
            </div>

        </div>

    </main>

    <!-- @include layouts/footer.html -->

</div>

<!-- @include layouts/end-page.html -->