<!-- @include layouts/start-page.html -->

<!-- @include layouts/nav-top.html -->

<div class="container" id="container">

    <!-- @include layouts/header.html -->

    <!-- @include layouts/nav-top-1.html -->

    <!-- @include layouts/breadcrumbs.html -->

    <main class="content">

        <div class="l-profile">

            <div class="l-profile-steps">
                <a href="profile.html">Мои данные</a>
                <a href="order-history.html" class="is-active">История заказов</a>
            </div>


            <div class="order-history">
                <div class="section-title">Order history</div>

                <div class="order-history-list">

                    <div class="order-history-list-header">
                        <span class="order-history-list-item-code"><span>Code</span></span>
                        <span class="order-history-list-item-date">Date</span>
                        <span class="order-history-list-item-quantity">Quantity</span>
                        <span class="order-history-list-item-price">Total</span>
                    </div>
                    <div class="order-history-list-body">

                        <a href="order-completed.html">
                            <div class="order-history-list-body-item">
                                <span class="order-history-list-item-code">4324</span>
                                <span class="order-history-list-item-date">21.01.2016</span>
                                <span class="order-history-list-item-quantity">2</span>
                                <span class="order-history-list-item-price">$36.00</span>
                            </div>
                        </a>

                        <a href="">
                            <div class="order-history-list-body-item">
                                <span class="order-history-list-item-code">2524</span>
                                <span class="order-history-list-item-date">04.02.2016</span>
                                <span class="order-history-list-item-quantity">1</span>
                                <span class="order-history-list-item-price">$22.00</span>
                            </div>
                        </a>

                        <a href="">
                            <div class="order-history-list-body-item">
                                <span class="order-history-list-item-code">1224</span>
                                <span class="order-history-list-item-date">12.03.2016</span>
                                <span class="order-history-list-item-quantity">2</span>
                                <span class="order-history-list-item-price">$44.00</span>
                            </div>
                        </a>


                    </div>

                </div>


            </div>


        </div>

    </main>

    <!-- @include layouts/footer.html -->

</div>

<!-- @include layouts/end-page.html -->