<!-- @include layouts/start-page.html -->

<!-- @include layouts/nav-top.html -->

<div class="container" id="container">

    <!-- @include layouts/header.html -->

    <!-- @include layouts/nav-top-1.html -->

    <!-- @include layouts/breadcrumbs.html -->


    <main class="content">

        <h3 class="title">Фото доставок</h3>

        <div class="l-photoDeliveries">

            <a href="http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_b.jpg" title="The Cleaner">
                <div class="item"
                     style="background-image: url('http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_b.jpg');"></div>
            </a>

            <a href="http://farm9.staticflickr.com/8382/8558295631_0f56c1284f_b.jpg" title="The Cleaner">
                <div class="item"
                     style="background-image: url('http://farm9.staticflickr.com/8382/8558295631_0f56c1284f_b.jpg');"></div>
            </a>

            <a href="http://farm9.staticflickr.com/8225/8558295635_b1c5ce2794_b.jpg" title="The Cleaner">
                <div class="item"
                     style="background-image: url('http://farm9.staticflickr.com/8225/8558295635_b1c5ce2794_b.jpg');"></div>
            </a>

            <a href="http://farm9.staticflickr.com/8383/8563475581_df05e9906d_b.jpg" title="The Cleaner">
                <div class="item"
                     style="background-image: url('http://farm9.staticflickr.com/8383/8563475581_df05e9906d_b.jpg');"></div>
            </a>

            <a href="http://farm9.staticflickr.com/8235/8559402846_8b7f82e05d_b.jpg" title="The Cleaner">
                <div class="item"
                     style="background-image: url('http://farm9.staticflickr.com/8235/8559402846_8b7f82e05d_b.jpg');"></div>
            </a>

            <a href="http://farm9.staticflickr.com/8235/8558295467_e89e95e05a_b.jpg" title="The Cleaner">
                <div class="item"
                     style="background-image: url('http://farm9.staticflickr.com/8235/8558295467_e89e95e05a_b.jpg');"></div>
            </a>

            <a href="http://farm9.staticflickr.gucom/8378/8559402848_9fcd90d20b_b.jpg" title="The Cleaner">
                <div class="item"
                     style="background-image: url('http://farm9.staticflickr.com/8378/8559402848_9fcd90d20b_b.jpg');"></div>
            </a>

            <a href="http://farm9.staticflickr.com/8235/8559402846_8b7f82e05d_b.jpg" title="The Cleaner">
                <div class="item"
                     style="background-image: url('http://farm9.staticflickr.com/8235/8559402846_8b7f82e05d_b.jpg');"></div>
            </a>


        </div>


    </main>

    <!-- @include layouts/footer.html -->

</div>

<!-- @include layouts/end-page.html -->