<!-- @include layouts/start-page.html -->

<!-- @include layouts/nav-top.html -->

<div class="container" id="container">

    <!-- @include layouts/header.html -->

    <!-- @include layouts/nav-top-1.html -->

    <!-- @include layouts/breadcrumbs.html -->


    <main class="content">

        <div class="l-product">
            <div class="l-product-present">
                <div class="l-product-present-view">
                    <div class="l-product-present-image" style="background-image: url(img/products/item-1.jpg)"></div>
                    <div class="swiper-container" id="product-preview">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide is-active" style="background-image: url(img/products/item-1.jpg)"></div>
                            <div class="swiper-slide" style="background-image: url(img/products/item-2.jpg)"></div>
                            <div class="swiper-slide" style="background-image: url(img/products/item-3.jpg)"></div>
                            <div class="swiper-slide" style="background-image: url(img/products/item-4.jpg)"></div>
                        </div>
                        <!-- <div class="swiper-pagination"></div> -->
                        <!-- <div class="swiper-button-next"></div> -->
                        <!-- <div class="swiper-button-prev"></div> -->
                    </div>
                </div>
                <div class="l-product-present-info">
                    <div class="l-product-present-rating">
                        <span class="rating-stars rs-4"></span>
                    </div>
                    <h1 class="l-product-present-title">Букет из 9 красных роз</h1>
                    <span class="l-product-present-code">Код Товара: 1234</span>

                    <div class="l-product-present-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium adipisci aliquam
                        dolorem
                        doloribus ea eligendi ex excepturi inventore iste iusto labore, laborum laudantium, magnam natus
                        nesciunt nulla, perferendis provident quia quibusdam quod ratione rem repudiandae similique
                        soluta
                        suscipit tenetur vero? Animi cumque et iste perspiciatis quisquam ratione rerum vitae?
                    </div>
                    <div class="l-product-present-price">$19.99</div>
                    <div class="cart-add">
                        <button class="btn btn-cart">В корзину</button>
                        <div class="cart-add-amount">
                            <button class="cart-add-amount-button" data-amount="plus">+</button>
                            <input class="input-number" type="text" min="1" id="product-amount" value="1">
                            <button class="cart-add-amount-button" data-amount="minus">-</button>
                        </div>
                        <button class="btn btn-warning">Купить сразу</button>
                    </div>
                </div>
            </div>

            <div class="l-product-description">
                <h2 class="l-product-description-title">
                    Простой и привлекательный букет из 9 красных роз, доставляемый в подарочной обертке. Букет из
                    традиционной
                    красной розы сделан, чтобы соответствовать Вашему вкусу и бюджету.
                </h2>

                <p>
                    Цена за букет сделанный из розы украинского производства 60-70 см в высоту.
                    <br>Размеры букета 70 см в высоту и 30 см в диаметре.
                    <br>Ваза не входит в стоимость букета, но может быть заказана в разделе Эксклюзивные подарки или в
                    нижней части этой страницы
                    в разделе "Рекомендованные".
                    <br>Каждый букет создается нашими флористами вручную и только для Вас, поэтому точный цвет, размер
                    стеблей и бутонов
                    могут отличаться от изображенных на картинке. Мы поставляем только самые свежие цветы.
                    Не забудьте добавить свое сообщение - мы доставим его вместе с букетом на открытке.
                    Фотографии наших цветов во время доставок можно посмотреть на нашей странице в facebook
                    www.facebook.com/kievdelivery
                    или странице "фото доставок" .
                    Мы приглашаем Вас посетить раздел "Подарки в Украине" , где представлен широкий выбор идей для
                    комплиментов к
                    вашему букету цветов! Например оригинальная корзина с фруктами или очаровательный мишка.
                </p>
            </div>

            <div class="l-product-recommended">
                <h3 class="l-product-recommended-title">Рекомендуем добавить к заказу:</h3>

                <div class="l-product-recommended-description">один из товаров ниже, чтобы сделать Ваш заказ лучше и
                    интересней.
                </div>
                <div class="grid-products">
                    <!-- @include layouts/products/1.html -->
                    <!-- @include layouts/products/2.html -->
                    <!-- @include layouts/products/3.html -->
                    <!-- @include layouts/products/4.html -->
                </div>
            </div>

            <!-- @include layouts/_reviews_block.html -->

        </div>

    </main>

    <!-- @include layouts/footer.html -->

</div>

<!-- @include layouts/end-page.html -->