<!-- @include layouts/start-page.html -->

<!-- @include layouts/nav-top.html -->

<div class="container" id="container">

    <!-- @include layouts/header.html -->

    <!-- @include layouts/nav-top-1.html -->

    <!-- @include layouts/breadcrumbs.html -->


    <main class="content">

        <div class="title title-indent-min">
            <div class="title-group">
                <h3 class="color-warning">Розы</h3>
                <span class="title-description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.</span>
            </div>
        </div>

        <div class="filter">
            <!--<div class="filter-view">
                <div class="filter-group">
                    Вид:
                    <button class="filter-view-list"></button>
                    <button class="filter-view-module"></button>
                </div>
            </div>-->
            <div class="filter-order">
                <div class="filter-group">
                    Сортировать:
                    <select name="">
                        <option>По цене (убыванию)</option>
                        <option>По цене (возрастанию)</option>
                    </select>
                </div>
                <div class="filter-group">
                    Показывать:
                    <select name="">
                        <option>15</option>
                        <option>25</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="grid-products">
            <!-- @include layouts/products/1.html -->
            <!-- @include layouts/products/2.html -->
            <!-- @include layouts/products/3.html -->
            <!-- @include layouts/products/4.html -->
            <!-- @include layouts/products/1.html -->
            <!-- @include layouts/products/2.html -->
            <!-- @include layouts/products/3.html -->
            <!-- @include layouts/products/4.html -->
            <!-- @include layouts/products/1.html -->
            <!-- @include layouts/products/2.html -->
            <!-- @include layouts/products/3.html -->
            <!-- @include layouts/products/4.html -->
        </div>

        <ul class="pagination">
            <!--<li class="prev disabled"><span></span></li>-->
            <li class="prev"><a href=""></a></li>
            <li><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li class="active"><a href="">4</a></li>
            <li><a href="">5</a></li>
            <li class="next"><a href=""></a></li>
        </ul>

    </main>

    <!-- @include layouts/footer.html -->

</div>

<!-- @include layouts/end-page.html -->