<!-- @include layouts/start-page.html -->

<!-- @include layouts/nav-top.html -->

<div class="container" id="container">

    <!-- @include layouts/header.html -->

    <!-- @include layouts/nav-top-1.html -->

    <!-- @include layouts/breadcrumbs.html -->

    <main class="content">


        <div class="l-profile">

            <div class="l-profile-steps">
                <a href="profile.html" class="is-active">Мои данные</a>
                <a href="order-history.html">История заказов</a>
            </div>

            <div class="l-profile-myprofile">
                <h5 class="title">Main information</h5>

                <form action="">
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <input type="text" class="form-control" value="Irina">
                        <div class="help-block">Поле name может содержать только буквы.</div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Last Name</label>
                        <input type="text" class="form-control" value="Ivanova">
                    </div>

                    <div class="form-group">
                        <label class="control-label">Username</label>
                        <input type="text" class="form-control" value="Irina_flower">
                    </div>

                    <div class="form-group">
                        <label class="control-label">Email Address</label>
                        <input type="email" class="form-control" value="Irina_flower@gmail.com">
                    </div>

                    <div class="form-group required">
                        <label class="control-label">Phone / Mobile phone</label>
                        <input type="text" class="form-control" value="+380675442323" disabled>
                    </div>

                    <button class="btn btn-light">Change information</button>
                </form>

                <div class="l-profile-myprofile-password-manage">
                    <h5 class="title">Manage password</h5>

                    <form action="">

                        <div class="form-group required">
                            <label class="control-label">Current Password</label>
                            <input type="password" class="form-control">
                        </div>

                        <div class="form-group required">
                            <label class="control-label">New Password</label>
                            <input type="password" class="form-control">
                        </div>

                        <div class="form-group required">
                            <label class="control-label">Confirm new Password</label>
                            <input type="password" class="form-control">
                        </div>

                        <button class="btn btn-light">Update password</button>

                    </form>
                </div>

                <div class="l-profile-myprofile-password-manage">
                    <h5 class="title">Change email</h5>

                    <form action="">
                        <div class="form-group required">
                            <label class="control-label">Current e-mail</label>
                            <input type="email" class="form-control" value="Irina_flower@gmail.com">
                        </div>

                        <div class="form-group required">
                            <label class="control-label">New e-mail</label>
                            <input type="email" class="form-control">
                        </div>

                        <button class="btn btn-light">Update e-mail</button>
                    </form>

                </div>


            </div>

        </div>

    </main>

    <!-- @include layouts/footer.html -->

</div>

<!-- @include layouts/end-page.html -->