<!-- @include layouts/start-page.html -->

<!-- @include layouts/nav-top.html -->

<div class="container" id="container">

    <!-- @include layouts/header.html -->

    <!-- @include layouts/nav-top-1.html -->

    <!-- @include layouts/breadcrumbs.html -->

    <main class="content">

        <div class="l-registration-form">

            <h3 class="title">Регистрация</h3>

            <form action="/registration.html" class="form-horizontal">

                <div class="section">

                    <div class="form-group required">
                        <label class="control-label">Name</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="form-group required">
                        <label class="control-label">Lastname</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="form-group required">
                        <label class="control-label">Username</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="form-group required">
                        <label class="control-label">Password</label>
                        <input type="password" class="form-control">
                    </div>

                    <div class="form-group required">
                        <label class="control-label">Confirm Password</label>
                        <input type="password" class="form-control">
                    </div>

                    <div class="form-group required">
                        <label class="control-label">Email Address</label>
                        <input type="email" class="form-control">
                    </div>

                    <div class="form-group required">
                        <label class="control-label">Confirm Email Address</label>
                        <input type="email" class="form-control">
                    </div>

                    <div class="form-group required">
                        <label class="control-label">Phone / Mobile phone</label>
                        <input type="text" class="form-control">
                    </div>

                </div>

                <div class="registration-form-subbmit">
                    <label class="control-label">
                        <input type="checkbox" value=""/>
                        I agree to Terms & Conditions
                    </label>
                    <button class="btn btn-warning">Click to registration</button>
                </div>

            </form>

        </div>

    </main>

    <!-- @include layouts/footer.html -->

</div>

<!-- @include layouts/end-page.html -->