<!-- @include layouts/start-page.html -->

<!-- @include layouts/nav-top.html -->

<div class="container" id="container">

    <!-- @include layouts/header.html -->

    <!-- @include layouts/nav-top-1.html -->

    <!-- @include layouts/breadcrumbs.html -->


    <main class="content">

        <h3 class="title">Отзывы</h3>

        <div class="l-review">

            <div class="swiper-container">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="l-review-image" style="background-image: url(img/reviews/1.png)"></div>
                        <div class="l-review-name color-warning">Diane Patterson</div>
                        <div class="l-review-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dignissimos ipsum, minima nesciunt qui reiciendis saepe vero voluptates. Debitis, quis.
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="l-review-image" style="background-image: url(img/reviews/2.png)"></div>
                        <div class="l-review-name color-warning">Christina Wood</div>
                        <div class="l-review-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dignissimos ipsum, minima nesciunt qui reiciendis saepe vero voluptates. Debitis, quis.</div>
                    </div>

                    <div class="swiper-slide">
                        <div class="l-review-image" style="background-image: url(img/reviews/3.png)"></div>
                        <div class="l-review-name color-warning">Jose Torres</div>
                        <div class="l-review-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dignissimos ipsum, minima nesciunt qui reiciendis saepe vero voluptates. Debitis, quis.</div>
                    </div>

                </div>
                <!-- <div class="swiper-pagination"></div> -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>

        </div>

    </main>

    <!-- @include layouts/footer.html -->

</div>

<!-- @include layouts/end-page.html -->