<!-- @include layouts/start-page.html -->

<!-- @include layouts/nav-top.html -->

<div class="container" id="container">

    <!-- @include layouts/header.html -->

    <!-- @include layouts/nav-top-1.html -->

    <!-- @include layouts/breadcrumbs.html -->


    <main class="content">

        <h3 class="title">Видео галлерея</h3>

        <div class="l-videoGallery">

            <a class="popup-youtube" href="http://www.youtube.com/watch?v=0O2aH4XLbto">
                <div class="item"
                     style="background-image: url('http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_b.jpg');"></div>
            </a>

            <br>
            <a class="popup-vimeo" href="https://vimeo.com/45830194">
                <div class="item"
                     style="background-image: url('http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_b.jpg');"></div>
            </a>

        </div>


    </main>

    <!-- @include layouts/footer.html -->

</div>

<!-- @include layouts/end-page.html -->