.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

@media (min-width: 768px) {
    .container {
        width: 750px
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

.row {
    margin-left: -15px;
    margin-right: -15px
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left
}

.col-xs-12 {
    width: 100%
}

.col-xs-11 {
    width: 91.66666667%
}

.col-xs-10 {
    width: 83.33333333%
}

.col-xs-9 {
    width: 75%
}

.col-xs-8 {
    width: 66.66666667%
}

.col-xs-7 {
    width: 58.33333333%
}

.col-xs-6 {
    width: 50%
}

.col-xs-5 {
    width: 41.66666667%
}

.col-xs-4 {
    width: 33.33333333%
}

.col-xs-3 {
    width: 25%
}

.col-xs-2 {
    width: 16.66666667%
}

.col-xs-1 {
    width: 8.33333333%
}

.col-xs-pull-12 {
    right: 100%
}

.col-xs-pull-11 {
    right: 91.66666667%
}

.col-xs-pull-10 {
    right: 83.33333333%
}

.col-xs-pull-9 {
    right: 75%
}

.col-xs-pull-8 {
    right: 66.66666667%
}

.col-xs-pull-7 {
    right: 58.33333333%
}

.col-xs-pull-6 {
    right: 50%
}

.col-xs-pull-5 {
    right: 41.66666667%
}

.col-xs-pull-4 {
    right: 33.33333333%
}

.col-xs-pull-3 {
    right: 25%
}

.col-xs-pull-2 {
    right: 16.66666667%
}

.col-xs-pull-1 {
    right: 8.33333333%
}

.col-xs-pull-0 {
    right: auto
}

.col-xs-push-12 {
    left: 100%
}

.col-xs-push-11 {
    left: 91.66666667%
}

.col-xs-push-10 {
    left: 83.33333333%
}

.col-xs-push-9 {
    left: 75%
}

.col-xs-push-8 {
    left: 66.66666667%
}

.col-xs-push-7 {
    left: 58.33333333%
}

.col-xs-push-6 {
    left: 50%
}

.col-xs-push-5 {
    left: 41.66666667%
}

.col-xs-push-4 {
    left: 33.33333333%
}

.col-xs-push-3 {
    left: 25%
}

.col-xs-push-2 {
    left: 16.66666667%
}

.col-xs-push-1 {
    left: 8.33333333%
}

.col-xs-push-0 {
    left: auto
}

.col-xs-offset-12 {
    margin-left: 100%
}

.col-xs-offset-11 {
    margin-left: 91.66666667%
}

.col-xs-offset-10 {
    margin-left: 83.33333333%
}

.col-xs-offset-9 {
    margin-left: 75%
}

.col-xs-offset-8 {
    margin-left: 66.66666667%
}

.col-xs-offset-7 {
    margin-left: 58.33333333%
}

.col-xs-offset-6 {
    margin-left: 50%
}

.col-xs-offset-5 {
    margin-left: 41.66666667%
}

.col-xs-offset-4 {
    margin-left: 33.33333333%
}

.col-xs-offset-3 {
    margin-left: 25%
}

.col-xs-offset-2 {
    margin-left: 16.66666667%
}

.col-xs-offset-1 {
    margin-left: 8.33333333%
}

.col-xs-offset-0 {
    margin-left: 0
}

@media (min-width: 768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left
    }

    .col-sm-12 {
        width: 100%
    }

    .col-sm-11 {
        width: 91.66666667%
    }

    .col-sm-10 {
        width: 83.33333333%
    }

    .col-sm-9 {
        width: 75%
    }

    .col-sm-8 {
        width: 66.66666667%
    }

    .col-sm-7 {
        width: 58.33333333%
    }

    .col-sm-6 {
        width: 50%
    }

    .col-sm-5 {
        width: 41.66666667%
    }

    .col-sm-4 {
        width: 33.33333333%
    }

    .col-sm-3 {
        width: 25%
    }

    .col-sm-2 {
        width: 16.66666667%
    }

    .col-sm-1 {
        width: 8.33333333%
    }

    .col-sm-pull-12 {
        right: 100%
    }

    .col-sm-pull-11 {
        right: 91.66666667%
    }

    .col-sm-pull-10 {
        right: 83.33333333%
    }

    .col-sm-pull-9 {
        right: 75%
    }

    .col-sm-pull-8 {
        right: 66.66666667%
    }

    .col-sm-pull-7 {
        right: 58.33333333%
    }

    .col-sm-pull-6 {
        right: 50%
    }

    .col-sm-pull-5 {
        right: 41.66666667%
    }

    .col-sm-pull-4 {
        right: 33.33333333%
    }

    .col-sm-pull-3 {
        right: 25%
    }

    .col-sm-pull-2 {
        right: 16.66666667%
    }

    .col-sm-pull-1 {
        right: 8.33333333%
    }

    .col-sm-pull-0 {
        right: auto
    }

    .col-sm-push-12 {
        left: 100%
    }

    .col-sm-push-11 {
        left: 91.66666667%
    }

    .col-sm-push-10 {
        left: 83.33333333%
    }

    .col-sm-push-9 {
        left: 75%
    }

    .col-sm-push-8 {
        left: 66.66666667%
    }

    .col-sm-push-7 {
        left: 58.33333333%
    }

    .col-sm-push-6 {
        left: 50%
    }

    .col-sm-push-5 {
        left: 41.66666667%
    }

    .col-sm-push-4 {
        left: 33.33333333%
    }

    .col-sm-push-3 {
        left: 25%
    }

    .col-sm-push-2 {
        left: 16.66666667%
    }

    .col-sm-push-1 {
        left: 8.33333333%
    }

    .col-sm-push-0 {
        left: auto
    }

    .col-sm-offset-12 {
        margin-left: 100%
    }

    .col-sm-offset-11 {
        margin-left: 91.66666667%
    }

    .col-sm-offset-10 {
        margin-left: 83.33333333%
    }

    .col-sm-offset-9 {
        margin-left: 75%
    }

    .col-sm-offset-8 {
        margin-left: 66.66666667%
    }

    .col-sm-offset-7 {
        margin-left: 58.33333333%
    }

    .col-sm-offset-6 {
        margin-left: 50%
    }

    .col-sm-offset-5 {
        margin-left: 41.66666667%
    }

    .col-sm-offset-4 {
        margin-left: 33.33333333%
    }

    .col-sm-offset-3 {
        margin-left: 25%
    }

    .col-sm-offset-2 {
        margin-left: 16.66666667%
    }

    .col-sm-offset-1 {
        margin-left: 8.33333333%
    }

    .col-sm-offset-0 {
        margin-left: 0
    }
}

@media (min-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left
    }

    .col-md-12 {
        width: 100%
    }

    .col-md-11 {
        width: 91.66666667%
    }

    .col-md-10 {
        width: 83.33333333%
    }

    .col-md-9 {
        width: 75%
    }

    .col-md-8 {
        width: 66.66666667%
    }

    .col-md-7 {
        width: 58.33333333%
    }

    .col-md-6 {
        width: 50%
    }

    .col-md-5 {
        width: 41.66666667%
    }

    .col-md-4 {
        width: 33.33333333%
    }

    .col-md-3 {
        width: 25%
    }

    .col-md-2 {
        width: 16.66666667%
    }

    .col-md-1 {
        width: 8.33333333%
    }

    .col-md-pull-12 {
        right: 100%
    }

    .col-md-pull-11 {
        right: 91.66666667%
    }

    .col-md-pull-10 {
        right: 83.33333333%
    }

    .col-md-pull-9 {
        right: 75%
    }

    .col-md-pull-8 {
        right: 66.66666667%
    }

    .col-md-pull-7 {
        right: 58.33333333%
    }

    .col-md-pull-6 {
        right: 50%
    }

    .col-md-pull-5 {
        right: 41.66666667%
    }

    .col-md-pull-4 {
        right: 33.33333333%
    }

    .col-md-pull-3 {
        right: 25%
    }

    .col-md-pull-2 {
        right: 16.66666667%
    }

    .col-md-pull-1 {
        right: 8.33333333%
    }

    .col-md-pull-0 {
        right: auto
    }

    .col-md-push-12 {
        left: 100%
    }

    .col-md-push-11 {
        left: 91.66666667%
    }

    .col-md-push-10 {
        left: 83.33333333%
    }

    .col-md-push-9 {
        left: 75%
    }

    .col-md-push-8 {
        left: 66.66666667%
    }

    .col-md-push-7 {
        left: 58.33333333%
    }

    .col-md-push-6 {
        left: 50%
    }

    .col-md-push-5 {
        left: 41.66666667%
    }

    .col-md-push-4 {
        left: 33.33333333%
    }

    .col-md-push-3 {
        left: 25%
    }

    .col-md-push-2 {
        left: 16.66666667%
    }

    .col-md-push-1 {
        left: 8.33333333%
    }

    .col-md-push-0 {
        left: auto
    }

    .col-md-offset-12 {
        margin-left: 100%
    }

    .col-md-offset-11 {
        margin-left: 91.66666667%
    }

    .col-md-offset-10 {
        margin-left: 83.33333333%
    }

    .col-md-offset-9 {
        margin-left: 75%
    }

    .col-md-offset-8 {
        margin-left: 66.66666667%
    }

    .col-md-offset-7 {
        margin-left: 58.33333333%
    }

    .col-md-offset-6 {
        margin-left: 50%
    }

    .col-md-offset-5 {
        margin-left: 41.66666667%
    }

    .col-md-offset-4 {
        margin-left: 33.33333333%
    }

    .col-md-offset-3 {
        margin-left: 25%
    }

    .col-md-offset-2 {
        margin-left: 16.66666667%
    }

    .col-md-offset-1 {
        margin-left: 8.33333333%
    }

    .col-md-offset-0 {
        margin-left: 0
    }
}

@media (min-width: 1200px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left
    }

    .col-lg-12 {
        width: 100%
    }

    .col-lg-11 {
        width: 91.66666667%
    }

    .col-lg-10 {
        width: 83.33333333%
    }

    .col-lg-9 {
        width: 75%
    }

    .col-lg-8 {
        width: 66.66666667%
    }

    .col-lg-7 {
        width: 58.33333333%
    }

    .col-lg-6 {
        width: 50%
    }

    .col-lg-5 {
        width: 41.66666667%
    }

    .col-lg-4 {
        width: 33.33333333%
    }

    .col-lg-3 {
        width: 25%
    }

    .col-lg-2 {
        width: 16.66666667%
    }

    .col-lg-1 {
        width: 8.33333333%
    }

    .col-lg-pull-12 {
        right: 100%
    }

    .col-lg-pull-11 {
        right: 91.66666667%
    }

    .col-lg-pull-10 {
        right: 83.33333333%
    }

    .col-lg-pull-9 {
        right: 75%
    }

    .col-lg-pull-8 {
        right: 66.66666667%
    }

    .col-lg-pull-7 {
        right: 58.33333333%
    }

    .col-lg-pull-6 {
        right: 50%
    }

    .col-lg-pull-5 {
        right: 41.66666667%
    }

    .col-lg-pull-4 {
        right: 33.33333333%
    }

    .col-lg-pull-3 {
        right: 25%
    }

    .col-lg-pull-2 {
        right: 16.66666667%
    }

    .col-lg-pull-1 {
        right: 8.33333333%
    }

    .col-lg-pull-0 {
        right: auto
    }

    .col-lg-push-12 {
        left: 100%
    }

    .col-lg-push-11 {
        left: 91.66666667%
    }

    .col-lg-push-10 {
        left: 83.33333333%
    }

    .col-lg-push-9 {
        left: 75%
    }

    .col-lg-push-8 {
        left: 66.66666667%
    }

    .col-lg-push-7 {
        left: 58.33333333%
    }

    .col-lg-push-6 {
        left: 50%
    }

    .col-lg-push-5 {
        left: 41.66666667%
    }

    .col-lg-push-4 {
        left: 33.33333333%
    }

    .col-lg-push-3 {
        left: 25%
    }

    .col-lg-push-2 {
        left: 16.66666667%
    }

    .col-lg-push-1 {
        left: 8.33333333%
    }

    .col-lg-push-0 {
        left: auto
    }

    .col-lg-offset-12 {
        margin-left: 100%
    }

    .col-lg-offset-11 {
        margin-left: 91.66666667%
    }

    .col-lg-offset-10 {
        margin-left: 83.33333333%
    }

    .col-lg-offset-9 {
        margin-left: 75%
    }

    .col-lg-offset-8 {
        margin-left: 66.66666667%
    }

    .col-lg-offset-7 {
        margin-left: 58.33333333%
    }

    .col-lg-offset-6 {
        margin-left: 50%
    }

    .col-lg-offset-5 {
        margin-left: 41.66666667%
    }

    .col-lg-offset-4 {
        margin-left: 33.33333333%
    }

    .col-lg-offset-3 {
        margin-left: 25%
    }

    .col-lg-offset-2 {
        margin-left: 16.66666667%
    }

    .col-lg-offset-1 {
        margin-left: 8.33333333%
    }

    .col-lg-offset-0 {
        margin-left: 0
    }
}

input[type="search"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal
}

input[type="file"] {
    display: block
}

input[type="range"] {
    display: block;
    width: 100%
}

select[multiple], select[size] {
    height: auto
}

input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
    content: " ";
    display: table
}

.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-header:after, .modal-footer:after {
    clear: both
}

.hidden {
    display: none !important
}

@-ms-viewport {
    width: device-width
}

.visible-xs, .visible-sm, .visible-md, .visible-lg {
    display: none !important
}

.visible-xs-block, .visible-xs-inline, .visible-xs-inline-block, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block, .visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block {
    display: none !important
}

@media (max-width: 767px) {
    .visible-xs {
        display: block !important
    }

    table.visible-xs {
        display: table !important
    }

    tr.visible-xs {
        display: table-row !important
    }

    th.visible-xs, td.visible-xs {
        display: table-cell !important
    }
}

@media (max-width: 767px) {
    .visible-xs-block {
        display: block !important
    }
}

@media (max-width: 767px) {
    .visible-xs-inline {
        display: inline !important
    }
}

@media (max-width: 767px) {
    .visible-xs-inline-block {
        display: inline-block !important
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm {
        display: block !important
    }

    table.visible-sm {
        display: table !important
    }

    tr.visible-sm {
        display: table-row !important
    }

    th.visible-sm, td.visible-sm {
        display: table-cell !important
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-block {
        display: block !important
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-inline {
        display: inline !important
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-inline-block {
        display: inline-block !important
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md {
        display: block !important
    }

    table.visible-md {
        display: table !important
    }

    tr.visible-md {
        display: table-row !important
    }

    th.visible-md, td.visible-md {
        display: table-cell !important
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-block {
        display: block !important
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-inline {
        display: inline !important
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-inline-block {
        display: inline-block !important
    }
}

@media (min-width: 1200px) {
    .visible-lg {
        display: block !important
    }

    table.visible-lg {
        display: table !important
    }

    tr.visible-lg {
        display: table-row !important
    }

    th.visible-lg, td.visible-lg {
        display: table-cell !important
    }
}

@media (min-width: 1200px) {
    .visible-lg-block {
        display: block !important
    }
}

@media (min-width: 1200px) {
    .visible-lg-inline {
        display: inline !important
    }
}

@media (min-width: 1200px) {
    .visible-lg-inline-block {
        display: inline-block !important
    }
}

@media (max-width: 767px) {
    .hidden-xs {
        display: none !important
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: none !important
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
        display: none !important
    }
}

@media (min-width: 1200px) {
    .hidden-lg {
        display: none !important
    }
}

.visible-print {
    display: none !important
}

@media print {
    .visible-print {
        display: block !important
    }

    table.visible-print {
        display: table !important
    }

    tr.visible-print {
        display: table-row !important
    }

    th.visible-print, td.visible-print {
        display: table-cell !important
    }
}

.visible-print-block {
    display: none !important
}

@media print {
    .visible-print-block {
        display: block !important
    }
}

.visible-print-inline {
    display: none !important
}

@media print {
    .visible-print-inline {
        display: inline !important
    }
}

.visible-print-inline-block {
    display: none !important
}

@media print {
    .visible-print-inline-block {
        display: inline-block !important
    }
}

@media print {
    .hidden-print {
        display: none !important
    }
}

#catalog-sticky-main {
    display: flex;
    align-items: stretch
}

@media (max-width: 991px) {
    #catalog-sticky-main {
        flex-direction: column
    }
}

#catalog-sticky-main.hideleftmenu #catalog-sticky-sidebar {
    display: none
}

#catalog-sticky-main.hideleftmenu #catalog-sticky-content {
    width: 100%
}

#catalog-sticky-main #catalog-sticky-sidebar {
    will-change: min-height
}

@media (min-width: 992px) {
    #catalog-sticky-main #catalog-sticky-sidebar {
        width: 25%;
        padding-right: 28px
    }
}

@media (min-width: 992px) {
    #catalog-sticky-main #catalog-sticky-sidebar .sidebar__inner {
        transform: translate(0, 0);
        transform: translate3d(0, 0, 0);
        will-change: position, transform
    }
}

@media (min-width: 992px) {
    #catalog-sticky-main #catalog-sticky-content {
        width: 75%
    }
}

@media (max-width: 991px) {
    #catalog-sticky-main .btn-absolute {
        top: 13px;
        position: relative
    }
}

@media (max-width: 991px) {
    #catalog-sticky-main .is-affixed .sidebar__inner {
        position: relative !important;
        top: auto !important;
        left: auto !important;
        width: auto !important
    }
}

.catalogpage__h1 {
    margin: 0 0 .5em 0;
    font-family: Montserrat, sans-serif;
    font-size: 1.85714286em;
    color: #000;
    font-weight: 500;
    line-height: 1.2em
}

.catalogpage__h1__coverpager {
    padding-bottom: 1em;
    justify-content: space-between;
    align-items: center
}

.catalogpage__h1__coverpager .catalogpage__h1 {
    flex-grow: 1;
    margin: 0;
    line-height: .8em
}

.catalogpage__sort {
    text-align: right;
    padding-top: .64em;
    padding-bottom: 1em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #000;
    font-weight: 400
}

@media (max-width: 767px) {
    .catalogpage__sort {
        padding-bottom: 0
    }
}

.catalogpage__sort a {
    display: inline-block;
    margin-left: 1em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #8a8989;
    font-weight: 400;
    font-style: italic
}

@media (max-width: 991px) {
    .catalogpage__sort a {
        padding-top: .65em;
        padding-bottom: .65em
    }
}

.catalogpage__sort a.active, .catalogpage__sort a:hover {
    color: #000;
    text-decoration: none
}

.catalogpage__viewmode {
    margin-left: 1em
}

@media (max-width: 767px) {
    .catalogpage__viewmode {
        display: none
    }
}

.catalogpage__viewmode a {
    display: inline-block;
    margin-left: .33333333em;
    font-family: Montserrat, sans-serif;
    font-size: 1.28571429em;
    color: #d6d6d5;
    font-weight: '';
    line-height: 1.2em
}

.catalogpage__viewmode a.active {
    color: #2b3034
}

.catalogpage__viewmode .fa, .catalogpage__viewmode .lnr {
    vertical-align: middle
}

.catalogpage__pagerajax {
    text-align: right;
    padding-top: 2em;
    padding-bottom: 2em
}

.catalogpage__button_more {
    display: inline-block;
    margin-left: 1em;
    margin-right: 2em;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #8a8989;
    text-decoration: none
}

.catalogpage__button_more:hover {
    color: #000;
    text-decoration: none
}

.catalogpage__cattree__back {
    display: block;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: .92857143em;
    color: #fff;
    font-weight: '';
    line-height: 1.23076923em;
    padding: .92307692em .5em;
    margin-bottom: 21px;
    background-color: #373737
}

.catalogpage__cattree__back:hover {
    color: #fff;
    text-decoration: none
}

.catalogpage__cattree__level1 {
    display: block;
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    color: #000;
    font-weight: 600;
    line-height: 1.2em;
    text-transform: lowercase;
    padding: .25em .36em;
    border: 0 solid #ededed;
    border-bottom-width: 1px
}

.catalogpage__cattree__level1:first-letter {
    text-transform: uppercase
}

.pageProfilePage .catalogpage__cattree__level1 {
    padding-top: .54em;
    padding-bottom: .54em
}

.catalogpage__cattree__level1:hover {
    color: #0187be;
    text-decoration: none
}

.catalogpage__cattree__level1:first-of-type {
    border-top-width: 1px
}

.catalogpage__cattree__level2 {
    display: block;
    font-family: Montserrat, sans-serif;
    font-size: .92857143em;
    color: #000;
    font-weight: '';
    line-height: 1.15384615em;
    padding: 5px 0;
    padding-left: 1em
}

.catalogpage__cattree__level2.active, .catalogpage__cattree__level2:hover {
    color: #0187be;
    text-decoration: none
}

.catalogpage__cattree__level2:first-of-type {
    padding-top: 9px
}

.catalogpage__cattree__level2:last-of-type {
    padding-bottom: 9px;
    border-bottom: 1px solid #ededed
}

.catalogpage__headersort {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5em
}

.catalogpage__headersort h1 {
    flex-grow: 1;
    max-width: 70%
}

.catalogpage__catname, h1.catalogpage__catname {
    font-family: Montserrat, sans-serif;
    font-size: 1.85714286em;
    color: #000;
    font-weight: 500;
    line-height: 1.2em;
    margin: 0 0 10px 0;
    padding: 0;
    text-transform: lowercase
}

.catalogpage__catname:first-letter, h1.catalogpage__catname:first-letter {
    text-transform: uppercase
}

.catalogpage__showmore {
    display: inline-block;
    font-family: Montserrat, sans-serif;
    font-size: .92857143em;
    color: #000;
    font-weight: '';
    line-height: 2.30769231em;
    border: 1px solid #f1f0f0;
    padding: 0 1em;
    margin-right: 3em
}

.catalogpage__showmore:hover {
    text-decoration: none
}

.catalogpage__slider {
    font-size: 1em;
    color: #000;
    line-height: 2.14em
}

.catalogpage__slider__inputs input {
    display: inline
}

.catalogpage__podbor {
    font-size: 1em;
    color: #000;
    line-height: 1.2em
}

.catalogpage__podbor__filtercover {
    padding-bottom: 1em
}

.catalogpage__podbor__filtercover:last-of-type {
    padding-bottom: 3em
}

.catalogpage__podbor__filtercover .catalog-tovars__podbor__specif__header {
    background-color: #43c900;
    padding: .643em .85714286em;
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    line-height: 1.2em
}

.catalogpage__podbor__speciflabel {
    cursor: pointer;
    display: block;
    
    padding-top: .45em;
    
    padding-left: 25px;
    font-size: 1em;
    color: #000;
    font-weight: 400;
    
    position: relative
}

.catalogpage__podbor__speciflabel span {
    width: 20px;
    height: 20px;
    left: 5px;
    position: absolute;
    z-index: 1;
}

.catalogpage__podbor__speciflabel-cover {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1em
}

.catalogpage__podbor__speciflabel:before {
    display: none;
}

.catalogpage__podbor__cena {
    padding-top: 1em;
    align-items: center
}

.catalogpage__podbor__cena > div {
    padding: 0 5px
}

.catalogpage__podbor__cena .form-control {
    border-radius: 0;
    border-color: #d2d1d1;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    color: #222;
    font-weight: '';
    line-height: 1.2em
}

.catalogpage__podbor__cena__link {
    font-family: Montserrat, sans-serif;
    font-size: .92857143em;
    color: #0187be;
    font-weight: '';
    line-height: 1.2em
}

.catalogpage__podbor__cena__link:hover {
    color: #373737;
    text-decoration: none
}

.catalogpage__podbor__cena__link .fa, .catalogpage__podbor__cena__link .lnr {
    vertical-align: middle
}

.catalogpage__podbor__selectedfilters {
    background-color: #f6f5f5;
    margin-bottom: 1em;
    padding: .7em 1.28em
}

.catalogpage__podbor__selectedfilters__head {
    font-size: 1em;
    color: #000;
    font-weight: 500;
    line-height: 2.2em
}

.catalogpage__podbor__selectedfilters a {
    cursor: pointer;
    display: block;
    padding: .46em 0;
    padding-right: 1.2em;
    font-size: 1em;
    color: #000;
    font-weight: 400;
    line-height: 1.2em;
    position: relative
}

.catalogpage__podbor__selectedfilters a:hover {
    color: #222;
    text-decoration: none
}

.catalogpage__podbor__selectedfilters a:after {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-family: Linearicons-Free;
    font-size: 1.14em;
    content: '\e870';
    color: #000
}

.autotesla__filter__clear {
    display: inline-block;
    cursor: pointer;
    background-color: #f7f7f7;
    border-radius: 11px;
    padding: 0 9px;
    margin-bottom: 20px;
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    color: #000;
    font-weight: '';
    line-height: 1.64285714em
}

.autotesla__filter__clear:after {
    font-family: Linearicons-Free;
    font-size: 1em;
    content: '\e870';
    color: #000
}

.autotesla__filter__clear:hover:after {
    color: #ed314c
}

.autotesla__anons {
    margin-bottom: 15px
}

.autotesla__anons__image-shadow {
    display: block;
    position: relative
}

.autotesla__anons__image-shadow img {
    opacity: .45
}

.viewmode-list .autotesla__anons__image {
    max-width: 30%
}

.autotesla__anons__cover {
    padding: 17px 16px 15px 16px;
    border: 1px solid #f1f0f0;
    border-width: 0 1px
}

.viewmode-list .autotesla__anons__cover {
    align-self: center;
    flex-grow: 1;
    border: 0;
    padding: .7em 2em
}

.autotesla__anons__name {
    display: block;
    position: relative;
    margin-bottom: .625em;
    font-family: Montserrat, sans-serif;
    font-size: 1.14285714em;
    color: #000;
    font-weight: '';
    line-height: 1.2em
}

.autotesla__anons__name:hover {
    color: #000
}

.autotesla__anons__name span {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: auto;
    left: auto;
    transform: translateY(-50%);
    font-size: .8125em;
    color: #bebfbf;
    font-weight: 600
}

.autotesla__anons__params {
    font-family: Montserrat, sans-serif;
    font-size: .85714286em;
    color: #000;
    font-weight: '';
    line-height: 1.2em
}

@media (max-width: 767px) {
    .autotesla__anons__params {
        flex-direction: column
    }
}

.autotesla__anons__params > div:not(:last-of-type) {
    margin-right: .83333333em
}

.autotesla__anons__params > div:not(:last-of-type):after {
    content: '|';
    color: #e4e3e3;
    padding-left: .58333333em
}

.autotesla__anons__anons {
    margin-top: 7px;
    font-family: Montserrat, sans-serif;
    font-size: .85714286em;
    color: #000;
    font-weight: '';
    line-height: 1.2em
}

.autotesla__anons__pricebox {
    justify-content: space-between;
    background-color: #f7f7f7
}

.viewmode-list .autotesla__anons__pricebox {
    min-width: 165px;
    flex-direction: column;
    align-self: center
}

.autotesla__anons__cena {
    align-self: center;
    padding: 0 1.125em;
    font-family: Montserrat, sans-serif;
    font-size: 1.14285714em;
    color: #000;
    font-weight: '';
    line-height: 1.2em
}

.viewmode-list .autotesla__anons__cena {
    line-height: 2em
}

.autotesla__item {
    margin-bottom: 3em
}

.autotesla__item__h1 {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    font-size: 1.85714286em;
    color: #000;
    font-weight: '';
    line-height: 1.2em;
    flex-grow: 1
}

.autotesla__item__h1__cover {
    padding: 0 0 .95em 0;
    margin-top: -8px;
    margin-bottom: 10px;
    align-items: center
}

div.autotesla__item__h1 {
    margin-bottom: 22px
}

.autotesla__item__status {
    margin-right: 1.8em;
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    color: #ed2f4b;
    font-weight: 600;
    line-height: 1.2em
}

@media (max-width: 767px) {
    .autotesla__item__status {
        margin: .5em 0 1em 0
    }
}

.autotesla__item__cena {
    align-items: baseline;
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    color: #000;
    font-weight: 400;
    line-height: 1.2em
}

.autotesla__item__cena__old {
    margin-left: .5em;
    font-size: 1em;
    color: #818080
}

.autotesla__item__cena__end {
    margin-left: .3em;
    font-size: 1.42857143em;
    color: #000;
    font-weight: 600
}

.autotesla__item__slideranons {
    margin-top: 2.5em;
    margin-bottom: 2.5em
}

.autotesla__item__slideranons__item {
    margin-bottom: 1em
}

.autotesla__item__slideranons__item.active img, .autotesla__item__slideranons__item:hover img {
    -webkit-box-shadow: 0 0 6px 1px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 6px 1px rgba(0, 0, 0, .5);
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, .5)
}

.autotesla__item__slideranons__item:hover:not(.active) {
    cursor: pointer
}

@media (max-width: 767px) {
    .autotesla__item__slideranons {
        display: none
    }
}

.autotesla__item__specif {
    margin-bottom: 2.5em
}

@media (min-width: 992px) {
    .autotesla__item__specif {
        margin-left: 7%;
        margin-right: 7%;
        column-count: 2;
        column-gap: 2em
    }
}

.autotesla__item__specif div {
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid;
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    color: #000;
    font-weight: 400;
    line-height: 1.2em;
    margin-bottom: -1px;
    padding: .82142857em .92857143em;
    border: 1px solid #eee;
    border-width: 1px 0;
    justify-content: space-between
}

.autotesla__item__specif div span {
    font-size: 1.14285714em;
    font-weight: 500
}

.autotesla__item__txt {
    margin-bottom: 2.5em
}

.owl-autotesla__item {
    display: block;
    text-align: center;
    min-height: 65vh;
    min-height: calc((100vh - 196px));
    height: auto !important;
    background-position: center center;
    background-size: cover
}

@media (max-width: 767px) {
    .owl-autotesla__item {
        min-height: 0
    }
}

.owl-autotesla__item a {
    display: block
}

.owl-autotesla__item__image {
    display: none
}

@media (max-width: 767px) {
    .owl-autotesla__item__image {
        display: block
    }
}

.teslacat__h1 {
    font-family: Montserrat, sans-serif;
    font-size: 1.42857143em;
    color: #000;
    font-weight: 500;
    line-height: 1.2em;
    margin: 0 0 10px 0
}

.teslacat__search {
    position: relative;
    width: 100%;
    margin-top: -1em;
    margin-bottom: 1em;
    align-items: stretch;
    border: 1px solid #d4d3d3
}

@media (min-width: 992px) {
    .relative > .teslacat__search {
        position: absolute;
        top: .5em;
        right: auto;
        bottom: auto;
        left: auto;
        width: 80%;
        z-index: 1;
        margin: 0
    }
}

@media (max-width: 991px) {
    .relative > .teslacat__search {
        margin-bottom: 1.5em
    }
}

.teslacat__search__input {
    flex-grow: 1
}

.teslacat__search__input .form-control {
    font-family: Montserrat, sans-serif;
    font-size: 1.28571429em;
    color: #000;
    font-weight: 400;
    line-height: 1.2em;
    border: 0;
    outline: 0
}

.teslacat__search__submit {
    position: relative;
    cursor: pointer;
    text-align: center;
    font-size: 1.71428571em;
    width: 1.5em
}

.teslacat__search__submit:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Linearicons-Free;
    font-size: 1em;
    content: '\e86f'
}

.teslacat__search .autocomplete {
    top: 100%
}

.teslacat__countrys {
    z-index: 1;
    margin-top: -55px;
    margin-top: -30px
}

.teslacat__countrys a {
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    color: #818080;
    font-weight: 400;
    line-height: 50px;
    text-decoration: none
}

.teslacat__countrys a:after {
    content: ' | ';
    color: #818080
}

.teslacat__countrys a:last-of-type:after {
    display: none
}

.teslacat__countrys a.active {
    color: #ed2f4b;
    font-weight: 500
}

.teslacat__catanons {
    background-position: center center;
    background-size: cover
}

@media (min-width: 1200px) {
    .col-sm-6 + .teslacat__catanons.col-sm-6 .teslacat__catanons__cover {
        margin-left: 3em
    }
}

.teslacat__catanons__cover {
    padding-top: 2.07142857em;
    padding-bottom: 2em;
    margin-left: 15px
}

@media (min-width: 1200px) {
    .teslacat__catanons__cover {
        margin-left: calc((100vw - 1160px) / 2)
    }
}

.teslacat__catanons__name {
    display: block;
    font-family: Montserrat, sans-serif;
    font-size: 1.57142857em;
    color: #fff;
    font-weight: 400;
    line-height: 1.18181818em;
    text-shadow: 0 0 5px #000
}

.teslacat__catanons__name:hover {
    color: #fff;
    text-decoration: none
}

.teslacat__catanons__anons {
    display: block;
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    color: #fff;
    font-weight: 400;
    line-height: 1.42857143em;
    text-shadow: 0 0 5px #000;
    margin-bottom: 8em
}

.teslacat__catanons__anons:hover {
    color: #fff;
    text-decoration: none
}

.col-sm-12 .teslacat__catanons__anons {
    margin-bottom: 30em
}

.teslacat__tree {
    margin-bottom: 4em
}

.teslacat__tree__item {
    display: block;
    border-bottom: 1px solid #eee;
    padding: .25em .29em;
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    color: #000;
    font-weight: '';
    line-height: 1.2em
}

.teslacat__tree__item:first-of-type {
    border-top: 1px solid #eee
}

.teslacat__tree__item:hover {
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    color: #000;
    font-weight: 600;
    line-height: 1.2em;
    text-decoration: none
}

.teslacat__svganons {
    margin-bottom: 1.8em
}

.teslacat__svganons__image {
    display: block;
    border: 1px solid #fefefe;
    height: 310px;
    justify-content: space-around;
    align-items: center
}

.teslacat__svganons__image img {
    max-height: 308px
}

.teslacat__svganons__name {
    display: block;
    margin: .6em 0;
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    color: #000;
    font-weight: '';
    line-height: 1.2em
}

.teslacat__svganons__name:hover {
    color: #000;
    text-decoration: underline
}

.teslacat__anonsicon {
    margin-bottom: 1.1em
}

.teslacat__anonsicon__image {
    min-width: 266px;
    border: 1px solid #f0efef;
    margin-right: 1.64285714em
}

.teslacat__anonsicon__image + div {
    flex-grow: 1
}

.teslacat__anonsicon__name {
    display: block;
    font-family: Montserrat, sans-serif;
    font-size: 1.57142857em;
    color: #000;
    font-weight: 500;
    line-height: 1.2em;
    margin-bottom: .5em
}

.teslacat__anonsicon__name:hover {
    text-decoration: none
}

.teslacat__anonsicon__columns {
    column-count: 2;
    column-width: 50%
}

@media (max-width: 991px) {
    .teslacat__anonsicon__columns {
        column-count: 1
    }
}

.teslacat__anonsicon__subname {
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid;
    display: block;
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    color: #000;
    font-weight: '';
    line-height: 1.21428571em;
    padding: .39em 0
}

.teslacat__anonsicon__subname:hover {
    color: #000;
    line-height: 1.21428571em;
    text-decoration: underline
}

.teslacat__svgview {
    position: relative
}

.teslacat__svgview__container {
    position: relative;
    text-align: left;
    margin-top: 1em;
    max-height: 40vh;
    overflow: hidden
}

.teslacat__svgview__container__sizebox {
    position: absolute;
    top: 1.5em;
    right: auto;
    bottom: auto;
    left: 1em;
    z-index: 1
}

.teslacat__svgview__container__sizebox a {
    display: inline-block;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: .92857143em;
    color: #868484;
    font-weight: '';
    line-height: 2.30769231em;
    background-color: #fff;
    vertical-align: middle;
    padding: 0 .61538462em;
    border: 1px solid #d2d1d1
}

.teslacat__svgview__container__sizebox a:hover {
    color: #000;
    text-decoration: none;
    border-color: #fff;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2)
}

.teslacat__svgview__container__sizebox a.minus, .teslacat__svgview__container__sizebox a.plus {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.76923077em;
    font-weight: 300;
    line-height: 1.2173913em;
    padding: 0;
    min-width: 1.2173913em
}

.teslacat__svgview__table {
    margin-bottom: 3em
}

.teslacat__svgview__table-scroll {
    position: relative;
    max-height: 40vh;
    width: 100% !important;
    padding: 0 !important;
    border-bottom: 1px solid #d2d1d1
}

@media (max-width: 991px) {
    .teslacat__svgview__table-scroll {
        overflow: auto
    }
}

.teslacat__svgview__table .vertical-track {
    background-color: transparent
}

.teslacat__svgview__table table.table {
    margin: 0
}

.teslacat__svgview__table table.table tr td, .teslacat__svgview__table table.table tr th {
    width: 13%
}

.teslacat__svgview__table table.table tr td:first-of-type, .teslacat__svgview__table table.table tr th:first-of-type {
    text-align: center;
    padding-left: .4em;
    padding-right: .4em;
    width: 3.5%
}

.teslacat__svgview__table table.table tr td:nth-child(2), .teslacat__svgview__table table.table tr th:nth-child(2) {
    width: auto
}

.teslacat__svgview__table table.table tr td:nth-child(4), .teslacat__svgview__table table.table tr th:nth-child(4) {
    width: 9.5%
}

.teslacat__svgview__table table.table thead th {
    vertical-align: middle;
    font-family: Montserrat, sans-serif;
    font-size: .85714286em;
    color: #000;
    font-weight: '';
    line-height: 1.2em;
    padding: 1.25em 1.8em;
    background-color: #f7f7f7;
    border: 1px solid #d2d1d1;
    border-top: 1px solid #d2d1d1 !important;
    border-bottom: 1px solid #d2d1d1 !important
}

@media (max-width: 991px) {
    .teslacat__svgview__table table.table thead th {
        padding: .5em .5em
    }
}

.teslacat__svgview__table table.table tbody tr.active, .teslacat__svgview__table table.table tbody tr:hover {
    background-color: #c5e1ed
}

.teslacat__svgview__table table.table tbody tr.active td, .teslacat__svgview__table table.table tbody tr:hover td {
    background-color: #c5e1ed
}

.teslacat__svgview__table table.table tbody tr:first-of-type {
    border-top: 0
}

.teslacat__svgview__table table.table tbody tr:first-of-type td {
    border-top: 0
}

.teslacat__svgview__table table.table tbody tr:last-of-type {
    border-bottom: 0
}

.teslacat__svgview__table table.table tbody tr:last-of-type td {
    border-bottom: 0
}

.teslacat__svgview__table table.table tbody td {
    vertical-align: middle;
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    color: #000;
    font-weight: '';
    line-height: 1.2em;
    padding: .8em 1.54em;
    border: 1px solid #d2d1d1
}

@media (max-width: 991px) {
    .teslacat__svgview__table table.table tbody td {
        padding: .5em .5em
    }
}

.teslacat__svgview__table table.table tbody td:first-of-type {
    text-align: center;
    padding-left: .4em;
    padding-right: .4em
}

.teslacat__svgview__table table.table tbody td a {
    font-family: Montserrat, sans-serif;
    color: #000;
    line-height: 1.2em;
    font-size: 1em;
    text-decoration: underline;
    white-space: nowrap
}

.teslacat__svgview__table table.table tbody td a:hover {
    text-decoration: none
}

.teslacat__svgview__table table.table tbody td a.red {
    color: #ed2f4b;
    text-decoration: none
}

.teslacat__svgview__table table.table tbody td a.red:hover {
    text-decoration: underline
}

.tovar-anons {
    position: relative;
    border: 1px solid #f1f0f0;
    margin-bottom: 20px;
    padding: 1em 16px;
    padding-bottom: 0
}

.tovar-anons-list {
    padding: 1em;
    margin-bottom: 5px;
    align-items: center
}

@media (max-width: 767px) {
    .tovar-anons-list {
        flex-direction: column
    }
}

.tovar-anons-list__imagename {
    align-items: center;
    flex-grow: 1
}

.tovar-anons__image {
    text-align: center;
    margin-bottom: 1em
}

.tovar-anons__image a {
    display: block
}

.tovar-anons-list .tovar-anons__image {
    max-width: 120px;
    margin-bottom: 0;
    margin-right: 1.2em
}

.tovar-anons__marks {
    position: absolute;
    z-index: 2;
    top: 9px;
    left: -1px
}

.tovar-anons__marks__mark {
    display: inline-block;
    border: 1px solid #222;
    padding: 0 1em;
    margin-bottom: 3px;
    font-size: 1em;
    color: #222;
    font-weight: 400;
    line-height: 2.14em
}

.tovar-anons__marks__mark-red {
    color: #eb1d1d;
    border-color: #eb1d1d
}

.tovar-anons__name {
    display: block;
    font-family: Montserrat, sans-serif;
    font-size: 1.14285714em;
    color: #000;
    font-weight: '';
    line-height: 1.375em;
    margin-bottom: .625em
}

.tovar-anons__name:hover {
    color: #000;
    text-decoration: none
}

.tovar-anons__idt {
    font-family: Montserrat, sans-serif;
    font-size: .85714286em;
    color: #000;
    font-weight: '';
    line-height: 1.2em;
    padding: .15em 0
}

.tovar-anons__price {
    flex-grow: 1;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 1.14285714em;
    color: #000;
    font-weight: '';
    line-height: 2em
}

.tovar-anons__price__cover {
    margin: 0 -17px;
    margin-top: 1.2em;
    margin-bottom: -1px;
    background-color: #f7f7f7
}

.tovar-anons__price-old {
    text-decoration: line-through
}

.tovar-anons__price-old + span {
    color: #e90202
}

.tovar-anons__price span {
    white-space: nowrap
}

.tovar-anons-list .tovar-anons__price__cover {
    flex-direction: column;
    min-width: 10em;
    margin: 0;
    margin-right: 2em
}

.tovar-anons__nonal {
    width: 100%;
    text-align: center;
    padding: .5em .5em
}

.tovar-anons .btn-black {
    padding-left: 1em;
    padding-right: 1em
}

.tovar-anons .btn-black:hover {
    color: #fff;
    background-color: #ed314c;
    border-color: #ed314c
}

.one-tovar__name {
    font-family: Montserrat, sans-serif;
    font-size: 1.85714286em;
    color: #000;
    font-weight: 500;
    line-height: 1.19230769em;
    padding: 0;
    margin: 0 0 .62em 0
}

.one-tovar__nal {
    font-family: Montserrat, sans-serif;
    font-size: .92857143em;
    color: #ed314c;
    font-weight: 500;
    line-height: 2em
}

.one-tovar__specif {
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    color: #000;
    font-weight: '';
    line-height: 1.4em;
    padding: 3px 0
}

.one-tovar__specif b {
    font-weight: 400
}

.one-tovar__specif a {
    font-size: .92857143em;
    color: #0187be
}

.one-tovar__specif a:hover {
    color: #0187be;
    text-decoration: underline
}

.one-tovar__gallery__bigimage {
    display: block;
    text-align: center;
    border: 1px solid #f1f0f0
}

.one-tovar__gallery__smallimages__image {
    position: relative;
    cursor: pointer;
    display: block;
    border: 1px solid #f1f0f0;
    margin-bottom: 5px
}

.one-tovar__gallery__smallimages__image:last-of-type {
    margin-bottom: 0
}

.one-tovar__gallery__smallimages__image.active:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 2px solid #e4e5e4
}

.one-tovar__gallery .owl-next, .one-tovar__gallery .owl-prev {
    font-size: 1.92857143em;
    color: #e3e4e3
}

.one-tovar .tovar-anons__marks {
    position: relative;
    top: auto;
    left: auto
}

.one-tovar .tovar-anons__marks .tovar-anons__marks__mark {
    display: inline-block;
    font-size: 1.14285714em
}

.one-tovar__price {
    margin: 1em 0;
    padding: 1em 0;
    border: 1px solid #f0efef;
    border-width: 1px 0;
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    color: #000;
    font-weight: '';
    line-height: 1.2em
}

.one-tovar__price > span {
    display: inline-block;
    font-size: 1.42857143em;
    font-weight: 500;
    margin-left: 5px
}

.one-tovar__price-old {
    display: inline-block;
    color: #818080;
    text-decoration: line-through;
    margin-left: 5px
}

.one-tovar__price a {
    display: inline-block;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    color: #0187be;
    font-weight: '';
    line-height: 1.2em;
    margin-right: 1.7em;
    margin-top: .8em;
    text-decoration: none;
    border-bottom: 1px solid #0187be
}

.one-tovar__price a:hover {
    text-decoration: none;
    border-bottom: 0
}

.one-tovar__buy__cover {
    margin-bottom: 1em
}

@media (max-width: 470px) {
    .one-tovar__buy__cover {
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center
    }
}

.one-tovar__buy__cover.hidden {
    display: none !important
}

.one-tovar__buy__cover .btn {
    padding: .65em 1.8em;
    margin-left: 9px
}

@media (min-width: 768px) and (max-width: 991px) {
    .one-tovar__buy__cover .btn {
        margin-top: 0;
        margin-bottom: 0
    }
}

@media (max-width: 767px) {
    .one-tovar__buy__cover .btn {
        margin-top: 0;
        margin-bottom: 7px
    }
}

.one-tovar__plusminus {
    border: 1px solid #d2d1d1;
    margin-right: 1em
}

@media (max-width: 767px) {
    .one-tovar__plusminus {
        float: left;
        align-self: stretch;
        margin-top: 0;
        margin-bottom: 7px
    }
}

.one-tovar__plusminus > * {
    justify-content: center;
    align-items: center;
    border-right: 1px solid #d2d1d1
}

.one-tovar__plusminus > :last-child {
    border: 0
}

.one-tovar__plusminus a {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.64285714em;
    color: #868484;
    font-weight: 300;
    line-height: 1em;
    min-width: 1.65217391em
}

.one-tovar__plusminus a:hover {
    cursor: pointer;
    text-decoration: none !important
}

.one-tovar__plusminus span {
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 1.14285714em;
    color: #000;
    font-weight: 500;
    line-height: 1em;
    min-width: 3.25em
}

.one-tovar__social {
    padding-top: .5em;
    padding-bottom: .5em;
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    color: #000;
    font-weight: '';
    line-height: 1.5em
}

.one-tovar__social .fa, .one-tovar__social .lnr, .one-tovar__social img, .one-tovar__social svg {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-size: 1.42857143em;
    color: #373737;
    line-height: 1em;
    width: 1em;
    margin: 0 3px;
    vertical-align: top
}

.one-tovar__social .fa:hover, .one-tovar__social .lnr:hover, .one-tovar__social img:hover, .one-tovar__social svg:hover {
    color: #000
}

.one-tovar__social .viber, .one-tovar__social .viber svg:hover {
    color: #665CAC !important
}

.one-tovar__social .telegram, .one-tovar__social .telegram svg:hover {
    color: #08c !important
}

.one-tovar__social .facebook:hover, .one-tovar__social .facebook:hover .fa {
    color: #3b5998 !important
}

.one-tovar__social .twitter:hover, .one-tovar__social .twitter:hover .fa {
    color: #00aced !important
}

.one-tovar .nav-tabs-tesla {
    margin-top: 3em
}

.one-tovar .btn {
    outline: 0
}

.nav-tabs-tesla.nav-tabs.nav {
    margin-bottom: 2em
}

.nav-tabs-tesla.nav-tabs.nav > li > a {
    font-family: Montserrat, sans-serif;
    font-size: 1.42857143em;
    color: #818080;
    font-weight: 500;
    line-height: 1.2em;
    padding: .65em 1em;
    margin: 0;
    border: 0;
    background: 0 0
}

@media (max-width: 767px) {
    .nav-tabs-tesla.nav-tabs.nav > li > a {
        font-size: 1em;
        padding: .4em .4em
    }
}

.nav-tabs-tesla.nav-tabs.nav > li.active > a {
    color: #000;
    border: 0;
    position: relative
}

.nav-tabs-tesla.nav-tabs.nav > li.active > a:after {
    position: absolute;
    top: auto;
    right: 0;
    bottom: -1px;
    left: 0;
    z-index: 1;
    content: '';
    height: 4px;
    background-color: #ed314c
}

.tab-content {
    margin-bottom: 2em
}

.modal .ajax-cart a:not([class]) {
    color: #000
}

.modal .ajax-cart a:not([class]):hover {
    color: #000
}

.ajax-cart__scroll {
    overflow-y: auto
}

.modal .ajax-cart__scroll {
    max-height: 40vh
}

@media (max-width: 767px) {
    .modal .ajax-cart__scroll {
        max-height: initial
    }
}

.ajax-cart__table {
    display: table;
    width: 100%
}

.ajax-cart__table__tr {
    display: table-row
}

@media (max-width: 767px) {
    .ajax-cart__table__tr {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #e7e7e7;
        padding: .5em 0
    }

    .ajax-cart__table__tr:last-of-type {
        border-bottom: 1px solid #e7e7e7
    }
}

.ajax-cart__table__tr > div {
    display: table-cell;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #e7e7e7;
    vertical-align: middle;
    position: relative
}

@media (max-width: 767px) {
    .ajax-cart__table__tr > div {
        border: 0;
        padding-top: 5px;
        padding-bottom: 5px
    }

    .ajax-cart__table__tr > div:after, .ajax-cart__table__tr > div:before {
        display: none
    }
}

.ajax-cart__table__tr > div:after {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 3px;
    left: 0;
    content: '';
    border-top: 1px solid #e7e7e7
}

.ajax-cart__table__tr > div:first-of-type:before, .ajax-cart__table__tr > div:last-of-type:before {
    position: absolute;
    top: 0;
    right: auto;
    bottom: 3px;
    left: 0;
    content: '';
    border: 0 solid #e7e7e7;
    border-width: 0 0 0 1px
}

.ajax-cart__table__tr > div:last-of-type:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 3px;
    left: auto;
    border-width: 0 1px 0 0
}

@media (max-width: 767px) {
    .ajax-cart__table__tr > div {
        border-top-width: 0
    }
}

.ajax-cart__table__tr__image {
    width: 15.5%;
    padding: 0 1em;
    padding-right: 2%
}

@media (max-width: 767px) {
    .ajax-cart__table__tr__image {
        width: 30%;
        display: none !important
    }
}

.ajax-cart__table__tr__image__img {
    max-width: 100%
}

.ajax-cart__table__tr__name {
    font-family: Montserrat, sans-serif;
    font-size: .92857143em;
    color: #000;
    font-weight: '';
    line-height: 1.375em
}

@media (max-width: 767px) {
    .ajax-cart__table__tr__name {
        width: 70%
    }
}

.ajax-cart__table__tr__name a {
    display: block;
    font-family: Montserrat, sans-serif;
    font-size: 1.14285714em;
    color: #000;
    font-weight: '';
    line-height: 1.375em;
    font-size: 1.23076923em
}

.ajax-cart__table__tr__name div {
    margin-top: .4em
}

.ajax-cart__table__tr__cnt {
    width: 18%;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle
}

@media (max-width: 767px) {
    .ajax-cart__table__tr__cnt {
        width: 35%
    }
}

.ajax-cart__table__tr__cnt .one-tovar__plusminus {
    margin: 0
}

.ajax-cart__table__tr__cnt .one-tovar__plusminus a {
    width: 30px;
    height: 30px
}

.ajax-cart__table__tr__cnt .one-tovar__plusminus span {
    width: 44px
}

.ajax-cart__table__tr__price {
    width: 19%;
    text-align: right;
    vertical-align: middle
}

@media (max-width: 767px) {
    .ajax-cart__table__tr__price {
        width: 40%
    }
}

.ajax-cart__table__tr .tovars-top__price {
    font-family: Montserrat, sans-serif;
    font-size: 1.14285714em;
    color: #000;
    font-weight: 500;
    line-height: 1.2em;
    font-size: 16px
}

.ajax-cart__table__tr__delete, .ajax-cart__table__tr__favorit {
    width: 5.5%;
    vertical-align: top !important;
    padding-top: 5px !important;
    text-align: center
}

@media (max-width: 767px) {
    .ajax-cart__table__tr__delete, .ajax-cart__table__tr__favorit {
        width: 20%
    }
}

.ajax-cart__table__tr__delete a, .ajax-cart__table__tr__favorit a {
    cursor: pointer;
    font-size: 1.71428571em;
    color: #8a8989 !important;
    line-height: 1.2em;
    text-decoration: none
}

.ajax-cart__table__tr__delete a.inFavorit, .ajax-cart__table__tr__delete a:hover, .ajax-cart__table__tr__favorit a.inFavorit, .ajax-cart__table__tr__favorit a:hover {
    color: #fac117
}

.ajax-cart__table__tr__delete a.inFavorit .fa:before, .ajax-cart__table__tr__favorit a.inFavorit .fa:before {
    content: '\f004'
}

.ajax-cart__table__tr__favorit {
    display: none !important
}

.ajax-cart__footer {
    padding-top: 1em
}

.ajax-cart__footer__itogo {
    padding-top: .4em;
    padding-bottom: .4em;
    margin-right: 5.5%;
    justify-content: flex-end;
    font-family: Montserrat, sans-serif;
    font-size: 1.14285714em;
    color: #000;
    font-weight: 300;
    line-height: 1.6em
}

.ajax-cart__footer__itogo__value {
    min-width: 8em;
    text-align: right;
    padding-left: .5em;
    font-weight: 400
}

.ajax-cart__footer__itogo-summ {
    font-size: 1.28571429em;
    font-weight: 500
}

.ajax-cart__footer__itogo-summ .ajax-cart__footer__itogo__value {
    font-weight: 500
}

.order-form {
    background-color: #f7f7f7;
    padding: 24px 30px
}

.order-form__h1 {
    font-family: Montserrat, sans-serif;
    font-size: 1.85714286em;
    color: #000;
    font-weight: 500;
    line-height: 1.2em;
    margin: 0 0 .76923077em 0;
    padding: 0
}

@media (max-width: 767px) {
    .order-form {
        padding: 10px 0;
        background: 0 0;
        margin-bottom: 1.2em
    }
}

.order-form__npwidget {
    position: absolute;
    z-index: 1
}

.order-form .form-row {
    align-items: center;
    margin-left: -6px;
    margin-right: -6px;
    padding-bottom: 1.5em
}

@media (max-width: 767px) {
    .order-form .form-row {
        padding-bottom: 0
    }
}

.order-form .form-row > div {
    padding-left: 6px;
    padding-right: 6px
}

.order-form .form-row .form-control {
    background-color: #fff;
    border-width: 1px;
    border-color: #e8e8e8;
    border-radius: 0;
    height: 3.3em;
    font-size: 1em;
    color: #000;
    line-height: 1.2em
}

.order-form .form-row .form-control[type=text] {
    height: 35px
}

@media (max-width: 767px) {
    .order-form .form-row .form-control {
        margin-bottom: 1.2em
    }
}

.order-form .form-row textarea.form-control {
    height: 140px
}

.order-form .form-row ::-webkit-input-placeholder {
    color: #4b4a4a
}

.order-form .form-row ::-moz-placeholder {
    color: #4b4a4a
}

.order-form .form-row :-moz-placeholder {
    color: #4b4a4a
}

.order-form .form-row :-ms-input-placeholder {
    color: #4b4a4a
}

.order-form .form-row .form-group {
    margin: 0;
    font-weight: 400
}

.order-form__label {
    margin-top: -5px;
    margin-bottom: -5px;
    font-size: 1em;
    color: #000;
    line-height: 1.2em
}

@media (max-width: 767px) {
    .order-form__label {
        margin-top: 0;
        margin-bottom: 0
    }
}

.order-form__label-small {
    font-size: .785em;
    color: #8a8989;
    line-height: 1.1em
}

.order-form-coupon {
    margin-top: 1em;
    padding: .93em 1em;
    background-color: #f6f5f5;
    align-items: stretch
}

@media (min-width: 1200px) {
    .order-form-coupon {
        padding: .93em 4.625em
    }
}

@media (max-width: 767px) {
    .order-form-coupon {
        text-align: right
    }
}

.order-form-coupon input {
    border: 0;
    border-radius: 2em;
    padding: 0 2em;
    padding-right: 6em;
    margin-right: -4em;
    height: auto;
    font-size: .92857143em;
    color: #000;
    line-height: 1em
}

@media (max-width: 767px) {
    .order-form-coupon input {
        padding-top: 1em;
        padding-bottom: 1em
    }
}

.order-cart {
    margin-bottom: 2em
}

.order-cart__h1 {
    font-family: Montserrat, sans-serif;
    font-size: 1.42857143em;
    color: #000;
    font-weight: 500;
    line-height: 1.2em;
    padding-bottom: .58em
}

.order-cart__submit {
    text-align: right;
    margin-top: 1em;
    border-top: 1px solid #dad9d9;
    padding: 0 5.5%;
    padding-top: 2em
}

.order-cart__submit .btn {
    padding: 1.06em 1.3em
}

.order-cart__submit.text-right {
    padding-left: 0;
    padding-right: 0
}

.order .nav.nav-tabs.nav-tabs-tesla {
    border: 0;
    margin: 0;
    justify-content: space-between;
    align-items: center
}

.order .nav.nav-tabs.nav-tabs-tesla > li:first-of-type {
    flex-grow: 1
}

.order .nav.nav-tabs.nav-tabs-tesla > li > a {
    padding: 0;
    font-family: Montserrat, sans-serif;
    font-size: 1.42857143em;
    color: #000;
    font-weight: 500;
    line-height: 1.2em;
    padding-bottom: .58em
}

.order .nav.nav-tabs.nav-tabs-tesla > li > a:after {
    display: none
}

@media (max-width: 767px) {
    .order .nav.nav-tabs.nav-tabs-tesla > li > a {
        font-size: 1em
    }
}

.order .nav.nav-tabs.nav-tabs-tesla > li:nth-child(2) a {
    font-size: 1.14285714em;
    font-weight: 400
}

.profile__content__unlike-tovar {
    cursor: pointer;
    position: absolute;
    top: 9px;
    right: 11px;
    bottom: auto;
    left: auto;
    z-index: 1;
    font-size: 2em
}

.profile__content__unlike-tovar + .tovar-anons [data-favorit] {
    display: none
}

.profile__content__orders__order {
    cursor: pointer;
    border: 1px solid #f0efef;
    padding: 0 0 0 25px;
    justify-content: space-between;
    align-items: center;
    min-height: 42px;
    margin: 7px 0 0 0
}

.profile__content__orders__order:first-of-type {
    margin-top: 0
}

.profile__content__orders__order__number {
    min-width: 90px;
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    color: #000;
    font-weight: 500;
    line-height: 1.2em
}

.profile__content__orders__order__dt {
    font-family: Montserrat, sans-serif;
    font-size: .92857143em;
    color: #000;
    font-weight: '';
    line-height: 1.2em
}

.profile__content__orders__order__status {
    flex-grow: 1;
    text-align: right;
    font-family: Montserrat, sans-serif;
    font-size: .92857143em;
    color: #000;
    font-weight: '';
    line-height: 1.2em
}

.profile__content__orders__order__status span {
    font-size: 1em;
    font-weight: 500;
    color: #000
}

.profile__content__orders__order__toggle {
    background-color: #f7f7f7;
    min-width: 3em;
    margin-left: 1em;
    align-self: stretch;
    position: relative
}

.profile__content__orders__order__toggle:after {
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    font-family: Linearicons-Free;
    font-size: 10px;
    content: '\e874';
    color: #000
}

.opened .profile__content__orders__order__toggle:after {
    content: '\e873'
}

.profile__content__orders__order-detail {
    display: none;
    border: 1px solid #f0efef;
    border-top-width: 0;
    line-height: 42px;
    margin: 0 0 13px 0
}

.profile__content__orders__order-detail__items {
    display: table;
    width: 100%
}

.profile__content__orders__order-detail__items__item {
    align-items: center;
    border-bottom: 1px solid #f0efef;
    padding: 1em 0;
    padding-right: 5.5%
}

.profile__content__orders__order-detail__items__item__icon {
    width: 10em;
    padding: 0 1em
}

.profile__content__orders__order-detail__items__item__name {
    font-family: Montserrat, sans-serif;
    font-size: .85714286em;
    color: #000;
    font-weight: '';
    line-height: 1.4em
}

.profile__content__orders__order-detail__items__item__name a {
    display: block;
    font-family: Montserrat, sans-serif;
    font-size: 1.14285714em;
    color: #000;
    font-weight: '';
    line-height: 1.3em;
    font-size: 1.33333333em;
    margin-bottom: .3em
}

.profile__content__orders__order-detail__items__item__cnt {
    min-width: 7em;
    padding: 0 0 0 1em;
    text-align: right;
    font-family: Montserrat, sans-serif;
    font-size: 1.14285714em;
    color: #000;
    font-weight: 500;
    line-height: 1.3em
}

.profile__content__orders__order-detail__items .ajax-cart__table__tr__price {
    text-align: right
}

.profile__content__orders__order-detail__items + div.row {
    margin-top: 13px
}

.profile__content__orders__order-detail__itogo {
    margin-top: 13px;
    border-top: 1px solid #e0e0e0
}

.profile__content__orders .ajax-cart__itogo {
    padding: 0
}

.profile__content__orders .ajax-cart__itogo__summ {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 46px
}

.profile__content__orders .ajax-cart__footer {
    padding: 1em 0
}

.subscribe {
    padding: 11px 0;
    background-color: #373737
}

.pageHome .subscribe {
    margin-top: 1em
}

.subscribe__cover {
    align-items: center;
    margin: 0
}

@media (max-width: 991px) {
    .subscribe__cover {
        flex-direction: column
    }
}

.subscribe__title {
    margin-right: 2.25em;
    font-family: Montserrat, sans-serif;
    font-size: 1.14285714em;
    color: #fefefe;
    font-weight: '';
    line-height: 1em
}

@media (max-width: 991px) {
    .subscribe__title {
        text-align: center;
        margin: 0 0 .7em 0
    }
}

.subscribe .form-control {
    color: #eae9e9;
    background: 0 0;
    border: 1px solid #eae9e9;
    border-radius: 0;
    height: 38px
}

.subscribe .form-control::-webkit-input-placeholder {
    color: #a5a4a4;
    font-style: italic
}

.subscribe .form-control::-moz-placeholder {
    color: #a5a4a4;
    font-style: italic
}

.subscribe .form-control:-moz-placeholder {
    color: #a5a4a4;
    font-style: italic
}

.subscribe .form-control:-ms-input-placeholder {
    color: #a5a4a4;
    font-style: italic
}

@media (min-width: 992px) {
    .subscribe .form-control {
        min-width: 320px
    }
}

@media (max-width: 991px) {
    .subscribe .form-control {
        min-width: 310px
    }
}

.subscribe .has-error .form-control {
    border-color: #ed2f4b
}

.subscribe .btn {
    background: 0 0;
    border: 1px solid #eae9e9;
    border-left-width: 0;
    border-radius: 0;
    padding: 0 1.46153846em;
    font-family: Montserrat, sans-serif;
    font-size: .92857143em;
    color: #fefefe;
    font-weight: '';
    line-height: 2.76923077em;
    -webkit-transition: 250ms;
    -moz-transition: 250ms;
    -o-transition: 250ms;
    transition: 250ms
}

.subscribe .btn:hover {
    border-color: #ed2f4b;
    background-color: #ed2f4b
}

@media (max-width: 991px) {
    .subscribe .btn {
        border-width: 1px;
        border-top-width: 0;
        min-width: 310px;
        margin: 0
    }
}

.subscribe__social {
    flex-grow: 1;
    text-align: right;
    justify-content: flex-end;
    align-items: center
}

@media (max-width: 991px) {
    .subscribe__social {
        justify-content: center;
        margin-top: 1.5em
    }
}

.subscribe__social__head {
    padding-right: 1em;
    font-family: Montserrat, sans-serif;
    font-size: 1.14285714em;
    color: #fefefe;
    font-weight: '';
    line-height: 1.2em
}

.subscribe__social p {
    margin: 0
}

.subscribe__social .fa, .subscribe__social .lnr {
    margin-left: 5px;
    min-width: 2.93333333em;
    text-align: center;
    font-size: 1.07142857em;
    color: #fefefe;
    line-height: 2.8em;
    border: 1px solid #fefefe;
    border-radius: 100%;
    -webkit-transition: 250ms;
    -moz-transition: 250ms;
    -o-transition: 250ms;
    transition: 250ms
}

.subscribe__social .fa:hover, .subscribe__social .lnr:hover {
    color: #373737;
    background-color: #fefefe
}

@media (max-width: 767px) {
    .subscribe__social .fa, .subscribe__social .lnr {
        font-size: .71428571em
    }
}

.subscribe__social .admin_lime_lang .fa, .subscribe__social .admin_lime_lang .lnr {
    border: 0;
    font-size: 14px
}

.footer {
    background-color: #f8f8f8;
    padding: 35px 0
}

@media (max-width: 991px) {
    .footer {
        text-align: center
    }
}

.footer__logo {
    display: block;
    margin-bottom: 13px
}

.footer__copy {
    font-family: Montserrat, sans-serif;
    font-size: .85714286em;
    color: #000;
    font-weight: 300;
    line-height: 1em
}

.footer__menu {
    column-count: 2
}

@media (max-width: 991px) {
    .footer__menu {
        column-count: 1;
        margin: 1em 0
    }
}

.footer__menu__link {
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid;
    display: block;
    padding: .32142857em;
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    color: #000;
    font-weight: '';
    line-height: 1.2em
}

.footer__menu__link:hover {
    padding: .32142857em;
    color: #000;
    font-weight: 600;
    text-decoration: none
}

.footer__worktime {
    margin-bottom: .5em;
    font-family: Montserrat, sans-serif;
    font-size: .85714286em;
    color: #000;
    font-weight: 300;
    line-height: 1.6em
}

.footer__phones {
    font-family: Montserrat, sans-serif;
    font-size: 1.78571429em;
    color: #000;
    font-weight: '';
    line-height: 1.2em
}

.footer__phones, .footer__phones * {
    padding: 0 !important;
    margin: 0 !important
}

.footer__info {
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    color: #000;
    font-weight: '';
    line-height: 1.4em
}

@media (max-width: 991px) {
    .footer__info {
        margin-top: 1em
    }
}

.footer__info a {
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    color: #000;
    font-weight: '';
    line-height: 1.4em;
    text-decoration: underline
}

.footer__info a:hover {
    text-decoration: none
}

.footer .scroll-to-top {
    opacity: 0;
    position: fixed;
    z-index: 1;
    right: 1.5em;
    bottom: -4em;
    -webkit-transition: 350ms;
    -moz-transition: 350ms;
    -o-transition: 350ms;
    transition: 350ms;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #c4c5c4;
    border-color: #ed2f4b;
    font-size: 1.5em;
    width: 2.24em;
    height: 2.24em
}

body.menu__sticky .footer .scroll-to-top {
    opacity: 1;
    bottom: 1.5em
}

.footer .scroll-to-top:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Linearicons-Free;
    font-size: 1em;
    content: '\e873';
    color: #c4c5c4;
    color: #ed2f4b
}

.container {
    width: 100%;
    max-width: 1170px
}

.table.table-sm td, .table.table-sm th {
    font-size: .8em;
    padding: 6px
}

.table .thead-light th {
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6
}

.modal-content {
    border: 0;
    border-radius: 0;
    margin: 0 auto;
    width: auto
}

@media (max-width: 767px) {
    .modal-content {
        width: auto !important
    }
}

.modal-header {
    border-bottom-width: 0;
    padding: 0;
    background-color: #f7f7f7
}

.modal-header h4 {
    padding: 0;
    text-align: left;
    font-family: Montserrat, sans-serif;
    font-size: 1.71428571em;
    color: #000;
    font-weight: 500;
    line-height: 1.2em;
    margin: 0;
    padding: .5em 1.25em
}

@media (max-width: 767px) {
    .modal-header h4 {
        padding: .5em 15px
    }
}

.modal-header .close {
    margin-top: 12px;
    margin-right: 12px
}

.modal-body {
    padding: 10px 30px;
    padding-bottom: 1.5em
}

@media (max-width: 767px) {
    .modal-body {
        padding: 10px 15px
    }
}

.modal-body .btn {
    padding: 1em 1.8em
}

.modal .form-control {
    border-radius: 0
}

.modal a:not([class]) {
    font-size: .92857143em;
    color: #0187be;
    text-decoration: none
}

.modal a:not([class]):hover {
    color: #0187be;
    text-decoration: underline
}

.modal__login__or {
    position: relative;
    margin: 0 -35px;
    padding: 1.9em 0;
    text-align: center;
    font-size: 1em;
    color: #000;
    line-height: 1.2em
}

.modal__login__or span {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0 .8em;
    background-color: #fff
}

.modal__login__or:after {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: auto;
    left: 0;
    content: '';
    border-top: 1px solid #e3e4e3
}

.row-bordered {
    margin-top: 0;
    margin-left: 1px !important;
    margin-right: -4px !important
}

.row-bordered > div {
    border: 1px solid #e3e4e3;
    border-width: 1px;
    margin-top: -1px;
    margin-left: -1px
}

@media (min-width: 1200px) {
    .row.rowpo5-lg > div {
        width: 20%;
        clear: none !important
    }

    .row.rowpo5-lg > div:nth-child(5n+1) {
        clear: left !important
    }
}

.display-none {
    display: none
}

.lightbox__me {
    display: none
}

.opacity0 {
    opacity: 0
}

.position-static {
    position: static
}

@media (max-width: 767px) {
    .position-static {
        position: relative
    }
}

.clear {
    clear: both
}

.relative {
    position: relative
}

.no-padding {
    padding: 0 !important
}

@media (min-width: 768px) {
    .row-centered {
        text-align: center
    }

    .col-centered {
        display: inline-block;
        float: none;
        text-align: left;
        margin-right: -4px;
        vertical-align: top
    }

    .col-centered-middle {
        display: inline-block;
        float: none;
        margin-right: -4px;
        vertical-align: middle
    }
}

.no_und, .no_und:hover {
    text-decoration: none
}

.pointer {
    cursor: pointer
}

.plavno {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.nulled, .nulled * {
    padding: 0 !important;
    margin: 0 !important
}

.w100, .width100 {
    display: block;
    width: 100%
}

.pt5 {
    padding-top: 5px
}

.pt10 {
    padding-top: 10px
}

.pr5 {
    padding-right: 5px
}

.pr10 {
    padding-right: 10px
}

.pb5 {
    padding-bottom: 5px
}

.pb10 {
    padding-bottom: 10px
}

.pl5 {
    padding-left: 5px
}

.pl10 {
    padding-left: 10px
}

.mt10 {
    margin-top: 10px
}

.mt25 {
    margin-top: 25px
}

.mt30 {
    margin-top: 30px
}

.mr10 {
    margin-right: 10px
}

.mr25 {
    margin-right: 25px
}

.mr30 {
    margin-right: 30px
}

.mb10 {
    margin-bottom: 10px
}

.mb25 {
    margin-bottom: 25px
}

.mb30 {
    margin-bottom: 30px
}

.ml0 {
    margin-left: 0
}

.ml10 {
    margin-left: 10px
}

.ml25 {
    margin-left: 25px
}

.ml30 {
    margin-left: 30px
}

.ul-inside li {
    list-style-position: inside
}

.text-right > .g-recaptcha {
    display: inline-block
}

@media (max-width: 767px) {
    .g-recaptcha {
        transform: scale(.65)
    }
}

#cms-loading {
    display: none;
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background: url(../img/loading.gif) no-repeat center center #000;
    background: #000
}

@media (max-width: 767px) {
    .ajax-cart__footer__itogo, .autotesla__anons__params, .autotesla__anons__pricebox, .autotesla__item__cena, .autotesla__item__specif div, .catalogpage__h1__coverpager, .catalogpage__podbor__cena, .flex-all, .flex-xs, .header__iconscontainer, .header__menu .nav.navbar-nav, .header__menu__parts, .header__topline__cover, .one-tovar__buy__cover, .one-tovar__plusminus, .one-tovar__plusminus > *, .order .nav.nav-tabs.nav-tabs-tesla, .profile__content__orders__order, .profile__content__orders__order-detail__items__item, .subscribe__cover, .subscribe__social, .teslacat__search, .teslacat__svganons__image, .tovar-anons-list, .tovar-anons-list__imagename, .tovar-anons__price__cover {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: -webkit-flex !important;
        display: flex !important
    }

    .div-reverse-xs {
        display: flex;
        flex-direction: column !important;
        flex-flow: wrap
    }

    .div-reverse-xs > div:nth-child(0) {
        order: 99
    }

    .div-reverse-xs > div:nth-child(1) {
        order: 98
    }

    .div-reverse-xs > div:nth-child(2) {
        order: 97
    }

    .div-reverse-xs > div:nth-child(3) {
        order: 96
    }

    .div-reverse-xs > div:nth-child(4) {
        order: 95
    }

    .div-reverse-xs > div:nth-child(5) {
        order: 94
    }

    .div-reverse-xs > div:nth-child(6) {
        order: 93
    }

    .div-reverse-xs > div:nth-child(7) {
        order: 92
    }

    .div-reverse-xs > div:nth-child(8) {
        order: 91
    }

    .div-reverse-xs > div:nth-child(9) {
        order: 90
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .ajax-cart__footer__itogo, .autotesla__anons__params, .autotesla__anons__pricebox, .autotesla__item__cena, .autotesla__item__h1__cover, .autotesla__item__specif div, .catalogpage__h1__coverpager, .catalogpage__headersort, .catalogpage__podbor__cena, .flex-all, .flex-sm, .header__iconscontainer, .header__menu .nav.navbar-nav, .header__menu__parts, .header__topline__cover, .one-tovar__buy__cover, .one-tovar__plusminus, .one-tovar__plusminus > *, .order .nav.nav-tabs.nav-tabs-tesla, .order-form .form-row, .order-form-coupon, .profile__content__orders__order, .profile__content__orders__order-detail__items__item, .subscribe__cover, .subscribe__social, .teslacat__anonsicon, .teslacat__search, .teslacat__svganons__image, .tovar-anons-list, .tovar-anons-list__imagename, .tovar-anons__price__cover, .viewmode-list .autotesla__anons {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: -webkit-flex !important;
        display: flex !important
    }

    .div-reverse-sm {
        display: flex;
        flex-direction: column !important;
        flex-flow: wrap
    }

    .div-reverse-sm > div:nth-child(0) {
        order: 99
    }

    .div-reverse-sm > div:nth-child(1) {
        order: 98
    }

    .div-reverse-sm > div:nth-child(2) {
        order: 97
    }

    .div-reverse-sm > div:nth-child(3) {
        order: 96
    }

    .div-reverse-sm > div:nth-child(4) {
        order: 95
    }

    .div-reverse-sm > div:nth-child(5) {
        order: 94
    }

    .div-reverse-sm > div:nth-child(6) {
        order: 93
    }

    .div-reverse-sm > div:nth-child(7) {
        order: 92
    }

    .div-reverse-sm > div:nth-child(8) {
        order: 91
    }

    .div-reverse-sm > div:nth-child(9) {
        order: 90
    }
}

@media (min-width: 992px) {
    .ajax-cart__footer__itogo, .autotesla__anons__params, .autotesla__anons__pricebox, .autotesla__item__cena, .autotesla__item__h1__cover, .autotesla__item__specif div, .catalogpage__h1__coverpager, .catalogpage__headersort, .catalogpage__podbor__cena, .flex, .flex-all, .header__iconscontainer, .header__menu .nav.navbar-nav, .header__menu__parts, .header__topline__cover, .one-tovar__buy__cover, .one-tovar__plusminus, .one-tovar__plusminus > *, .order .nav.nav-tabs.nav-tabs-tesla, .order-form .form-row, .order-form-coupon, .profile__content__orders__order, .profile__content__orders__order-detail__items__item, .subscribe__cover, .subscribe__social, .teslacat__anonsicon, .teslacat__search, .teslacat__svganons__image, .tovar-anons-list, .tovar-anons-list__imagename, .tovar-anons__price__cover, .viewmode-list .autotesla__anons {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: -webkit-flex !important;
        display: flex !important
    }

    .flex__space-between {
        justify-content: space-between
    }
}

.flex-center-child > * {
    -webkit-align-self: center;
    flex-item-align: center;
    align-self: center
}

.flex-center, .header__iconscontainer > *, .header__menu__parts-logo, .header__menu__parts__cart, .header__menu__parts__search, .header__menu__parts__user {
    -webkit-align-self: center;
    flex-item-align: center;
    align-self: center
}

.flex-bottom {
    -webkit-align-self: flex-end;
    flex-item-align: center;
    align-self: flex-end
}

@media (min-width: 1200px) {
    .text-right-lg, .text-right-lg-md, .text-right-lg-md-sm {
        text-align: right
    }

    .column2-lg {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 20px;
        -moz-column-gap: 20px;
        column-gap: 20px
    }

    .column2-lg > * {
        break-inside: avoid-column
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .text-right-lg-md, .text-right-lg-md-sm, .text-right-md {
        text-align: right
    }

    .column2-md {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 20px;
        -moz-column-gap: 20px;
        column-gap: 20px
    }

    .column2-md > * {
        break-inside: avoid-column
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .text-right-lg-md-sm, .text-right-sm {
        text-align: right
    }
}

@media (max-width: 767px) {
    .text-center-xs {
        text-align: center
    }
}

@media (min-width: 1200px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (max-width: 767px) {
}

@media (min-width: 992px) {
}

@media (max-width: 991px) {
}

.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.tooltip {
    white-space: nowrap;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #ccc;
}

.tooltip.left .tooltip-arrow {
    border-left-color: #ccc;
}

.tooltip-inner {
    font-size: 1em;
    color: #000;
    border: 1px solid #e3e4e3;
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.modalWidth {
    width: 100%;
}

textarea.form-control {
    resize: none;
}

.form-group.has-error .form-control {
    border: 1px solid #ff6666;
}

.modal-backdrop.in {
    opacity: .3;
}

.modal {
    text-align: center;
    padding: 0 !important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

@media (min-width: 1200px) {
    .auto-clear .col-lg-1:nth-child(12n+1) {
        clear: left;
    }

    .auto-clear .col-lg-2:nth-child(6n+1) {
        clear: left;
    }

    .auto-clear .col-lg-3:nth-child(4n+1) {
        clear: left;
    }

    .auto-clear .col-lg-4:nth-child(3n+1) {
        clear: left;
    }

    .auto-clear .col-lg-6:nth-child(odd) {
        clear: left;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .auto-clear .col-md-1:nth-child(12n+1) {
        clear: left;
    }

    .auto-clear .col-md-2:nth-child(6n+1) {
        clear: left;
    }

    .auto-clear .col-md-3:nth-child(4n+1) {
        clear: left;
    }

    .auto-clear .col-md-4:nth-child(3n+1) {
        clear: left;
    }

    .auto-clear .col-md-6:nth-child(odd) {
        clear: left;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .auto-clear .col-sm-1:nth-child(12n+1) {
        clear: left;
    }

    .auto-clear .col-sm-2:nth-child(6n+1) {
        clear: left;
    }

    .auto-clear .col-sm-3:nth-child(4n+1) {
        clear: left;
    }

    .auto-clear .col-sm-4:nth-child(3n+1) {
        clear: left;
    }

    .auto-clear .col-sm-6:nth-child(odd) {
        clear: left;
    }
}

@media (max-width: 767px) {
    .auto-clear .col-xs-1:nth-child(12n+1) {
        clear: left;
    }

    .auto-clear .col-xs-2:nth-child(6n+1) {
        clear: left;
    }

    .auto-clear .col-xs-3:nth-child(4n+1) {
        clear: left;
    }

    .auto-clear .col-xs-4:nth-child(3n+1) {
        clear: left;
    }

    .auto-clear .col-xs-6:nth-child(odd) {
        clear: left;
    }
}

.row.rowpad0 {
    margin-right: -0px;
    margin-left: -0px;
}

.row.rowpad0 > .col-xs-1, .row.rowpad0 > .col-sm-1, .row.rowpad0 > .col-md-1, .row.rowpad0 > .col-lg-1, .row.rowpad0 > .col-xs-2, .row.rowpad0 > .col-sm-2, .row.rowpad0 > .col-md-2, .row.rowpad0 > .col-lg-2, .row.rowpad0 > .col-xs-3, .row.rowpad0 > .col-sm-3, .row.rowpad0 > .col-md-3, .row.rowpad0 > .col-lg-3, .row.rowpad0 > .col-xs-4, .row.rowpad0 > .col-sm-4, .row.rowpad0 > .col-md-4, .row.rowpad0 > .col-lg-4, .row.rowpad0 > .col-xs-5, .row.rowpad0 > .col-sm-5, .row.rowpad0 > .col-md-5, .row.rowpad0 > .col-lg-5, .row.rowpad0 > .col-xs-6, .row.rowpad0 > .col-sm-6, .row.rowpad0 > .col-md-6, .row.rowpad0 > .col-lg-6, .row.rowpad0 > .col-xs-7, .row.rowpad0 > .col-sm-7, .row.rowpad0 > .col-md-7, .row.rowpad0 > .col-lg-7, .row.rowpad0 > .col-xs-8, .row.rowpad0 > .col-sm-8, .row.rowpad0 > .col-md-8, .row.rowpad0 > .col-lg-8, .row.rowpad0 > .col-xs-9, .row.rowpad0 > .col-sm-9, .row.rowpad0 > .col-md-9, .row.rowpad0 > .col-lg-9, .row.rowpad0 > .col-xs-10, .row.rowpad0 > .col-sm-10, .row.rowpad0 > .col-md-10, .row.rowpad0 > .col-lg-10, .row.rowpad0 > .col-xs-11, .row.rowpad0 > .col-sm-11, .row.rowpad0 > .col-md-11, .row.rowpad0 > .col-lg-11, .row.rowpad0 > .col-xs-12, .row.rowpad0 > .col-sm-12, .row.rowpad0 > .col-md-12, .row.rowpad0 > .col-lg-12 {
    padding-right: 0;
    padding-left: 0;
}

.row.rowpad10 {
    margin-right: -5px;
    margin-left: -5px;
}

.row.rowpad10 > .col-xs-1, .row.rowpad10 > .col-sm-1, .row.rowpad10 > .col-md-1, .row.rowpad10 > .col-lg-1, .row.rowpad10 > .col-xs-2, .row.rowpad10 > .col-sm-2, .row.rowpad10 > .col-md-2, .row.rowpad10 > .col-lg-2, .row.rowpad10 > .col-xs-3, .row.rowpad10 > .col-sm-3, .row.rowpad10 > .col-md-3, .row.rowpad10 > .col-lg-3, .row.rowpad10 > .col-xs-4, .row.rowpad10 > .col-sm-4, .row.rowpad10 > .col-md-4, .row.rowpad10 > .col-lg-4, .row.rowpad10 > .col-xs-5, .row.rowpad10 > .col-sm-5, .row.rowpad10 > .col-md-5, .row.rowpad10 > .col-lg-5, .row.rowpad10 > .col-xs-6, .row.rowpad10 > .col-sm-6, .row.rowpad10 > .col-md-6, .row.rowpad10 > .col-lg-6, .row.rowpad10 > .col-xs-7, .row.rowpad10 > .col-sm-7, .row.rowpad10 > .col-md-7, .row.rowpad10 > .col-lg-7, .row.rowpad10 > .col-xs-8, .row.rowpad10 > .col-sm-8, .row.rowpad10 > .col-md-8, .row.rowpad10 > .col-lg-8, .row.rowpad10 > .col-xs-9, .row.rowpad10 > .col-sm-9, .row.rowpad10 > .col-md-9, .row.rowpad10 > .col-lg-9, .row.rowpad10 > .col-xs-10, .row.rowpad10 > .col-sm-10, .row.rowpad10 > .col-md-10, .row.rowpad10 > .col-lg-10, .row.rowpad10 > .col-xs-11, .row.rowpad10 > .col-sm-11, .row.rowpad10 > .col-md-11, .row.rowpad10 > .col-lg-11, .row.rowpad10 > .col-xs-12, .row.rowpad10 > .col-sm-12, .row.rowpad10 > .col-md-12, .row.rowpad10 > .col-lg-12 {
    padding-right: 5px;
    padding-left: 5px;
}

.row.rowpad12 {
    margin-right: -6px;
    margin-left: -6px;
}

.row.rowpad12 > .col-xs-1, .row.rowpad12 > .col-sm-1, .row.rowpad12 > .col-md-1, .row.rowpad12 > .col-lg-1, .row.rowpad12 > .col-xs-2, .row.rowpad12 > .col-sm-2, .row.rowpad12 > .col-md-2, .row.rowpad12 > .col-lg-2, .row.rowpad12 > .col-xs-3, .row.rowpad12 > .col-sm-3, .row.rowpad12 > .col-md-3, .row.rowpad12 > .col-lg-3, .row.rowpad12 > .col-xs-4, .row.rowpad12 > .col-sm-4, .row.rowpad12 > .col-md-4, .row.rowpad12 > .col-lg-4, .row.rowpad12 > .col-xs-5, .row.rowpad12 > .col-sm-5, .row.rowpad12 > .col-md-5, .row.rowpad12 > .col-lg-5, .row.rowpad12 > .col-xs-6, .row.rowpad12 > .col-sm-6, .row.rowpad12 > .col-md-6, .row.rowpad12 > .col-lg-6, .row.rowpad12 > .col-xs-7, .row.rowpad12 > .col-sm-7, .row.rowpad12 > .col-md-7, .row.rowpad12 > .col-lg-7, .row.rowpad12 > .col-xs-8, .row.rowpad12 > .col-sm-8, .row.rowpad12 > .col-md-8, .row.rowpad12 > .col-lg-8, .row.rowpad12 > .col-xs-9, .row.rowpad12 > .col-sm-9, .row.rowpad12 > .col-md-9, .row.rowpad12 > .col-lg-9, .row.rowpad12 > .col-xs-10, .row.rowpad12 > .col-sm-10, .row.rowpad12 > .col-md-10, .row.rowpad12 > .col-lg-10, .row.rowpad12 > .col-xs-11, .row.rowpad12 > .col-sm-11, .row.rowpad12 > .col-md-11, .row.rowpad12 > .col-lg-11, .row.rowpad12 > .col-xs-12, .row.rowpad12 > .col-sm-12, .row.rowpad12 > .col-md-12, .row.rowpad12 > .col-lg-12 {
    padding-right: 6px;
    padding-left: 6px;
}

.row.rowpad14 {
    margin-right: -7px;
    margin-left: -7px;
}

.row.rowpad14 > .col-xs-1, .row.rowpad14 > .col-sm-1, .row.rowpad14 > .col-md-1, .row.rowpad14 > .col-lg-1, .row.rowpad14 > .col-xs-2, .row.rowpad14 > .col-sm-2, .row.rowpad14 > .col-md-2, .row.rowpad14 > .col-lg-2, .row.rowpad14 > .col-xs-3, .row.rowpad14 > .col-sm-3, .row.rowpad14 > .col-md-3, .row.rowpad14 > .col-lg-3, .row.rowpad14 > .col-xs-4, .row.rowpad14 > .col-sm-4, .row.rowpad14 > .col-md-4, .row.rowpad14 > .col-lg-4, .row.rowpad14 > .col-xs-5, .row.rowpad14 > .col-sm-5, .row.rowpad14 > .col-md-5, .row.rowpad14 > .col-lg-5, .row.rowpad14 > .col-xs-6, .row.rowpad14 > .col-sm-6, .row.rowpad14 > .col-md-6, .row.rowpad14 > .col-lg-6, .row.rowpad14 > .col-xs-7, .row.rowpad14 > .col-sm-7, .row.rowpad14 > .col-md-7, .row.rowpad14 > .col-lg-7, .row.rowpad14 > .col-xs-8, .row.rowpad14 > .col-sm-8, .row.rowpad14 > .col-md-8, .row.rowpad14 > .col-lg-8, .row.rowpad14 > .col-xs-9, .row.rowpad14 > .col-sm-9, .row.rowpad14 > .col-md-9, .row.rowpad14 > .col-lg-9, .row.rowpad14 > .col-xs-10, .row.rowpad14 > .col-sm-10, .row.rowpad14 > .col-md-10, .row.rowpad14 > .col-lg-10, .row.rowpad14 > .col-xs-11, .row.rowpad14 > .col-sm-11, .row.rowpad14 > .col-md-11, .row.rowpad14 > .col-lg-11, .row.rowpad14 > .col-xs-12, .row.rowpad14 > .col-sm-12, .row.rowpad14 > .col-md-12, .row.rowpad14 > .col-lg-12 {
    padding-right: 7px;
    padding-left: 7px;
}

.row.rowpad16 {
    margin-right: -8px;
    margin-left: -8px;
}

.row.rowpad16 > .col-xs-1, .row.rowpad16 > .col-sm-1, .row.rowpad16 > .col-md-1, .row.rowpad16 > .col-lg-1, .row.rowpad16 > .col-xs-2, .row.rowpad16 > .col-sm-2, .row.rowpad16 > .col-md-2, .row.rowpad16 > .col-lg-2, .row.rowpad16 > .col-xs-3, .row.rowpad16 > .col-sm-3, .row.rowpad16 > .col-md-3, .row.rowpad16 > .col-lg-3, .row.rowpad16 > .col-xs-4, .row.rowpad16 > .col-sm-4, .row.rowpad16 > .col-md-4, .row.rowpad16 > .col-lg-4, .row.rowpad16 > .col-xs-5, .row.rowpad16 > .col-sm-5, .row.rowpad16 > .col-md-5, .row.rowpad16 > .col-lg-5, .row.rowpad16 > .col-xs-6, .row.rowpad16 > .col-sm-6, .row.rowpad16 > .col-md-6, .row.rowpad16 > .col-lg-6, .row.rowpad16 > .col-xs-7, .row.rowpad16 > .col-sm-7, .row.rowpad16 > .col-md-7, .row.rowpad16 > .col-lg-7, .row.rowpad16 > .col-xs-8, .row.rowpad16 > .col-sm-8, .row.rowpad16 > .col-md-8, .row.rowpad16 > .col-lg-8, .row.rowpad16 > .col-xs-9, .row.rowpad16 > .col-sm-9, .row.rowpad16 > .col-md-9, .row.rowpad16 > .col-lg-9, .row.rowpad16 > .col-xs-10, .row.rowpad16 > .col-sm-10, .row.rowpad16 > .col-md-10, .row.rowpad16 > .col-lg-10, .row.rowpad16 > .col-xs-11, .row.rowpad16 > .col-sm-11, .row.rowpad16 > .col-md-11, .row.rowpad16 > .col-lg-11, .row.rowpad16 > .col-xs-12, .row.rowpad16 > .col-sm-12, .row.rowpad16 > .col-md-12, .row.rowpad16 > .col-lg-12 {
    padding-right: 8px;
    padding-left: 8px;
}

.row.rowpad18 {
    margin-right: -9px;
    margin-left: -9px;
}

.row.rowpad18 > .col-xs-1, .row.rowpad18 > .col-sm-1, .row.rowpad18 > .col-md-1, .row.rowpad18 > .col-lg-1, .row.rowpad18 > .col-xs-2, .row.rowpad18 > .col-sm-2, .row.rowpad18 > .col-md-2, .row.rowpad18 > .col-lg-2, .row.rowpad18 > .col-xs-3, .row.rowpad18 > .col-sm-3, .row.rowpad18 > .col-md-3, .row.rowpad18 > .col-lg-3, .row.rowpad18 > .col-xs-4, .row.rowpad18 > .col-sm-4, .row.rowpad18 > .col-md-4, .row.rowpad18 > .col-lg-4, .row.rowpad18 > .col-xs-5, .row.rowpad18 > .col-sm-5, .row.rowpad18 > .col-md-5, .row.rowpad18 > .col-lg-5, .row.rowpad18 > .col-xs-6, .row.rowpad18 > .col-sm-6, .row.rowpad18 > .col-md-6, .row.rowpad18 > .col-lg-6, .row.rowpad18 > .col-xs-7, .row.rowpad18 > .col-sm-7, .row.rowpad18 > .col-md-7, .row.rowpad18 > .col-lg-7, .row.rowpad18 > .col-xs-8, .row.rowpad18 > .col-sm-8, .row.rowpad18 > .col-md-8, .row.rowpad18 > .col-lg-8, .row.rowpad18 > .col-xs-9, .row.rowpad18 > .col-sm-9, .row.rowpad18 > .col-md-9, .row.rowpad18 > .col-lg-9, .row.rowpad18 > .col-xs-10, .row.rowpad18 > .col-sm-10, .row.rowpad18 > .col-md-10, .row.rowpad18 > .col-lg-10, .row.rowpad18 > .col-xs-11, .row.rowpad18 > .col-sm-11, .row.rowpad18 > .col-md-11, .row.rowpad18 > .col-lg-11, .row.rowpad18 > .col-xs-12, .row.rowpad18 > .col-sm-12, .row.rowpad18 > .col-md-12, .row.rowpad18 > .col-lg-12 {
    padding-right: 9px;
    padding-left: 9px;
}

.row.rowpad20 {
    margin-right: -10px;
    margin-left: -10px;
}

.row.rowpad20 > .col-xs-1, .row.rowpad20 > .col-sm-1, .row.rowpad20 > .col-md-1, .row.rowpad20 > .col-lg-1, .row.rowpad20 > .col-xs-2, .row.rowpad20 > .col-sm-2, .row.rowpad20 > .col-md-2, .row.rowpad20 > .col-lg-2, .row.rowpad20 > .col-xs-3, .row.rowpad20 > .col-sm-3, .row.rowpad20 > .col-md-3, .row.rowpad20 > .col-lg-3, .row.rowpad20 > .col-xs-4, .row.rowpad20 > .col-sm-4, .row.rowpad20 > .col-md-4, .row.rowpad20 > .col-lg-4, .row.rowpad20 > .col-xs-5, .row.rowpad20 > .col-sm-5, .row.rowpad20 > .col-md-5, .row.rowpad20 > .col-lg-5, .row.rowpad20 > .col-xs-6, .row.rowpad20 > .col-sm-6, .row.rowpad20 > .col-md-6, .row.rowpad20 > .col-lg-6, .row.rowpad20 > .col-xs-7, .row.rowpad20 > .col-sm-7, .row.rowpad20 > .col-md-7, .row.rowpad20 > .col-lg-7, .row.rowpad20 > .col-xs-8, .row.rowpad20 > .col-sm-8, .row.rowpad20 > .col-md-8, .row.rowpad20 > .col-lg-8, .row.rowpad20 > .col-xs-9, .row.rowpad20 > .col-sm-9, .row.rowpad20 > .col-md-9, .row.rowpad20 > .col-lg-9, .row.rowpad20 > .col-xs-10, .row.rowpad20 > .col-sm-10, .row.rowpad20 > .col-md-10, .row.rowpad20 > .col-lg-10, .row.rowpad20 > .col-xs-11, .row.rowpad20 > .col-sm-11, .row.rowpad20 > .col-md-11, .row.rowpad20 > .col-lg-11, .row.rowpad20 > .col-xs-12, .row.rowpad20 > .col-sm-12, .row.rowpad20 > .col-md-12, .row.rowpad20 > .col-lg-12 {
    padding-right: 10px;
    padding-left: 10px;
}

.row.rowpad22 {
    margin-right: -11px;
    margin-left: -11px;
}

.row.rowpad22 > .col-xs-1, .row.rowpad22 > .col-sm-1, .row.rowpad22 > .col-md-1, .row.rowpad22 > .col-lg-1, .row.rowpad22 > .col-xs-2, .row.rowpad22 > .col-sm-2, .row.rowpad22 > .col-md-2, .row.rowpad22 > .col-lg-2, .row.rowpad22 > .col-xs-3, .row.rowpad22 > .col-sm-3, .row.rowpad22 > .col-md-3, .row.rowpad22 > .col-lg-3, .row.rowpad22 > .col-xs-4, .row.rowpad22 > .col-sm-4, .row.rowpad22 > .col-md-4, .row.rowpad22 > .col-lg-4, .row.rowpad22 > .col-xs-5, .row.rowpad22 > .col-sm-5, .row.rowpad22 > .col-md-5, .row.rowpad22 > .col-lg-5, .row.rowpad22 > .col-xs-6, .row.rowpad22 > .col-sm-6, .row.rowpad22 > .col-md-6, .row.rowpad22 > .col-lg-6, .row.rowpad22 > .col-xs-7, .row.rowpad22 > .col-sm-7, .row.rowpad22 > .col-md-7, .row.rowpad22 > .col-lg-7, .row.rowpad22 > .col-xs-8, .row.rowpad22 > .col-sm-8, .row.rowpad22 > .col-md-8, .row.rowpad22 > .col-lg-8, .row.rowpad22 > .col-xs-9, .row.rowpad22 > .col-sm-9, .row.rowpad22 > .col-md-9, .row.rowpad22 > .col-lg-9, .row.rowpad22 > .col-xs-10, .row.rowpad22 > .col-sm-10, .row.rowpad22 > .col-md-10, .row.rowpad22 > .col-lg-10, .row.rowpad22 > .col-xs-11, .row.rowpad22 > .col-sm-11, .row.rowpad22 > .col-md-11, .row.rowpad22 > .col-lg-11, .row.rowpad22 > .col-xs-12, .row.rowpad22 > .col-sm-12, .row.rowpad22 > .col-md-12, .row.rowpad22 > .col-lg-12 {
    padding-right: 11px;
    padding-left: 11px;
}

@media ( max-width: 991px ) {
    .sidebar-container .sidebar {
        position: fixed;
        top: 38px;
        left: 0;
        width: 100vw;
        margin-left: -100vw;
        overflow: auto;
        height: 100%;
        z-index: 951;
        background: rgba(255, 255, 255, 1);
        padding: 10px 25px;
    }

    .kd-color-green {
        margin-bottom: 26px;
    }

    .sidebar-container.opened .sidebar {
        margin-left: 0px;
    }

    .sidebar-container .sidebar-overlay {
        display: none;
        position: fixed;
        z-index: 950;
        background-color: rgba(0, 0, 0, 0.4);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .sidebar-container.opened .sidebar-overlay {
        display: block;
    }

    .sidebar-inline {
        display: inline-block;
        position: relative;
    }

    .sidebar-toggle {
        position: fixed;
        z-index: 1;
        left: 0;
        bottom: 30%;
    }

    .sidebar-toggle-inline {
        position: relative;
        display: block;
    }

    .sidebar-toggle-hide {
        display: none;
        
        right: 0;
        position: fixed;
        background: rgba(0, 0, 0, 0.8);
        color: rgba(255, 255, 255, 1);
        font-size: 34px;
        cursor: pointer;
        z-index: 999;
        width: 53px;
        text-align: center;
    }

    .sidebar-container.opened .sidebar-toggle-hide {
        display: block;
    }

    .sidebar-toggle-hide i {
        line-height: 40px;
    }

    .pop-up__form__wrapper-width80 {
        width: 98vw;
    }
}


/***************/

.pagination {
    display: inline-block;
    /*padding-left: 0;*/
    /*margin: 20px 0;*/
    /*border-radius: 4px*/
}

.pagination > li {
    display: inline
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    /*padding: 6px 12px;*/
    /*line-height: 1.42857143;*/
    /*text-decoration: none;*/
    /*color: #337ab7;*/
    /*background-color: #fff;*/
    /*border: 1px solid #ddd;*/
    /*margin-left: -1px*/
}

.kd-color-green {
    background-color: #3fc100!important;
}
.sidebar-toggle-hide>span {
    margin-left: -9px;
}
