<div class="l-mobile-menu" style="display: none">

    <div class="l-mobile-menu-wrapper">

        <ul class="l-mobile-menu-nav">
            <li><a href=""><span class="icon-home"></span><span>На главную</span></a></li>
        </ul>

        <div class="l-mobile-menu-search">
            <form action="/">
                <input type="search" value="" placeholder="Поиск..."/>
                <button type="submit"></button>
            </form>
        </div>
        <a href="cart.html" class="cart-mini">
            <span class="cart-icon"></span>

            <div class="cart-mini-info">
                <b>Корзина</b>

                <div class="cart-mini-info-count-products">12 товаров на <span class="cart-mini-info-price">$33.99</span></div>
            </div>
        </a>

        <div class="l-mobile-menu-title is-sm-hide">Категории</div>
        <!-- @include nav-top-1.html -->

        <div class="l-mobile-menu-title is-sm-hide">Фильтр</div>
        <!-- @include nav-top-2.html -->

        <ul class="l-mobile-menu-nav">
            <li><a href=""><span class="icon-user"></span><span>My Account</span></a></li>
            <li><a href=""><span class="icon-support"></span><span>Customer support</span></a></li>
        </ul>

        <ul class="nav-top-list">
            <li><a href="">Фото доставок</a></li>
            <li><a href="">Скидки и купоны</a></li>
            <li><a href="">Связаться с нами</a></li>
            <li><a href="">Видео галерея</a></li>
            <li><a href="reviews.html">Отзывы</a></li>
        </ul>

    </div>

</div>