<div class="reviews-block">
    <h4 class="title">Отзывы о товаре</h4>
    <ul>
        <li>
            <div class="reviews-block-section">
                <div class="reviews-block-section-face" style="background-image: url(img/reviews/1.png)"></div>
                <div class="reviews-block-section-info">
                    <div class="reviews-block-section-name">Diane Patterson</div>
                    <div class="reviews-block-section-rating">
                        <span class="rating-stars rs-4"></span>
                    </div>
                    <div class="reviews-block-section-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dignissimos ipsum, minima nesciunt qui reiciendis saepe vero voluptates. Debitis, quis.
                    </div>
                    <button class="reviews-block-section-reply">Reply</button>
                </div>
            </div>
            <ul>
                <li>
                    <div class="reviews-block-section">
                        <div class="reviews-block-section-face" style="background-image: url(img/reviews/2.png)"></div>
                        <div class="reviews-block-section-info">
                            <div class="reviews-block-section-name">Christina Wood</div>
                            <div class="reviews-block-section-rating">
                                <span class="rating-stars rs-3"></span>
                            </div>
                            <div class="reviews-block-section-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dignissimos ipsum, minima nesciunt qui reiciendis saepe vero voluptates. Debitis, quis.
                            </div>
                            <button class="reviews-block-section-reply">Reply</button>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <div class="reviews-block-section">
                <div class="reviews-block-section-face" style="background-image: url(img/reviews/3.png)"></div>
                <div class="reviews-block-section-info">
                    <div class="reviews-block-section-name">Jose Torres</div>
                    <div class="reviews-block-section-rating">
                        <span class="rating-stars rs-2"></span>
                    </div>
                    <div class="reviews-block-section-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dignissimos ipsum, minima nesciunt qui reiciendis saepe vero voluptates. Debitis, quis.
                    </div>
                    <button class="reviews-block-section-reply">Reply</button>
                </div>
            </div>
        </li>
    </ul>
    <div class="reviews-block-form">
        Your comment:
        <span class="reviews-block-form-rating"></span>
        <form action="/" method="post">
            <div class="form-group">
                <textarea class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-warning">Отправить</button>
        </form>
    </div>
</div>