<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>

<!-- @if NODE_ENV='dev' -->
<script src="js/jquery.js"></script>
<script src="js/rating.js"></script>
<script src="js/pikaday.js"></script>
<script src="js/jquery.magnific-popup.js"></script>
<script src="js/bootstrap-notify.min.js"></script>
<script src="js/app.js"></script>
<!-- @endif -->
<!-- @if NODE_ENV='prod' -->
<script src="js/jquery.min.js"></script>
<script src="js/rating.min.js"></script>
<script src="js/pikaday.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/bootstrap-notify.min.js"></script>
<script src="js/app.min.js"></script>
<!-- @endif -->
</body>
</html>