<footer class="l-footer">

    <div class="l-footer-info">
        <div class="l-footer-logo">
            <a href="index.html"><img src="img/logo-dark.png" alt="" /></a>
        </div>
        <p class="l-footer-cop">
            Copyright &copy; 2015 Kievdelivery Group - Flowers and Gifts Delivery in Ukraine.
        </p>
        <div class="payments-methods"> &nbsp; </div>
    </div>

    <nav>
        <a href="page.html">О нас</a>
        <a href="page.html">Связаться с нами</a>
        <a href="page.html">Политика доставки</a>
        <a href="reviews.html">Отзывы</a>
        <a href="page.html">ЧАВо</a>
        <a href="page.html">Замена и обмен</a>
        <a href="news.html">Новости</a>
    </nav>

    <nav>
        <a href="page.html">Условия использования</a>
        <a href="page.html">Города доставок</a>
        <a href="page.html">Гид по Цветам и Уходу</a>
        <a href="page.html">Наши Гарантии</a>
        <a href="page.html">Партнерская Программа</a>
        <a href="page.html">Сервис и Качество</a>
        <a href="page.html">Безопасная оплата</a>
    </nav>

</footer>