<header class="l-header">

    <div class="l-header-logo">
        <a href="index.html"><img src="img/logo.png" alt="" /></a>
    </div>

    <div class="l-header-search">
        <form action="/">
            <input type="search" value="" placeholder="Поиск..." />
            <button type="submit"></button>
        </form>
    </div>

    <ul class="l-header-nav">
        <li><a href=""><span class="icon-user"></span><span>My Account</span></a></li>
        <li><a href=""><span class="icon-support"></span><span>Customer support</span></a></li>
    </ul>

    <a href="cart.html" class="cart-mini">
        <div class="cart-mini-info">
            <b>Корзина</b>
            <div class="cart-mini-info-count-products">12 товаров на <span class="cart-mini-info-price">$33.99</span></div>
        </div>
        <span class="cart-icon"></span>
    </a>

</header>