<nav class="nav-horizontal">
    <a href="products.html" class="is-active">Дешевле $40</a>
    <a href="products.html">От $40 до $80</a>
    <a href="products.html">От $80 до $120</a>
    <a href="products.html">От $120 и дороже</a>
</nav>