<div class="nav-top open">
    <div class="container base">

        <div class="nav-mobile">
            <button class="nav-mobile-button"></button>
            <a href="cart.html" class="nav-mobile-info ">Сумма покупки $1 242</a>
        </div>

        <ul class="nav-top-list">
            <li><a href="photo-deliveries.html">Фото доставок</a></li>
            <li><a href="discounts.html">Скидки и купоны</a></li>
            <li><a href="feedback.html">Связаться с нами</a></li>
            <li><a href="video-gallery.html">Видео галерея</a></li>
            <li><a href="reviews.html">Отзывы</a></li>
        </ul>

        <ul class="nav-top-lang">
            <li><a href="">Eng</a></li>
            <li>|</li>
            <li><a href="" class="is-active">Рус</a></li>
        </ul>

    </div>
</div>