<nav class="nav-horizontal nav-horizontal-warning">
    <a href="category.html">Цветы</a>
    <a href="category.html">Повод</a>
    <a href="category.html">Wow</a>
    <a href="category.html" class="is-large is-active">Подарки и наборы</a>
    <a href="category.html">Другое</a>
</nav>