<div class="l-slider">

    <div class="swiper-container">
        <div class="swiper-wrapper">

            <div class="swiper-slide l-slider-slide-1">
                <h3 class="l-slider-title">19 розовых роз </h3>
                <div class="l-slider-description">
                    Этот великолепный букет из 19 свежих роз в розовых тонах станет
                    идеальным способом для Вас продемонстрировать Ваши чувства.
                </div>
                <div class="l-slider-price">
                    За $45
                </div>
                <a href="" class="btn btn-info btn-present">Узнать подробнее</a>
            </div>

            <div class="swiper-slide l-slider-slide-2">
                <h3 class="l-slider-title">20 розовых роз </h3>
                <div class="l-slider-description">
                    Этот великолепный букет из 19 свежих роз в розовых тонах станет
                    идеальным способом для Вас продемонстрировать Ваши чувства.
                </div>
                <div class="l-slider-price">
                    За $47
                </div>
                <a href="" class="btn btn-info btn-present">Узнать подробнее</a>
            </div>

            <div class="swiper-slide l-slider-slide-3">
                <h3 class="l-slider-title">23 розовых роз </h3>
                <div class="l-slider-description">
                    Этот великолепный букет из 19 свежих роз в розовых тонах станет
                    идеальным способом для Вас продемонстрировать Ваши чувства.
                </div>
                <div class="l-slider-price">
                    За $50
                </div>
                <a href="" class="btn btn-info btn-present">Узнать подробнее</a>
            </div>

        </div>
        <!-- <div class="swiper-pagination"></div> -->
        <!-- <div class="swiper-button-next"></div> -->
        <!-- <div class="swiper-button-prev"></div> -->
    </div>

</div>