.cart-add {
	display: flex;
	align-items: center;
	flex-direction: column;

	@media #{$media-sm} {
		flex-direction: row;
	}

	@media #{$media-md} {
		flex-direction: column;
	}

	@media #{$media-lg} {
		flex-direction: row;
	}

	.btn {
		font-weight: bold;
		font-size: 1.2em;
		order: 1;

		@media #{$media-sm} {
			font-size: 1em;
			order: 0;
			padding: 15px 15px;
		}

		@media (min-width : 600px) {
			font-size: 1.2em;
			padding: 15px 25px;
		}

		&-cart {
			white-space: nowrap;
			&:before {
				@include mi('add_shopping_cart');
				width: 25px;
				height: 25px;
				display: inline-block;
				vertical-align: middle;
				margin: -15px 15px -10px 0;
				font-size: 1.4em;
				font-weight: 300;
				line-height: 1;
			}
		}

		&:hover {
			background: none;
			color: #3f9913;
		}

		&-warning {
			&:hover {
				background: none;
				color: #fa3c7a;
			}
		}
	}

	&-amount {
		display: flex;
		margin: 0 ($block-indent-size + $block-indent-size) $block-indent-size  ($block-indent-size + $block-indent-size);
		border: solid 1px darken(#f3f3f3, 10%);
		width: 120px;
		font-size: 1.6em;
		overflow: hidden;
		order: 0;

		@media #{$media-sm} {
			margin: 0 ($block-indent-size + $block-indent-size);
		}

		@media #{$media-md} {
			margin: $block-indent-size 0;
		}

		@media #{$media-lg} {
			margin: 0 ($block-indent-size + $block-indent-size);
		}

		&-button {
			min-width: 35px;
			border: none;
			background: none;
			cursor: pointer;
			font-size: 0.7em;
			padding: 10px;

			&:first-child {
				color: #006f00;
				background:  #f3f3f3;
			}
			&:last-child {
				color: #ac0000;
				background:  #f3f3f3;
			}
		}

		input {
			text-align: center;
			border: none;
			background: darken(#f3f3f3, 10%);
			overflow: hidden;
			width: 100%;
			font-size: 0.8em;
		}
	}
}