$cart-mini-color-primary: #3f9913;

.cart-mini {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: left;

	.cart-icon {
		width: 50px;
		height: 50px;
		margin-right: $block-indent-size;
		color: $cart-mini-color-primary;
		font-size: 3em;
		transition: color 0.3s;

		&:after {
			@include mi('add_shopping_cart');
		}
	}

	&-info {
		b {
			font-weight: normal;
			display: none;

			@media #{$media-xl} {
				display: block;
				margin-bottom: 0;
			}
		}

		a {
			color: #555555;
			border: none;
		}

		&-count-products {
			font-size: 85%;
			color: $cart-mini-color-primary;
			white-space: nowrap;
			transition: color 0.3s;
		}

		&-price {
			display: block;
			font-size: 1.5em;
			font-weight: bold;
		}
	}
}