.checkout-cart {
	margin-bottom: 55px;

	&-list {
		display: flex;
		flex-direction: column;
		font-size: 80%;

		@media #{$media-md} {
			font-size: 100%;
		}

		&-header {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;

			@media #{$media-sm} {
				flex-direction: row;
				flex-wrap: nowrap;
				margin-bottom: 25px;
			}

			@media #{$media-md} {
				font-size: 100%;
				margin-bottom: 45px;
			}

			> span {
				border: 1px solid #D4D4D4;
				display: block;;
				padding: 5px $block-indent-size;
				background: #d9d9d9;
				font-size: 90%;

				@media #{$media-sm} {
					padding: 10px $block-indent-size;
				}

				&.checkout-cart-list-item-code {
					span {
						display: none;
					}

					&:after {
						content: '№';
					}

					@media #{$media-sm} {
						min-width: 120px;

						span {
							display: inline-block;
						}

						&:after {
							content: '';
						}
					}

				}
			}
		}

		.checkout-cart-list-item-code {
			white-space: nowrap;
			width: 25%;
			@media #{$media-sm} {
				min-width: 120px;
				width: 20%;
			}
		}

		.checkout-cart-list-item-name {
			width: 75%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			@media #{$media-sm} {
				width: 70%;
			}
		}

		.checkout-cart-list-item-quantity {
			white-space: nowrap;
			width: 50%;
			@media #{$media-sm} {
				width: 25%;
			}
		}

		.checkout-cart-list-item-price {
			white-space: nowrap;
			width: 50%;
			text-align: right;

			@media #{$media-sm} {
				width: 150px;
				min-width: 150px;
				text-align: left;
			}

			@media #{$media-md} {
				width: 250px;
				min-width: 250px;
			}
		}

		&-body {
			display: flex;
			flex-direction: column;

			.checkout-cart-list-body-item-info {
				display: flex;
				flex-direction: column;

				.checkout-cart-list-body-item:not(:first-child) {
					border: none;
				}

				.checkout-cart-list-body-item:last-child {
					margin-top: $body-font-size;
				}
			}

			&-item, &-item-info {
				display: flex;
				flex-wrap: wrap;
				border-bottom: solid 1px #D4D4D4;
				padding: 5px 0;

				@media #{$media-sm} {
					flex-direction: row;
					flex-wrap: nowrap;
				}

				&-info {
					border: none;
					span {
						width: 50% !important;
					}

					.checkout-cart-list-item-name {
						width: 50% !important;

						@media #{$media-sm} {
							width: 100% !important;
						}
					}

					.checkout-cart-list-item-price {
						width: 50% !important;

						@media #{$media-sm} {
							width: 150px !important;
						}

						@media #{$media-md} {
							width: 245px !important;
						}
					}
				}

				> span {
					width: 100%;
					padding: 5px 15px;
				}

				.checkout-cart-list-item-price {
					color: #fa3c7a;

					&-discount {
						color: #43c900;
					}
					&-total {
						font-size: 2em;
						overflow: hidden;

						@media #{$media-sm} {
							font-size: 1.4em;
						}

						@media #{$media-md} {
							font-size: 2em;
						}
					}
				}
			}
		}
	}

	&-total-pay {
		padding-left: 15px;
		margin-top: $block-indent-size;

		@media #{$media-sm} {
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: center;

			@media #{$media-sm} {
				padding-right: 10px;
			}

			@media #{$media-md} {
				padding-right: 30px;
			}
		}

		@media #{$media-md} {
			display: flex;
			justify-content: flex-end;
			padding-left: 0;
		}

		.btn {
			margin-top: $block-indent-size;
			margin-bottom: 0;
			font-weight: bold;

			@media #{$media-sm} {
				margin-top: 0;

			}

			@media #{$media-md} {
				padding: 18px 55px;
				margin-left: $block-indent-size;
			}
		}

		.form-group {

		}

		.help-block {
			padding-left: 0;

			.control-label {
				cursor: pointer;
				display: flex;
				align-items: center;
				margin-bottom: 0;

				.checkbox {
					min-width: 35px;
					margin-left: 0;
				}

				input {
					display: none!important;
				}
			}
		}
	}
}