$fast-login-settings-link-color: #43c900;
$fast-login-settings-link-hover-color: #16ac07;


.fast-login {

	&-title {
		text-transform: uppercase;
		font-weight: 500;
		font-size: 80%;
	}

	&-settings {
		display: flex;
		flex-direction: column;
		align-items: center;

		@media #{$media-md} {
			flex-direction: row;
			// padding-left: 100px;
		}

		&-list {
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			align-items: flex-start;
			padding-right: $block-indent-size;

			a {
				font-size: 90%;
				color: $fast-login-settings-link-color;
				text-decoration: underline;
				display: inline-block;
				margin-bottom: 5px;
				&:hover {
					color: $fast-login-settings-link-hover-color;
				}
			}
		}

		.btn {
			margin-top: $block-indent-size;

			@media #{$media-md} {
				margin-top: 0;
				margin-left: auto;
			}
		}
	}

	.form-horizontal {
		.control-label {
			width: 100px;
		}
	}
}