.filter {
	display: flex;
	//margin: calc(10px + #{$block-indent-size}) 0 30px 0;
	flex-direction: column;

	select {
		border: solid 1px #878787;
		box-sizing: border-box;
		background-color: #f3f3f3;
		padding: 6px 15px 5px 5px;
		font-size: 90%;
	}

	@media #{$media-md} {
		flex-direction: row;
	}

	&-view {
		margin-bottom: $block-indent-size;
		display: flex;
		flex-wrap: nowrap;
		white-space: nowrap;
		min-width: 135px;

		@media #{$media-md} {
			margin-bottom: 0;
			flex-direction: row;
		}
	}

	&-order {
		display: flex;
		flex-wrap: wrap;
		margin-top: 10px;

		@media #{$media-lg} {
			margin-top: 0;
			margin-left: auto;
			flex-wrap: nowrap;
		}
		.filter-group {
			margin-right: $block-indent-size;
			padding: 10px 0;

			//&:last-child {
			//	margin-right: 0;
			//}
			//
			//select {
			//	margin-left: 5px;
			//}
		}
	}

	&-view-list, &-view-module {
		transition: color 0.3s, background 0.3s;
		font-size: 22px;
		background: none;
		border: solid 1px #dbdbdb;
		vertical-align: middle;
		display: inline-block;
		width: 35px;
		height: 30px;
		background: #f2f2f2;
		color: #4d4d4d;
		margin-left: 5px;
		padding-top: 2px;

		&:hover {
			background: darken(#f2f2f2, 5%);
		}

		&:after {
			@include mi('view_list');
			margin-left: -1px;
		}
	}

	&-view-module {
		&:after {
			content: 'view_module';
		}
	}
}