$nav-nav-top-background-color: #182a38;

$nav-horizontal-background-color: #43c900;
$nav-horizontal-background-color-hover: #16ac07;

$nav-horizontal-warning-background-color: #fa3c7a;
$nav-horizontal-warning-background-color-hover: #d80047;

.nav-top {
	width: 100%;
	height: 40px;
	background: $nav-nav-top-background-color;
	color: #FFFFFF;
	position: fixed;
	z-index: 999;
	top: 0;
	min-width: 320px;

	@media #{$media-lg} {
		position: relative;
		z-index: auto;
	}

	.container {
		display: flex;
		align-items: center;
		height: inherit;
	}

	a {
		color: #FFFFFF;
		text-transform: uppercase;
		font-size: 75%;
		border-bottom: dashed 1px transparent;

		&:hover {
			color: $nav-horizontal-background-color;
		}

		&.is-active {
			color: $nav-horizontal-background-color;
			border-bottom-color: $nav-horizontal-background-color;
		}
	}

	li {
		height: inherit;
		padding: 5px 15px;
		border-right: solid 1px #FFFFFF;
		display: flex;
		justify-content: center;
		align-items: center;

		&:last-child {
			border: none;
		}
	}

	&-list {
		list-style-type: none;
		height: inherit;
		display: none;

		@media #{$media-lg} {
			display: block;
		}

		li {
			float: left;
		}
	}

	&-lang {
		margin-left: auto;

		&-mobile {
			margin-left: auto;
		}
	}

	&-curr {
		margin-left: 10px;

		&-mobile {
			margin-left: 10px;
			margin-right: 10px;
		}
	}

	&-lang, &-curr{
		@extend .nav-top-list;

		padding-right: 15px;
		display: none;

		@media #{$media-lg} {
			display: block;
		}

		li {
			border: none;
			padding: 5px;
		}

		&-mobile {
			position: relative;
			padding: 0 10px;
			height:inherit;
			display: flex;
			align-items: center;

			@media #{$media-lg} {
				display: none;
			}

			& span {
				color: #FFF;
				text-transform: uppercase;
				font-size: 75%;
				border-bottom: dashed 1px transparent;
			}

			&:hover span {
				color: #43c900;
				border-bottom-color: #43c900;
			}

			& ul {
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				background-color: #000;
				display: none;
			}

			&:hover ul {
				display: block;
			}

			& li {
				border: none !important;
			}
		}
	}

	.nav-mobile {
		display: block;

		@media #{$media-lg} {
			display: none;
		}

		&-button {
			width: 35px;
			height: 35px;
			background: none;
			font-size: 30px;
			margin-left: $block-indent-size;
			border: none;
			vertical-align: middle;
			display: inline-block;
			color: #FFFFFF;
			cursor: pointer;

			&:after {
				@include mi('menu');
			}
		}

		&-info {
			font-size: 0.777em;
			display: inline-block;
			position: relative;
			top: -1px;
			text-transform: capitalize;
		}
	}
}

.nav-horizontal {
	margin-left: -$block-indent-size;
	margin-right: -$block-indent-size;
	background: $nav-horizontal-background-color;
	//min-height: 55px;
	display: none;

	@media #{$media-lg} {
		display: flex;
		//height: 55px;
		flex-direction: row;
		//align-items: center;
		text-align: center;
		align-content: space-between;
	}

	li {
		border: none;
		display: flex;
		justify-content: left;
		align-items: center;
		//padding: $block-indent-size;
		border-right: solid 1px $nav-horizontal-background-color-hover;
		width: 100%;
		//height: 100%;
		position: relative;

		&.is-active {
			background-color: darken($nav-horizontal-background-color, 10%);
		}

		@media #{$media-md} {
			justify-content: center;
			//padding: $block-indent-size 0;
		}

		button {
			color: white;
			background-color: transparent;
			border-color: transparent;
			text-transform: uppercase;
			font-family: Roboto, sans-serif;
			font-size: .8em;
			width: 100%;
			display: block;
			padding: 18px 15px 17px;
			white-space: nowrap;
		}

		a {
			color: #FFFFFF;
			text-transform: uppercase;
			font-size: 0.8em;
			width: 100%;
			display: block;
			padding: 18px 15px 17px;
			white-space: nowrap;
			//max-width: 200px;
			//overflow: hidden;
			//text-overflow: ellipsis;
		}

		&:hover {
			background-color: darken($nav-horizontal-background-color, 10%);
			.dropdown {
				visibility: visible;
				opacity: 1;
			}
		}

		.dropdown {
			display: block;
			visibility: hidden;
			opacity: 0;
			position: absolute;
			flex-direction: column;
			left: 15px;
			top: 100%;
			bottom: -55px;
			z-index: 10;
			width: 100%;
			transition: all 0.3s;

			li {
				background: $nav-horizontal-warning-background-color;
				border-right: none;

				&:hover {
					background: $nav-horizontal-warning-background-color-hover;
				}

				a {
					white-space: normal;
					font-size: 0.65em;
				}
			}
			@extend .nav-horizontal
		}

		@media #{$media-sm} {
			font-size: 80%;
		}

		@media (min-width: 700px) {
			font-size: 95%;
		}

		@media #{$media-md} {
			font-size: 1.1em;
		}

		&.is-large {
			@media #{$media-sm} {
				min-width: 200px;
			}

			@media #{$media-md} {
				min-width: 220px;
			}

			@media #{$media-lg} {
				min-width: 320px;
			}
		}

		&:last-child {
			border: none;
		}

	}

	&-warning {
		background: $nav-horizontal-warning-background-color;

		li {
			border-right: solid 1px $nav-horizontal-warning-background-color-hover;

			&:hover {
				background: $nav-horizontal-warning-background-color-hover;
			}

			&:active,
			&:focus,
			&.is-active {
				background: darken($nav-horizontal-warning-background-color-hover, 5%);
			}
		}

	}
}