.l-news {
	border-bottom: solid 1px #e1e1e1;
	padding-bottom: $block-indent-size;
	margin-bottom: $block-indent-size;
	position: relative;

	&:last-child {
		border: none;
		margin-bottom: $block-indent-size + $block-indent-size;
	}

	.btn {
		margin-top: $block-indent-size;
		padding: 8px 12px;
	}

	&-title {
		margin: 0;
		a {
			color: #555555;
			&:hover {
				color: #fa3c7a;
			}
		}
	}

	&-date {
		margin-bottom: 5px;
		display: block;
		font-weight: bold;
		font-size: 80%;

		time {
		}
	}

	&-text {
		@media (max-width: 768px) {
			img {
				width: auto !important;
				max-width: 100% !important;
				height: auto !important;
				float: none !important;
				margin: 0 !important;
			}
		}
	}

}