$item-primary-color: #43c900;
$item-primary-color-hover: #16ac07;

$item-primary-color-extra: #fa3c7a;
$item-primary-color-extra-hover: #d80047;

.product-short {
	transition: border 0.3s, box-shadow 0.3s;
	font-size: 1em;
	width: 300px;
	border: solid 1px transparent;
	padding: $block-indent-size;

	&-preview {
		text-align: center;
		height: 250px;
		overflow: hidden;
		display: flex;
		justify-content: center;

		> a {
			height: 100%;
		}

		img {
			width: auto;
			height: 100%;
			user-select: none;
		}
	}

	&-name, &-price {
		white-space: nowrap;
		text-align: center;
		overflow: hidden;
		text-overflow: ellipsis;
		padding: 0 $block-indent-size;
	}

	&-name {
		font-size: 140%;
		font-weight: 300;
	}

	&-price {
		margin: 5px 0;
		font-size: 220%;
		color: $item-primary-color-extra;
	}

	&-extra {
		white-space: nowrap;
		text-align: center;
		display: flex;
		justify-content: center;

		.btn {
			&:last-child {
				margin-left: $block-indent-size;
			}

			&:hover {
				background: none;
				color: #555555;
			}
		}

		@media #{$media-sm} {
			.btn {
				padding: 10px 8px;
			}
		}

		@media #{$media-lg} {
			.btn {
				padding: 10px 5px;
			}
		}

		@media #{$media-xl} {
			.btn {
				padding: 13px 16px;
			}
		}
	}

	&:hover {
		border: solid 1px #e1e1e1;
		box-shadow: 0 1px 5px 0 rgba(50, 50, 50, 0.2);
	}
}
