.rating-stars {
	width: 100px;
	height: 18px;
	display: inline-block;
	background: url('../img/stars-sprite.svg') no-repeat;
	background-size: 95px 115px;

	&.rs-1 {
		background-position: 0 -76px;
	}

	&.rs-2 {
		background-position: 0 -57px;
	}

	&.rs-3 {
		background-position: 0 -38px;
	}

	&.rs-4 {
		background-position: 0 -19px;
	}
}
