.registration-form {
  margin-bottom: 55px;

  &-subbmit {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: $block-indent-size;

    @media #{$media-sm} {
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
    }

    .control-label {
      margin-bottom: 0;
    }

    .btn {
      margin-top: $block-indent-size;
      margin-bottom: 0;
      font-weight: bold;

      @media #{$media-sm} {
        margin-top: 0;
        margin-left: $block-indent-size;
      }

      @media #{$media-md} {
        padding: 18px 55px;
      }
    }
  }
}