.reviews-block {
	margin: 0 auto 55px auto;

	@media #{$media-sm} {
		padding: 0 65px;
	}

	.title {
		text-align: center;
		margin-bottom: $block-indent-size;
	}

	ul {
		list-style-type: none;
	}

	> ul {
		> li {
			> ul {
				margin-left: 35px + $block-indent-size;
				@media #{$media-sm} {
					margin-left: 100px + $block-indent-size;
				}
			}
		}
	}

	&-section {
		display: flex;
		margin-bottom: $block-indent-size;

		&-face {
			width: 35px;
			min-width: 35px;
			height: 35px;
			overflow: hidden;
			border-radius: 50%;
			background-position: center center;
			background-size: cover;
			margin-right: $block-indent-size;

			@media #{$media-sm} {
				width: 100px;
				min-width: 100px;
				height: 100px;
			}
		}

		&-info {
			width: 100%;
		}

		&-name {
			font-size: 1.2em;
			text-transform: capitalize;
			font-weight: bold;
			color: #fa3c7a;
		}

		&-text {
			font-size: 90%;
		}

		&-reply {
			background: none;
			border: none;
			color: #fa3c7a;

			&:before {
				@include mi('reply');
			}

			&:hover {
				color: #d80047;
			}
		}
	}

	&-form {
		margin-top: 55px;
		padding: 0;

		@media #{$media-sm} {
			padding: 0 65px;
		}

		&-rating {
			@extend .clearfix;
			float: right;
			display: block;
			width: 100px;

			.c-item {
				transform: scale(0.8);
				transform-origin: 0 center;
			}
		}

		form {
			margin-top: 5px;
			text-align: center;
		}

		textarea {
			width: 100%;
			min-width: 100%;
			min-height: 150px;
		}
	}
}
