.section {
	border-bottom: solid 1px #e1e1e1;
	padding-bottom: $block-indent-size;
	margin-bottom: $block-indent-size;

	&-padding {
		padding-top: 25px;
	}

	&-title {
		text-transform: uppercase;
		font-weight: 500;
		font-size: 120%;
		margin-bottom: 5px;
		span {
			font-size: 65%;
		}
	}
}
