.l-slider {
	height: 300px;
	margin-left: -$block-indent-size;
	margin-right: -$block-indent-size;
	border-top: solid 7px #43c900;
	border-bottom: solid 7px #fa3c7a;

	@media #{$media-sm} {
		height: 400px;
	}

	@media #{$media-lg} {
		border: none;
	}

	.swiper-container {
		height: 100%;

		.swiper-slide {
			color: white;
			text-shadow: 1px 1px 2px rgba(100, 100, 100, 1);
			display: flex;
			padding: $block-indent-size;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;

			@media #{$media-md} {
				padding: $block-indent-size 70px;
			}

			.btn {
				padding: 12px 15px;
				font-size: 1em;

				@media #{$media-sm} {
					padding: 16px 25px;
				}

				@media #{$media-md} {
					font-size: 1.3em;
				}
			}
		}
	}

	&-title {
		width: 100%;
		font-size: 1.8em;
		margin: 0;
		margin-bottom: $block-indent-size;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		flex-shrink: 0;

		@media (max-width : 400px) {
			font-size: 1.6em;
			margin-bottom: 5px;
		}

		@media #{$media-sm} {
			font-size: 2.5em;
		}

		@media #{$media-md} {
			font-size: 3.5em;
		}
	}

	&-description {
		max-width: 600px;
		max-height: 165px;
		overflow: hidden;
		flex-shrink: 0;
		margin-bottom: 20px;

		@media #{$media-sm} {
			font-size: 1.2em;
		}
	}

	&-price {
		width: 100%;
		font-size: 2.2em;
		margin-top: $block-indent-size;
		margin-bottom: $block-indent-size;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		flex-shrink: 0;

		@media (max-width : 400px) {
			font-size: 1.8em;
			margin-top: 5px;
			margin-bottom: 5px;
		}
	}

	@for $i from 1 through 3 {
		&-slide-#{$i} {
			background: url('../img/slider/slide-#{$i}.png') no-repeat;
			background-size: cover;
		}
	}
}