.title {
	margin-bottom: 55px;
	font-weight: 500;

	&-indent-min {
		margin-bottom: $block-indent-size;
	}

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 5px;
	}

	&-group {

	}

	&-description {
		font-size: 90%;
		font-weight: normal;

		@media #{$media-sm} {
			font-size: 100%;
		}
	}
}


.title-separator {
	width: 96%;
	margin: 25px auto;
	text-align: center;
	font-size: 1.4em;
	overflow: hidden;
	white-space: nowrap;
	font-weight: 300;

	@media #{$media-sm} {
		font-size: 1.6em;
	}

	@media #{$media-md} {
		font-size: 2.4em;
	}

	&:before, &:after {
		content: "";
		display: inline-block;
		vertical-align: middle;
		box-sizing: border-box;
		width: 100%;
		height: 2px;
		background: none repeat scroll 0 0 #e8e8e8;
		border-style: solid;
		border-color: #FFF;
		border-image: none;
		border-width: 0 0;
		position: relative;
		z-index: 0;
	}

	&:after {
		margin-right: -100%;
	}
	&:before {
		margin-left: -100%;
	}

	> span {
		&:before, &:after {
			content: "";
			display: inline-block;
			vertical-align: middle;
			box-sizing: border-box;
			width: 12px;
			height: 12px;
			border: solid 2px #e8e8e8;
			border-radius: 50%;
			background: #FFFFFF;
			position: relative;
			z-index: 1;
		}

		&:before {
			margin-left: -10px;
			margin-right: 10px;
			background: #FFFFFF;

			@media #{$media-md} {
				margin-right: 25px;
			}

			@media #{$media-lg} {
				margin-right: 50px;
			}

		}

		&:after {
			margin-right: -10px;
			margin-left: 10px;
			background: #FFFFFF;

			@media #{$media-md} {
				margin-left: 25px;
			}

			@media #{$media-lg} {
				margin-left: 50px;
			}
		}
	}
}