<div class="product-short">

    <div class="product-short-preview">
        <a href="product.html"><img src="img/products/item-3.jpg" alt="" /></a>
    </div>

    <div class="product-short-name">Букет 62 </div>

    <div class="product-short-price">$65</div>

    <div class="product-short-extra">
        <a href="product.html" class="btn">Подробнее</a>
        <button class="btn btn-warning">В корзину</button>
    </div>

</div>