* {
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: #e8eef3;
}

.td-checkbox {
    width: 50px;
}

.td-number {
    width: 75px;
}

.td-status,
.td-boolean {
    width: 120px;
}

.td-control {
    width: 150px;
}

.td-name {
    width: 200px;
}

.td-lang,
.td-date {
    width: 180px;
}

.td-image,
.td-price {
    width: 100px;
}

/* timed drag fix */

.select2-selection--multiple:not([class*=bg-]) .select2-selection__choice {
    max-height: 36px;
}

.tab-content .panel-body > {
    .tab-pane {
        display: none;
    }
    .active {
        display: block;
    }
}

.panel {
    box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.12);
}

textarea {
    resize: vertical;
}

.panel.note-editor {
    border: 0;
    border-radius: 0;
    box-shadow: none;
}

.note-editor .note-toolbar {
    padding: 0;
}

.note-popover .popover-content > .note-btn-group,
.note-toolbar > .note-btn-group {
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 0;
}

.note-editor .note-editable {
    padding: 0;
}

.note-handle .note-control-selection {
    top: auto !important;
}

.navbar-inverse {
    background: #424a59;
    box-shadow: 0 15px 40px -10px rgba(48, 56, 73, 0.68);
}

.navbar-header {
    min-width: 0;
    margin: 0;
}

.navbar-brand {
    padding: 0;
    line-height: 50px;
    svg {
        float: left;
        fill: #fff;
        height: 80%;
        margin: 5px 0;
        @media (max-width: 768px) {
            padding-left: 20px;
        }
    }
}

.dropzone .dz-preview .dz-image {
    width: 250px;
    height: 250px;
}

.dropdown-menu {
    min-width: 160px;
    box-shadow: 0 3px 45px rgba(0, 0, 0, 0.16);
}

.navbar-brand-name {
    margin-left: 15px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
}

.panel-dashboard-info {
    overflow: hidden;
    border-radius: 5px;
    &.bg-teal-400 {
        box-shadow: 0 10px 40px -10px rgb(38, 166, 154);
    }
    &.bg-indigo-400 {
        box-shadow: 0 10px 40px -10px rgb(92, 107, 192);
    }
    &.bg-success-400 {
        box-shadow: 0 10px 40px -10px rgb(102, 187, 106);
    }
}

.alert {
    box-shadow: 0 15px 50px -20px;
}

.pace .pace-progress {
    height: 3px;
    background: #00bcd4;
    box-shadow: 0 0 15px #00bcd4;
}

//  product images
.dropzone {
    position: relative;
    display: flex;
    display: flex;
    min-height: 180px;
    margin: 0;
    padding: 0;
    padding: 0;
    padding: 5px;
    list-style: none;
    list-style: none;
    user-select: none;
    border: 3px dashed #eee;
    border-radius: 2px;
    background-color: #fcfcfc;

    flex-wrap: wrap;
    &:before {
        position: absolute;
        z-index: 0;
        top: 50%;
        left: 50%;
        display: inline-block;
        width: 64px;
        height: 64px;
        content: '\ea0e';
        transform: translate(-50%, -80%);
        text-indent: 0;
        color: #cfd8dc;
        font-family: 'icomoon';
        font-size: 64px;
        font-weight: normal;
        line-height: 1;

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    &:after {
        position: absolute;
        z-index: 0;
        top: 50%;
        left: 50%;
        content: attr(data-drop);
        transform: translate(-50%, 150%);
        color: #b0bec5;
        font-size: 17px;
        font-weight: 300;
    }
    div.image-preview {
        &.dz-processing {
            .dz-progress {
                visibility: visible;
                opacity: 1;
            }
            .dz-img,
            .dz-remove,
            .dz-amby {
                visibility: hidden;
                transition: transform 0.5s, opacity 0.5s;
                transform: scale(1.2);
                opacity: 0;
            }
        }
        &.dz-complete {
            .dz-progress {
                visibility: hidden;
                opacity: 0;
            }
            .dz-img,
            .dz-remove,
            .dz-amby {
                visibility: visible;
                transform: scale(1);
                opacity: 1;
            }
        }
        &.dz-failed {
            .dz-error {
                visibility: visible;
                opacity: 1;
            }
        }
        &.dz-doned {
            .dz-done {
                transform-origin: center;
                animation: dz-done 3s forwards;
            }
        }
        .dz-remove {
            position: absolute;
            z-index: 3;
            top: 4px;
            right: 6px;
            display: block;
            margin-top: 0;
            padding: 0;
            cursor: pointer;
            transition: opacity 0.3s, visibility 0.3s, color 0.3s;
            text-align: center;
            opacity: 0;
            color: rgba(255, 255, 255, 1);
            border: 0;
            border-radius: inherit;
            background: none;
            text-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
            &:hover {
                color: #fff;
                background: none;
            }
        }
        .spinner,
        .dz-error,
        .dz-done {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .dz-error,
        .dz-done {
            z-index: 1;
            visibility: hidden;
            // transform: scale(1.5);
            opacity: 0;
            i {
                color: rgba(255, 87, 34, 0.9);
                text-shadow: 0 0 40px #f00;
                font-size: 60px;
            }
        }
        .dz-done i {
            color: rgba(76, 175, 80, 0.9);
            text-shadow: 0 0 40px #4caf50;
        }
        .dz-progress {
            position: absolute;
            z-index: 1;
            top: inherit;
            right: 10px;
            bottom: 10px;
            left: 10px;
            display: block;
            visibility: visible;
            height: 10px;
            margin-top: -5px;
            transition: opacity 0.8s, visibility 0.8s;
            border-radius: 8px;
            background-color: rgba(255, 152, 0, 0.3);
            .dz-upload {
                border-radius: 20px;
                background-color: rgba(255, 193, 7, 0.95);
                box-shadow: 0 4px 15px -2px #bb7000;
            }
        }
        .dz-file-preview [data-dz-thumbnail] {
            display: block;
            width: 100%;
            height: 100%;
            cursor: move;
            cursor: grab;
            cursor: -moz-grab;
            cursor: -webkit-grab;
            border-radius: 15px;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
            &:active {
                cursor: grabbing;
                cursor: -moz-grabbing;
                cursor: -webkit-grabbing;
            }
        }
        .spinner {
            margin-top: -10px;
            margin-left: -10px;
        }
        &.is-main-photo .dz-preview:after {
            position: absolute;
            z-index: 1;
            top: 5px;
            left: 10px;
            display: inline-block;
            min-width: 1em;
            content: '\e901';
            text-align: center;
            vertical-align: middle;
            text-transform: none;
            color: #fff;
            text-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
            font-family: 'icomoon';
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-variant: normal;
            line-height: 1;

            speak: none;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        .dz-preview {
            display: block;
            width: 140px;
            height: 140px;
            margin: 20px;
            padding: 0;
            border: 0;
            border-radius: 15px;
            background: none;
        }
    }
    .dz-message {
        display: none;
    }
}

.dz-img {
    position: relative;
    z-index: 1;
}

.dz-amby {
    position: absolute;
    z-index: 0;
    top: 0;
    filter: blur(15px);
    transform: scale(1.1) translate(0, 7px);
    opacity: 0.6;

    -webkit-filter: blur(15px);
}

@keyframes dz-done {
    50%,
    70% {
        visibility: visible;
        opacity: 1;
    }
    0%,
    100% {
        visibility: hidden;
        opacity: 0;
    }
}

.dropzone.btn {
    position: absolute;
    z-index: 1;
    right: 10px;
    bottom: 10px;
    width: 70px;
    height: 70px;
    min-height: 70px;
    padding: 5px;
    border: 0;
    border-radius: 50%;
    background-color: #4caf53;
    .dz-default.dz-message {
        position: absolute;
        top: 50%;
        left: 0;
        width: 70px;
        height: 70px;
        margin-top: -35px;
        span {
            display: none;
        }
        &:before {
            top: 48px;
            width: 80px;
            height: 80px;
            margin-top: -29px;
            margin-left: -39px;
            color: #fff;
            font-size: 30px;
        }
    }
}

// tree icons
.fancytree-expander,
.fancytree-icon {
    color: #2196f3;
}

.fancytree-title {
    margin: 0;
}

.fancytree-expander,
.fancytree-icon {
    width: auto;
}

.fancytree-active,
.fancytree-expanded {
    .fancytree-title,
    .fancytree-icon,
    .fancytree-expander {
        color: #4caf50;
        background: none;
    }
}

.fancytree-exp-c .fancytree-expander:after,
.fancytree-exp-cl .fancytree-expander:after,
.fancytree-exp-cd .fancytree-expander:after,
.fancytree-exp-cdl .fancytree-expander:after {
    content: '\ea4c';
}

.fancytree-exp-e .fancytree-expander:after,
.fancytree-exp-ed .fancytree-expander:after,
.fancytree-exp-el .fancytree-expander:after,
.fancytree-exp-edl .fancytree-expander:after,
.fancytree-statusnode-error .fancytree-icon:after {
    content: '\ea4d';
}

.fancytree-ico-cf .fancytree-icon:after,
.fancytree-ico-ef .fancytree-icon:after,
.fancytree-ico-c .fancytree-icon:after,
.fancytree-ico-e .fancytree-icon:after {
    content: '\ea4a';
}

.fancytree-has-children.fancytree-ico-cf .fancytree-icon:after,
.fancytree-has-children.fancytree-ico-c .fancytree-icon:after,
.fancytree-has-children.fancytree-ico-ef .fancytree-icon:after,
.fancytree-has-children.fancytree-ico-e .fancytree-icon:after {
    display: none;
}

.border-bottom-ddd {
    border-color: #ddd;
}

.select2-selection--multiple .select2-selection__choice {
    padding: 5px 11px;
}

.select2-selection--multiple:not([class*=bg-])[class*=border-] .select2-selection__rendered {
    padding: 0;
}

.select2-selection--multiple .select2-search--inline .select2-search__field {
    margin: 0;
    padding: 5px 0;
}

.form-group.required label:after {
    position: relative;
    top: -5px;
    display: inline-block;
    min-width: 1em;
    content: '\f052';
    text-align: center;
    vertical-align: middle;
    text-transform: none;
    color: #ef5350;
    font-family: 'icomoon';
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ui-pnotify {
    &-title {
        letter-spacing: 0;
        font-size: 14px;
        font-weight: 300;
    }
    &.bg-warning {
        box-shadow: 0 10px 40px 0 rgba(255, 87, 34, 0.6);
    }
    &.bg-success {
        box-shadow: 0 10px 40px 0 rgba(76, 175, 80, 0.6);
    }
    &.bg-danger {
        box-shadow: 0 10px 40px 0 rgba(244, 67, 54, 0.6);
    }
}

button.value-edit {
    margin: 2px 0;
}

.form-group.has-error .note-editor .note-statusbar .note-resizebar,
.form-group.has-error .note-editor .note-statusbar .note-resizebar .note-icon-bar {
    border-color: #d84315;
}

.form-group.has-error .note-editor .note-statusbar {
    background-color: #ffebee;
}

#grid-filter .table > tbody > tr > td:first-child {
    width: 130px;
}

select[multiple],
select[size] {
    height: 240px;
}

select[multiple] option,
select[size] option {
    padding: 4px 8px;
    border-radius: 0;
}

.custom-modal-bg {
    padding: 13px 20px;
    color: #fff;
    background-color: #424a59;
    .languages-switch {
        position: absolute;
        top: 4px;
        right: 50px;
    }
    .close {
        position: absolute;
        top: 13px;
        right: 20px;
        margin-top: 0;
        color: #fff;
    }
    .nav-tabs {
        border-bottom: 0;
        .dropdown-menu {
            margin-top: 3px;
        }
        > li.active {
            > a:after {
                background: none !important;
            }
        }
        > li {
            > a, > a:hover, > a:after, > a.active {
                color: #fff;
                border: 0;
                background: transparent;
            }
        }
    }
}

.nav-tabs.nav-tabs-bottom > li.active > a:after {
    background-color: #2196f3;
}

.dropdown-menu {
    overflow: hidden;
    min-width: 160px;
    padding: 0;
    > .active {
        > a, > a:hover, > a:focus {
            background-color: #2196f3;
        }
    }
}

.menu-list li {
    &.active {
        > a, > a:hover, > a:focus {
            background-color: #2196f3;
        }
    }
}

.form-control:focus {
    border-bottom-color: #2196f3;
    -webkit-box-shadow: 0 1px 0 #2196f3;
    box-shadow: 0 1px 0 #2196f3;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    margin: 0;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.checkbox-switchery .switchery {
    top: 0;
}

.navbar-nav .language-switch .dropdown-menu > li > a > img {
    margin-top: 2px;
}

.navbar-nav .language-switch .dropdown-toggle > img {
    width: 24px;
}

.dataTables_length .select2-container {
    width: auto !important;
}

// timed

.datatable-header {
    display: none;
}

// timed
.divide-right {
    width: auto;
    margin-right: 15px;
    padding-right: 20px;
    border-right: 1px solid #ddd;
}

.margin-top-20 {
    margin-top: 20px;
}

.elfinder-stat-size,
.elfinder-statusbar,
.ui-resizable-handle,
.elfinder-button-search {
    display: none !important;
}

.elfinder .elfinder-navbar {
    background: none !important;
}
// timed


.thumb {
    overflow: hidden;
    height: 150px;
    &-image {
        height: 100%;
        background-position: 50% 50%;
        background-size: cover;
    }
}
