<article class="l-news">
    <h4 class="l-news-title"><a href="">Новость 2</a></h4>
    <span class="l-news-date">Добавлена: <time datetime="2016-02-12">12.02.2016</time></span>
    <div class="l-news-text clearfix">
        <img src="img/news-video.png" alt="" style="float: right; margin: 0 0 0 15px;" />
        <p>Потрясающий для любого случая, по любому поводу , этот захватывающий букет из 19
        красных роз премиум качества доставит все Ваши чувства для Вашей девушки!</p>

        <p>Реальные фотографии цветов букетов можно посмотреть на нашей странице в фейсбуке
        www.facebook.com/kievdelivery или на странице Фото Доставок. Советуем посетить разделы
            с продуктами и шампанским в Украине - товары из этих разделов могут стать
            прекрасным дополнением к Вашим прекрасным розам.
        </p>
    </div>
    <a href="" class="btn btn-warning">Подробнее</a>
</article>